.atuacao {
  padding-top: 67px;
  background-image: url(../images/atuacao/bg-net.png);
  background-repeat: no-repeat;
  background-position: -76px -93px;
}
@media (max-width: 800px) {
  .atuacao {
    background-size: contain;
  }
}
.atuacao p {
  line-height: 31px;
}
.atuacao .title-lg {
  margin-bottom: 27px;
}
.atuacao .title-lg span {
  font-size: 27px;
}
.atuacao h3 {
  color: #8EBAAE;
  text-align: right;
  font-weight: bold;
  font-size: 27px;
  margin-top: 25px;
  line-height: 31px;
}
@media (max-width: 500px) {
  .atuacao h3 {
    text-align: left;
  }
}
.atuacao .flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 780px;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .atuacao .flex-container {
    flex-direction: column;
  }
}
.atuacao .flex-container .col-1 {
  flex: 1;
  margin-left: 10px;
}
.atuacao .flex-container .col-1:first-child {
  margin-left: 0;
}
.atuacao .grafico-1 {
  max-width: 928px;
  width: 100%;
  float: right;
  margin-top: -100px;
  position: relative;
  margin-bottom: -25px;
  z-index: 1;
}
@media (max-width: 800px) {
  .atuacao .grafico-1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.atuacao .grafico-1 img.net {
  width: 100%;
}
.atuacao .grafico-1 .btn-icon {
  position: absolute;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon:nth-child(-n+5) .tooltip {
    left: 30px;
  }
  .atuacao .grafico-1 .btn-icon:nth-child(n+6) .tooltip {
    left: -200px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-1 {
  top: 37%;
  right: 58%;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon.icon-1 {
    left: 15%;
    top: 50px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-1 .icon:after {
  background-image: url(../images/atuacao/icon-1.png);
}
.atuacao .grafico-1 .btn-icon.icon-2 {
  top: 62%;
  right: 78%;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon.icon-2 {
    left: 15%;
    top: 120px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-2 .icon:after {
  background-image: url(../images/atuacao/icon-2.png);
}
.atuacao .grafico-1 .btn-icon.icon-3 {
  top: 62%;
  right: 41%;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon.icon-3 {
    left: 15%;
    top: 190px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-3 .icon:after {
  background-image: url(../images/atuacao/icon-3.png);
}
.atuacao .grafico-1 .btn-icon.icon-4 {
  top: 50%;
  right: 31%;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon.icon-4 {
    left: 15%;
    top: 260px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-4 .icon:after {
  background-image: url(../images/atuacao/icon-4.png);
}
.atuacao .grafico-1 .btn-icon.icon-5 {
  top: 77%;
  right: 99%;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon.icon-5 {
    left: 65%;
    top: 50px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-5 .icon:after {
  background-image: url(../images/atuacao/icon-5.png);
}
.atuacao .grafico-1 .btn-icon.icon-6 {
  top: 84%;
  right: 44%;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon.icon-6 {
    left: 65%;
    top: 120px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-6 .icon:after {
  background-image: url(../images/atuacao/icon-6.png);
}
.atuacao .grafico-1 .btn-icon.icon-7 {
  top: 72%;
  right: 62%;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon.icon-7 {
    left: 65%;
    top: 190px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-7 .icon:after {
  background-image: url(../images/atuacao/icon-7.png);
}
.atuacao .grafico-1 .btn-icon.icon-8 {
  top: 37%;
  left: 61%;
}
@media (max-width: 500px) {
  .atuacao .grafico-1 .btn-icon.icon-8 {
    left: 65%;
    top: 260px;
  }
}
.atuacao .grafico-1 .btn-icon.icon-8 .icon:after {
  background-image: url(../images/atuacao/icon-8.png);
}
.atuacao .grafico-1 .btn-icon .icon {
  position: relative;
  cursor: pointer;
}
.atuacao .grafico-1 .btn-icon .icon:before {
  z-index: 1;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -25px;
  margin-top: -25px;
  background-color: #8EBAAE;
  opacity: 0.5;
  border-radius: 30px;
  animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
}
.atuacao .grafico-1 .btn-icon .icon:after {
  z-index: 2;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -25px;
  margin-top: -25px;
  background-color: #8EBAAE;
  border-radius: 30px;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.atuacao .grafico-1 .btn-icon .icon:hover:after {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
}
.atuacao .grafico-1 .btn-icon .tooltip {
  display: none;
  position: absolute;
  top: -37px;
  left: -207px;
  width: 140px;
  font-size: 12px;
  line-height: 14px;
  background: #8ebaae;
  border-radius: 9px;
  padding: 14px;
  color: white;
  z-index: 9;
}
.atuacao .grafico-1 .btn-icon .tooltip h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 14px;
}
.atuacao .grafico-1 .btn-icon .tooltip p {
  line-height: 13px;
  font-size: 12px;
}
.atuacao .grafico-1 .btn-icon .tooltip.active {
  display: block;
}
.atuacao .gargalo-btn {
  position: absolute;
  display: inline-flex;
  margin-top: 130px;
  max-width: 100%;
  height: unset;
  padding: 11px 30px;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: normal;
}
@media (max-width: 800px) {
  .atuacao .gargalo-btn {
    display: none;
  }
}
.atuacao .gargalo-btn:before {
  content: "";
  position: absolute;
  width: 49px;
  height: 27px;
  bottom: -40px;
  left: calc(50% - 24px);
  background-image: url(../images/atuacao/arrow-down.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-slide {
  padding: 9px 23px;
  /* margin-top: 32px; */
  line-height: 45px;
  margin-top: 62px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  max-width: 230px;
  height: 50px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #6568D0;
  cursor: pointer;
}

.gargalos {
  background-image: url("../images/atuacao/bg-gargalos.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  margin-top: 390px;
  line-height: 27px;
  padding-top: 77px;
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
}
.gargalos p {
  color: white;
}
.gargalos .title-lg {
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}
.gargalos .col-1 {
  max-width: 520px;
}
@media (min-width: 801px) and (max-width: 1025px) {
  .gargalos .col-1 {
    width: 50%;
  }
}
.gargalos .botoes .gargalo-link {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 8px 0;
  cursor: pointer;
  transition: font-size 0.5s;
  height: 31px;
}
@media (max-width: 500px) {
  .gargalos .botoes .gargalo-link {
    height: 81px;
  }
}
.gargalos .botoes .gargalo-link.active {
  font-size: 22px;
}
@media (max-width: 800px) {
  .gargalos .botoes .gargalo-link.active {
    height: unset;
  }
}
@media (max-width: 500px) {
  .gargalos .botoes .gargalo-link.active {
    font-size: 16px;
  }
}
.gargalos .botoes .gargalo-link.active .ball-list {
  transform: scale(0);
}
.gargalos .botoes .gargalo-link.active .ball {
  transform: scale(1);
}
.gargalos .botoes .gargalo-link.active .slide-value {
  width: 80%;
  margin: auto;
}
@media (max-width: 500px) {
  .gargalos .botoes .gargalo-link.active .slide-value {
    margin-bottom: 60px;
  }
}
.gargalos .botoes .gargalo-link.active .slide-value p {
  font-size: 12px;
}
.gargalos .botoes .gargalo-link.active .slide-value .btn-slide {
  display: none;
}
@media (max-width: 800px) {
  .gargalos .botoes .gargalo-link.active .slide-value .btn-slide {
    display: none;
    align-items: center;
    justify-content: center;
    line-height: normal;
  }
}
@media (max-width: 500px) {
  .gargalos .botoes .gargalo-link.active .slide-value .btn-slide {
    font-size: 11px;
    padding: 9px 16px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.gargalos .botoes .gargalo-link .ball-list {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  background-color: white;
  position: relative;
  margin-right: 10px;
  transform: scale(1);
  transition: transform 0.5s;
}
.gargalos .botoes .gargalo-link .ball-list:after {
  content: "";
  border: 2px solid white;
  width: 12px;
  position: absolute;
  height: 12px;
  top: -3px;
  left: -3px;
  border-radius: 10px;
  display: block;
}
.gargalos .botoes .gargalo-link .ball {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: inline-block;
  background-color: #6669D1;
  position: absolute;
  margin-left: 10px;
  margin-bottom: -6px;
  transform: scale(0);
  transition: transform 0.5s;
}
.gargalos .botoes .gargalo-link .ball:after {
  content: "";
  border: 1px solid #6669D1;
  width: 35px;
  position: absolute;
  height: 35px;
  top: -3px;
  left: -3px;
  border-radius: 35px;
  display: block;
}
.gargalos .botoes .gargalo-link .ball:before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  border-bottom: 1px solid #6669D1;
  width: 1544%;
  display: block;
}
.gargalos .conteudo {
  width: 780px;
  height: 780px;
  position: absolute;
  bottom: -130px;
  right: -50px;
  border-radius: 550px;
}
@media (min-width: 801px) and (max-width: 1025px) {
  .gargalos .conteudo {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .gargalos .conteudo {
    display: none;
  }
}
.gargalos .conteudo:after {
  content: "";
  display: block;
  width: 790px;
  height: 790px;
  border: 1px solid #6669D1;
  border-radius: 100%;
  position: absolute;
  top: -7px;
  left: -7px;
}
.gargalos .conteudo .slide {
  display: none;
  width: 780px;
  height: 780px;
  position: relative;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-radius: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gargalos .conteudo .slide.active {
  display: block;
}
.gargalos .conteudo .slide:after {
  content: "";
  display: block;
  width: 100%;
  z-index: 1;
  height: 100%;
  background: linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 2.44%, #363334 100%);
  background: -webkit-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 2.44%, #363334 100%);
}
.gargalos .conteudo .slide .content {
  display: block;
  position: absolute;
  top: 30%;
  width: 50%;
  left: 19%;
  font-weight: bold;
  z-index: 2;
}
@media (min-width: 801px) and (max-width: 1025px) {
  .gargalos .conteudo .slide .content {
    width: 30%;
  }
}

.visao {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding-top: 67px;
  padding-bottom: 67px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/atuacao/bg-net.png);
  background-repeat: no-repeat;
  background-position: -76px -93px;
}
.visao .title-lg {
  color: #6568D0;
  position: relative;
}
.visao .title-lg.barra-cinza:after {
  content: "";
  background: #E5E6E7;
  height: 191%;
  width: 500px;
  left: -514px;
  top: 0;
  position: absolute;
  height: 300px;
}
@media (max-width: 500px) {
  .visao .title-lg.barra-cinza:after {
    display: none;
  }
}
.visao .graphic-itens-list {
  position: absolute;
  padding: 30px 0 0 30px;
}
@media (max-width: 1200px) {
  .visao .graphic-itens-list {
    position: relative;
  }
}
@media (max-width: 800px) {
  .visao .graphic-itens-list {
    padding: 30px 30px 0 0px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item {
  margin-bottom: 20px;
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(1) .graphic-title:after {
  width: 440px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(1) .graphic-title:after {
    width: 400px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(2) .graphic-title:after {
  width: 500px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(2) .graphic-title:after {
    width: 450px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(3) .graphic-title:after {
  width: 670px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(3) .graphic-title:after {
    width: 600px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(4) .graphic-title:after {
  width: 280px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(4) .graphic-title:after {
    width: 220px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(5) .graphic-title:after {
  width: 510px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(5) .graphic-title:after {
    width: 460px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-title {
  display: inline;
  position: relative;
  font-size: 26px;
  color: #8ebaae;
  font-weight: 700;
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-title:after {
  content: "";
  position: absolute;
  left: 100%;
  margin-left: 18px;
  display: block;
  bottom: 7px;
  height: 3px;
  background-color: #8ebaae;
}
@media (max-width: 1200px) {
  .visao .graphic-itens-list .graphic-itens-list-item .graphic-title:after {
    display: none;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-title a {
  text-decoration: none;
  color: unset;
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-text {
  font-size: 17px;
  max-width: 450px;
}
@media (max-width: 800px) {
  .visao .graphic-itens-list .graphic-itens-list-item .graphic-text {
    max-width: 100%;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-text a {
  text-decoration: none;
  font-weight: 700;
  color: #8ebaae;
  transition: all 0.3s;
}
@media (max-width: 800px) and (min-width: 501px) {
  .visao .graphic-itens-list .graphic-itens-list-item .graphic-text a {
    display: block;
    margin: 5px 0;
  }
}
@media (max-width: 500px) {
  .visao .graphic-itens-list .graphic-itens-list-item .graphic-text a {
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-text a:hover {
  color: #6568D0;
  transition: all 0.3s;
}
.visao .grafico {
  float: right;
  max-width: 640px;
  margin-right: 50px;
  width: 100%;
  margin-top: -10px;
  position: relative;
}
@media (max-width: 1200px) {
  .visao .grafico {
    display: none;
  }
}
.visao .grafico img {
  width: 100%;
}
.visao .grafico .btn {
  position: absolute;
  cursor: pointer;
}
@media (max-width: 500px) {
  .visao .grafico .btn:nth-child(-n+5) .tooltip {
    left: 70px;
  }
}
.visao .grafico .btn .ball {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: inline-block;
  background-color: #8ebaae;
  position: relative;
  margin-left: 10px;
  margin-bottom: -6px;
}
.visao .grafico .btn .ball:after {
  content: "";
  border: 1px solid #6669D1;
  width: 60px;
  position: absolute;
  height: 60px;
  top: -1px;
  left: -1px;
  border-radius: 65px;
  display: block;
  transform: scale(1);
  animation: pulse-2 2s infinite;
  -moz-animation: pulse-2 2s infinite;
  -webkit-animation: pulse-2 2s infinite;
  -o-animation: pulse-2 2s infinite;
}
.visao .grafico .btn .tooltip {
  display: none;
  position: absolute;
  top: -37px;
  left: -117px;
  width: 110px;
  font-size: 12px;
  line-height: 14px;
  background: #8ebaae;
  border-radius: 9px;
  padding: 14px;
  color: white;
  z-index: 9;
}
.visao .grafico .btn .tooltip h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 14px;
}
.visao .grafico .btn .tooltip p {
  line-height: 13px;
  font-size: 12px;
  margin-bottom: 5px;
}
.visao .grafico .btn .tooltip a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
}
.visao .grafico .btn .tooltip a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.visao .grafico .btn .tooltip.active {
  display: block;
}
.visao .grafico .btn.btn-1 {
  top: 5%;
  left: 18%;
}
.visao .grafico .btn.btn-2 {
  top: 19%;
  left: 28%;
}
.visao .grafico .btn.btn-3 {
  top: 57%;
  left: 0%;
}
.visao .grafico .btn.btn-4 {
  top: 42%;
  left: 43%;
}
.visao .grafico .btn.btn-5 {
  top: 79%;
  left: 18%;
}
.visao .modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  padding: 79px 0;
  line-height: 23px;
}
@media (max-width: 500px) {
  .visao .modal {
    height: 90%;
  }
}
.visao .modal.active {
  display: block;
}
@media (max-width: 500px) {
  .visao .modal.active {
    position: fixed;
    z-index: 99999999;
    padding: 50px 0px;
    overflow: auto;
  }
}
.visao .modal .title-lg {
  margin-bottom: 15px;
}
.visao .modal p, .visao .modal ul {
  margin-bottom: 15px;
}
.visao .modal strong {
  font-weight: bold;
}
.visao .modal ul, .visao .modal li {
  font-family: "Montserrat", sans-serif;
}
.visao .modal li {
  list-style: circle;
  margin-left: 20px;
}
.visao .modal .btn-fechar {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 80px;
  top: 63px;
  line-height: 2;
  display: block;
  cursor: pointer;
  color: #6669D1;
  width: 90px;
  padding-right: 0;
  height: 32px;
}
@media (max-width: 500px) {
  .visao .modal .btn-fechar {
    right: 10px;
    top: 10px;
  }
}
.visao .modal .btn-fechar:after, .visao .modal .btn-fechar:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #6568D0;
  position: absolute;
  top: 43%;
  transform: rotate(45deg);
  right: 0;
}
.visao .modal .btn-fechar:before {
  transform: rotate(-45deg);
}
.visao .modal .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
@media (max-width: 500px) {
  .visao .modal .flex-container {
    flex-direction: column-reverse;
  }
}
.visao .modal .flex-container .col-1 {
  flex: 1;
  margin-left: 10px;
}
@media (max-width: 500px) {
  .visao .modal .flex-container .col-1 {
    width: 100%;
    margin: 0 auto 20px;
  }
}
.visao .modal .flex-container .col-1:first-child {
  margin-left: 0;
}
.visao .modal .flex-container .col-1 .foto {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .visao .modal .flex-container .col-1 .foto {
    min-height: 300px;
  }
}

.modal-lozinsky {
  padding: 64px 0 !important;
  max-width: 1025px !important;
}
@media (max-width: 500px) {
  .modal-lozinsky {
    width: 100% !important;
    min-height: 100% !important;
  }
}
.modal-lozinsky .modal-block {
  display: flex;
}
.modal-lozinsky .modal-block .menu-modal-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 23px;
  width: 180px;
  font-size: 14px;
  font-weight: 700;
  background-color: #E5E6E8;
}
@media (max-width: 800px) {
  .modal-lozinsky .modal-block .menu-modal-block {
    display: none;
  }
}
.modal-lozinsky .modal-block .menu-modal-block a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 8px;
  color: #6669D1;
}
.modal-lozinsky .modal-block .menu-modal-block a.menu-item-active {
  opacity: 0.6;
}
.modal-lozinsky .modal-block .menu-modal-block a:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-image: url(../images/list-bullets.png);
  background-size: contain;
  background-position: center;
  margin-right: 6px;
}
.modal-lozinsky .modal-block .modal-content {
  position: relative;
  padding: 0 62px;
  width: calc(100% - 180px);
}
@media (max-width: 800px) {
  .modal-lozinsky .modal-block .modal-content {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content {
    box-sizing: border-box;
    padding: 0 45px;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-title {
  font-size: 35px;
  font-weight: 700;
  color: #6669D1;
  margin-bottom: 8px;
}
@media (max-width: 320px) {
  .modal-lozinsky .modal-block .modal-content .modal-title {
    font-size: 25px;
  }
}
.modal-lozinsky .modal-block .modal-content .arrow-modal {
  position: absolute;
  top: calc(50% - 11px);
}
.modal-lozinsky .modal-block .modal-content .arrow-modal.arrow-left {
  left: 25px;
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .arrow-modal.arrow-left {
    left: 15px;
  }
}
.modal-lozinsky .modal-block .modal-content .arrow-modal.arrow-right {
  right: 25px;
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .arrow-modal.arrow-right {
    right: 15px;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-content-block {
  display: flex;
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .modal-content-block {
    flex-direction: column-reverse;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-content-block p, .modal-lozinsky .modal-block .modal-content .modal-content-block ul, .modal-lozinsky .modal-block .modal-content .modal-content-block li {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 127.4%;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block p, .modal-lozinsky .modal-block .modal-content .modal-content-block ul {
  margin-bottom: 10px;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block li {
  display: flex;
  align-items: center;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block li:before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: #000;
  border-radius: 100%;
  margin-right: 5px;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block .font-bold {
  font-weight: 700;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block .modal-text-block {
  width: calc(50% - 22px);
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-text-block {
    width: 100%;
    margin: auto;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-content-block .modal-text-block:not(:last-of-type) {
  margin-right: 22px;
}
@media (max-width: 800px) and (min-width: 501px) {
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-image-block {
    width: 50%;
  }
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-image-block img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-image-block {
    display: none;
    width: 100%;
  }
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-image-block img {
    max-width: 100%;
    height: auto;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-contact-block a {
  text-decoration: none;
  font-weight: 700;
  color: #6669D1;
}
.modal-lozinsky .modal-block .close-modal-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: absolute;
  right: 25px;
  top: -30px;
  color: #6669D1;
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .close-modal-btn {
    top: -35px;
  }
}
.modal-lozinsky .modal-block .close-modal-btn:after {
  content: "";
  width: 19px;
  height: 19px;
  display: block;
  background-image: url(../images/atuacao/close-purple.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.blocker {
  z-index: 50 !important;
  box-sizing: content-box !important;
  padding: 0 !important;
}

.modal a.close-modal {
  display: none !important;
}

/* Animation Keyframes*/
@keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* Animation Keyframes*/
@keyframes pulse {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@-moz-keyframes pulse {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@-webkit-keyframes pulse {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}
@-o-keyframes pulse {
  0% {
    width: 50px;
    height: 50px;
  }
  50% {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
  }
  100% {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=atuacao.css.map */
