@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
}

.cat-text {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  color: #6568D0;
  margin-bottom: 36px;
}

.cat-line-right {
  position: relative;
  z-index: 1;
}
.cat-line-right:before {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 100%;
  right: calc(-50% - 20px);
  height: 1px;
  content: " ";
  background-color: #6568D0;
}
@media (max-width: 800px) {
  .cat-line-right:before {
    display: none;
  }
}

.text-xl {
  font-family: "Montserrat", sans-serif;
  color: #353233;
  font-weight: 700;
  margin-bottom: 14px;
}

.career-text {
  font-family: "Montserrat", sans-serif;
  color: #353233;
  line-height: 31px;
  padding-right: 137px;
}
@media (max-width: 800px) {
  .career-text {
    padding-right: 20px;
  }
}
@media (max-width: 500px) {
  .career-text {
    padding-right: 0;
  }
}
.career-text:not(:last-of-type) {
  margin-bottom: 46px;
}
@media (min-width: 800px) {
  .career-text:last-of-type {
    padding-bottom: 87px;
  }
}

.career .part-of-the-team {
  position: relative;
}
@media (max-width: 800px) {
  .career .part-of-the-team .wrapperContent {
    padding: 0;
  }
}
.career .part-of-the-team .pott-info {
  width: 55%;
  padding-top: 67px;
}
@media (max-width: 800px) {
  .career .part-of-the-team .pott-info {
    padding: 67px 10px 0;
  }
}
@media (max-width: 500px) {
  .career .part-of-the-team .pott-info {
    width: 100%;
    padding: 67px 10px;
    box-sizing: border-box;
  }
  .career .part-of-the-team .pott-info .career-text:last-of-type {
    padding-bottom: 0;
  }
}
.career .part-of-the-team .pott-img-block {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 25;
  width: calc(100% - 55%);
  height: 100%;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 500px) {
  .career .part-of-the-team .pott-img-block {
    width: 100%;
    position: relative;
    height: 400px;
  }
}
.career .part-of-the-team .pott-img-block .pott-img-content {
  margin-top: -50px;
  max-width: 280px;
  margin-left: 84px;
}
.career .part-of-the-team .pott-img-block .pott-img-content .pott-img-title {
  font-size: 28px;
  line-height: 33px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
}
.career .part-of-the-team .pott-img-block .pott-img-content .text-sm {
  color: #fff;
  line-height: 27px;
  font-family: "Montserrat", sans-serif;
}
.career .what-we-expect {
  display: flex;
}
.career .what-we-expect .what-we-expect-img-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 42.85%;
  background-size: cover;
  background-position: center;
}
@media (max-width: 800px) {
  .career .what-we-expect .what-we-expect-img-block {
    width: 100%;
    display: none;
  }
}
.career .what-we-expect .what-we-expect-img-block .wwe-img-title {
  text-align: right;
  max-width: 250px;
  font-size: 39px;
  color: #fff;
  font-weight: 700;
  margin-right: 64px;
}
.career .what-we-expect .what-we-expect-info {
  width: calc(100% - 42.85%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 146px;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info {
    width: 100%;
    padding: 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block {
  width: 244px;
  height: 244px;
  border-radius: 100%;
  border: 1px solid #6568D0;
  position: relative;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block {
    width: 100%;
    height: auto;
    border-radius: 0;
    border: none;
    padding: 30px 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item {
  width: 67px;
  height: 67px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item {
    position: relative;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.eye {
  right: calc(50% - 34px);
  top: -44px;
  background-image: url(../images/carreira/icon-eye.png);
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.eye {
    top: 0;
    left: 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.eye .info-circle-text-block {
  position: absolute;
  top: -20px;
  width: 345px;
  left: calc(-345px + 205px);
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.eye .info-circle-text-block {
    position: relative;
    width: 250px;
    left: 75px;
    top: 10px;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.eye .info-circle-text-block .info-circle-text {
  position: relative;
  text-align: center;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.eye .info-circle-text-block .info-circle-text {
    text-align: left;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.person {
  right: -14px;
  top: 10px;
  background-image: url(../images/carreira/icon-person.png);
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.person {
    top: 0;
    right: 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.person .info-circle-text-block {
  position: absolute;
  width: 155px;
  top: 10px;
  right: -155px;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.person .info-circle-text-block {
    position: relative;
    right: inherit;
    left: 75px;
    top: 20px;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.arm {
  right: -34px;
  bottom: 60px;
  background-image: url(../images/carreira/icon-arm.png);
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.arm {
    top: 0;
    right: 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.arm .info-circle-text-block {
  position: absolute;
  width: 155px;
  top: 20px;
  right: -155px;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.arm .info-circle-text-block {
    position: relative;
    right: inherit;
    left: 75px;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.hand {
  right: 37px;
  bottom: -23px;
  background-image: url(../images/carreira/icon-hand.png);
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.hand {
    top: 0;
    right: 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.hand .info-circle-text-block {
  position: absolute;
  width: 165px;
  top: 50px;
  right: -165px;
  text-align: center;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.hand .info-circle-text-block {
    position: relative;
    top: 20px;
    right: inherit;
    left: 75px;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.shoe {
  left: 37px;
  bottom: -23px;
  background-image: url(../images/carreira/icon-shoe.png);
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.shoe {
    left: 0;
    bottom: 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.shoe .info-circle-text-block {
  position: absolute;
  width: 145px;
  top: 50px;
  left: -125px;
  text-align: center;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.shoe .info-circle-text-block {
    position: relative;
    top: 20px;
    right: inherit;
    left: 75px;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.shoe .info-circle-text-block .info-circle-text {
  position: relative;
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.lamp {
  left: -34px;
  bottom: 60px;
  background-image: url(../images/carreira/icon-lamp.png);
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.lamp {
    left: 0;
    bottom: 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.lamp .info-circle-text-block {
  position: absolute;
  width: 155px;
  top: 20px;
  left: -145px;
  text-align: center;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.lamp .info-circle-text-block {
    position: relative;
    top: 20px;
    right: inherit;
    left: 75px;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.lamp .info-circle-text-block .info-circle-text {
  position: relative;
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.group {
  left: -14px;
  top: 10px;
  background-image: url(../images/carreira/icon-group.png);
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.group {
    top: 0;
    left: 0;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.group .info-circle-text-block {
  position: absolute;
  width: 185px;
  top: 10px;
  left: -185px;
  text-align: center;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.group .info-circle-text-block {
    position: relative;
    top: 20px;
    right: inherit;
    left: 75px;
  }
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item.group .info-circle-text-block .info-circle-text {
  position: relative;
}
.career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item .info-circle-text {
  position: absolute;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #353233;
}
@media (max-width: 500px) {
  .career .what-we-expect .what-we-expect-info .wwe-info-circle-block .info-circle-item .info-circle-text {
    text-align: left;
  }
}

.what-to-expect {
  background-image: url(../images/carreira/what-to-expect-bg.png);
  padding-top: 80px;
  padding-bottom: 200px;
  background-size: cover;
}
@media (max-width: 500px) {
  .what-to-expect {
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
  }
}
.what-to-expect:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #6568D0;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .what-to-expect:after {
    display: none;
  }
}
.what-to-expect .text-xl {
  color: #fff;
  text-align: center;
  margin-bottom: 62px;
}
.what-to-expect .what-to-expect-list .what-to-expect-list-content {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 500px) {
  .what-to-expect .what-to-expect-list .what-to-expect-list-content {
    flex-direction: column;
  }
}
.what-to-expect .what-to-expect-list .what-to-expect-list-content .what-to-expect-list-item {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(20% - 13.6px);
  height: 70px;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .what-to-expect .what-to-expect-list .what-to-expect-list-content .what-to-expect-list-item {
    width: 50%;
    margin: 0 auto 30px 60px;
  }
}
.what-to-expect .what-to-expect-list .what-to-expect-list-content .what-to-expect-list-item .text-sm {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 14px;
  padding: 0 20px;
  color: #fff;
}
@media (max-width: 800px) {
  .what-to-expect .what-to-expect-list .what-to-expect-list-content .what-to-expect-list-item .text-sm {
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 501px) {
  .what-to-expect .what-to-expect-list .what-to-expect-list-content .what-to-expect-list-item:not(:last-of-type) {
    margin-right: 17px;
  }
}
.what-to-expect .what-to-expect-list .what-to-expect-list-content .what-to-expect-list-item:after {
  content: "";
  position: absolute;
  width: 77px;
  height: 77px;
  bottom: -97px;
  left: calc(50% - 38.5px);
  border-radius: 100%;
  background-color: #6568D0;
}
@media (max-width: 500px) {
  .what-to-expect .what-to-expect-list .what-to-expect-list-content .what-to-expect-list-item:after {
    width: 38.5px;
    height: 38.5px;
    left: -30%;
    top: 19px;
  }
}

.opportunities {
  padding-top: 80px;
  padding-bottom: 80px;
}
.opportunities .wrapperContent {
  display: flex;
  flex-wrap: wrap;
}
.opportunities .wrapperContent .op-info, .opportunities .wrapperContent .op-form-block {
  width: 50%;
}
@media (max-width: 800px) {
  .opportunities .wrapperContent .op-info, .opportunities .wrapperContent .op-form-block {
    width: 100%;
  }
}
.opportunities .wrapperContent .op-info .op-info-top {
  margin-bottom: 30px;
  max-width: 374px;
}
@media (max-width: 800px) {
  .opportunities .wrapperContent .op-info .op-info-top {
    max-width: 100%;
  }
}
.opportunities .wrapperContent .op-info .op-info-top .text-md {
  line-height: 31px;
}
.opportunities .wrapperContent .op-info .info-img-block {
  max-width: 374px;
}
.opportunities .wrapperContent .op-info .info-img-block img {
  max-width: 100%;
  height: auto;
}
.opportunities .wrapperContent .op-info .op-info-btn-block {
  display: flex;
  flex-wrap: wrap;
  max-width: 374px;
}
@media (max-width: 800px) {
  .opportunities .wrapperContent .op-info .op-info-btn-block {
    max-width: 100%;
  }
}
.opportunities .wrapperContent .op-info .op-info-btn-block .op-info-btn-item {
  width: 50%;
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  .opportunities .wrapperContent .op-info .op-info-btn-block .op-info-btn-item {
    width: 25%;
  }
}
.opportunities .wrapperContent .op-info .op-info-btn-block .op-info-btn-item:hover {
  cursor: pointer;
}
.opportunities .wrapperContent .op-info .op-info-btn-block .op-info-btn-item .op-info-btn-title, .opportunities .wrapperContent .op-info .op-info-btn-block .op-info-btn-item .op-info-btn-text {
  font-family: "Montserrat", sans-serif;
  color: rgba(53, 50, 51, 0.6);
}
.opportunities .wrapperContent .op-info .op-info-btn-block .op-info-btn-item .op-info-btn-title {
  font-weight: 700;
}
.opportunities .wrapperContent .op-info .op-info-btn-block .op-info-btn-item.info-btn-active .op-info-btn-title, .opportunities .wrapperContent .op-info .op-info-btn-block .op-info-btn-item.info-btn-active .op-info-btn-text {
  font-family: "Montserrat", sans-serif;
  color: #353233;
}
.opportunities .wrapperContent .op-form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 392px;
  padding-top: 55px;
}
@media (max-width: 800px) {
  .opportunities .wrapperContent .op-form-block {
    margin: auto;
    width: 100%;
  }
}
.opportunities .wrapperContent .op-form-block .op-input {
  width: 100%;
  height: 57px;
  box-sizing: border-box;
  border: 1px solid #6568D0;
  border-radius: 60px;
  margin-bottom: 15px;
  padding: 0 27px;
  font-family: "Montserrat", sans-serif;
  color: #353233;
  font-size: 16px;
}
.opportunities .wrapperContent .op-form-block .op-input:focus {
  outline: none;
}
.opportunities .wrapperContent .op-form-block .op-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat", sans-serif;
  color: #353233;
  opacity: 1;
  /* Firefox */
}
.opportunities .wrapperContent .op-form-block .op-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Montserrat", sans-serif;
  color: #353233;
}
.opportunities .wrapperContent .op-form-block .op-input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Montserrat", sans-serif;
  color: #353233;
}
.opportunities .wrapperContent .op-form-block .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.opportunities .wrapperContent .op-form-block .inputfile + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* "hand" cursor */
  font-family: "Montserrat", sans-serif;
}
.opportunities .wrapperContent .op-form-block .inputfile + label:before {
  content: "+";
  position: absolute;
  right: 27px;
  font-size: 40px;
  color: #6568D0;
  font-weight: 300;
  line-height: 0;
}
.opportunities .wrapperContent .op-form-block .curriculo ~ label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* "hand" cursor */
  font-family: "Montserrat", sans-serif;
  margin-top: -15px;
}
.opportunities .wrapperContent .op-form-block .curriculo ~ label:before {
  content: "+";
  position: absolute;
  right: 27px;
  font-size: 40px;
  color: #6568D0;
  font-weight: 300;
  line-height: 0;
}
.opportunities .wrapperContent .op-form-block .btn-send {
  width: 100%;
  background-color: #6568D0;
  height: 57px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 18px;
  border-radius: 60px;
  border: 1px solid transparent;
}
.opportunities .wrapperContent .op-form-block .btn-send:hover {
  cursor: pointer;
  border: 1px solid #6568D0;
  color: #6568D0;
  background-color: transparent;
}
.opportunities .wrapperContent .op-info-description {
  margin-top: 100px;
}
.opportunities .wrapperContent .op-info-description .op-info-description-item {
  display: none;
}
.opportunities .wrapperContent .op-info-description .op-info-description-item .op-info-desc-title, .opportunities .wrapperContent .op-info-description .op-info-description-item .op-info-desc-text {
  font-family: "Montserrat", sans-serif;
  color: #353233;
}
.opportunities .wrapperContent .op-info-description .op-info-description-item .op-info-desc-title {
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 10px;
}
.opportunities .wrapperContent .op-info-description .op-info-description-item .op-info-desc-text {
  line-height: 23px;
}
.opportunities .wrapperContent .op-info-description .op-info-description-item.desc-active {
  display: block;
}

/*# sourceMappingURL=carreira.css.map */
