@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
}

.contact-main {
  position: relative;
}
.contact-main .purple-bg {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #6668D2;
  right: 0;
}
@media (max-width: 500px) {
  .contact-main .purple-bg {
    display: none;
  }
}
.contact-main .wrapperContent {
  display: flex;
}
@media (max-width: 500px) {
  .contact-main .wrapperContent {
    flex-direction: column;
  }
}
.contact-main .wrapperContent .form-block {
  width: 50%;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
@media (max-width: 800px) {
  .contact-main .wrapperContent .form-block {
    padding-right: 10px;
    box-sizing: border-box;
  }
}
@media (max-width: 500px) {
  .contact-main .wrapperContent .form-block {
    width: 100%;
  }
}
.contact-main .wrapperContent .form-block .title-lg {
  color: #353233;
  padding: 40px 0 45px;
}
.contact-main .wrapperContent .form-block .contact-input, .contact-main .wrapperContent .form-block .contact-textarea, .contact-main .wrapperContent .form-block .contact-submit {
  font-family: "Roboto", sans-serif;
  color: #353233;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  max-width: 470px;
  height: 49px;
  border-radius: 50px;
  border: 1px solid #353233;
  box-sizing: border-box;
  padding: 0 32px;
  margin-bottom: 27px;
}
.contact-main .wrapperContent .form-block .contact-input:focus, .contact-main .wrapperContent .form-block .contact-textarea:focus, .contact-main .wrapperContent .form-block .contact-submit:focus {
  outline: none;
}
.contact-main .wrapperContent .form-block .contact-input::placeholder, .contact-main .wrapperContent .form-block .contact-textarea::placeholder, .contact-main .wrapperContent .form-block .contact-submit::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  font-weight: 300;
  color: #353233;
  opacity: 1;
  /* Firefox */
}
.contact-main .wrapperContent .form-block .contact-input:-ms-input-placeholder, .contact-main .wrapperContent .form-block .contact-textarea:-ms-input-placeholder, .contact-main .wrapperContent .form-block .contact-submit:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  font-weight: 300;
  color: #353233;
}
.contact-main .wrapperContent .form-block .contact-input::-ms-input-placeholder, .contact-main .wrapperContent .form-block .contact-textarea::-ms-input-placeholder, .contact-main .wrapperContent .form-block .contact-submit::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 14px;
  font-weight: 300;
  color: #353233;
}
.contact-main .wrapperContent .form-block .contact-textarea {
  height: 153px;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 18px 32px;
}
.contact-main .wrapperContent .form-block input.contact-submit, .contact-main .wrapperContent .form-block button.contact-submit {
  border-color: transparent;
  background-color: #6568D0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 100;
}
.contact-main .wrapperContent .form-block input.contact-submit:hover, .contact-main .wrapperContent .form-block button.contact-submit:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: #6568D0;
  color: #6568D0;
}
.contact-main .wrapperContent .form-block .switch-block {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.contact-main .wrapperContent .form-block .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 15px;
}
.contact-main .wrapperContent .form-block .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.contact-main .wrapperContent .form-block .switch-text {
  font-family: "Montserrat", sans-serif;
  color: rgba(53, 50, 51, 0.5);
  font-weight: 300;
}
.contact-main .wrapperContent .form-block .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.contact-main .wrapperContent .form-block .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
}
.contact-main .wrapperContent .form-block input:checked + .slider {
  background-color: #f7f7f7;
}
.contact-main .wrapperContent .form-block input:focus + .slider {
  box-shadow: 0 0 1px #f7f7f7;
}
.contact-main .wrapperContent .form-block input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  background-color: #6568D0;
}
.contact-main .wrapperContent .form-block .slider.round {
  border-radius: 34px;
  border: 1px solid #eee;
  background-color: #f7f7f7;
}
.contact-main .wrapperContent .form-block .slider.round:before {
  border-radius: 50%;
  background-color: #d3d3d3;
  width: 34px;
  height: 34px;
  bottom: -1px;
}
.contact-main .wrapperContent .form-block #resultForm.resultActive {
  border: 2px solid green;
  max-width: 470px;
  padding: 2px 15px;
}
.contact-main .wrapperContent .conection-block {
  width: 50%;
  z-index: 25;
  padding: 78px 55px;
  box-sizing: border-box;
  color: #fff;
}
@media (max-width: 500px) {
  .contact-main .wrapperContent .conection-block {
    width: 100%;
    background-color: #6568D0;
  }
}
.contact-main .wrapperContent .conection-block .title-md {
  max-width: 240px;
}
.contact-main .wrapperContent .conection-block .text-lg {
  padding: 27px 0 18px;
}
.contact-main .wrapperContent .conection-block .text-sm {
  font-weight: normal;
  line-height: 20px;
}
.contact-main .wrapperContent .conection-block form.form-inline input {
  font-family: "Roboto", sans-serif;
  width: 50%;
  max-width: 470px;
  height: 49px;
  border-radius: 50px;
  border: 1px solid #353233;
  box-sizing: border-box;
  padding: 0 32px;
  margin-bottom: 27px;
  display: inline-block;
}
.contact-main .wrapperContent .conection-block form.form-inline button {
  border-color: transparent;
  background-color: #6568D0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
  width: 45%;
  float: right;
  max-width: 470px;
  height: 49px;
  border-radius: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 0 32px;
  margin-bottom: 27px;
}
.contact-main .wrapperContent .conection-block form.form-inline input.contact-input:focus {
  outline: none;
}
.contact-main .wrapperContent .conection-block form.form-inline input.contact-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #353233;
  font-size: 14px;
  opacity: 1;
  /* Firefox */
}
.contact-main .wrapperContent .conection-block form.form-inline input.contact-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #353233;
  font-size: 14px;
}
.contact-main .wrapperContent .conection-block form.form-inline input.contact-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #353233;
  font-size: 14px;
}
.contact-main .wrapperContent .conection-block form.form-inline input.contact-submit, .contact-main .wrapperContent .conection-block form.form-inline button.contact-submit {
  width: unset;
  border-color: transparent;
  background-color: #fff;
  color: #6568D0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-left: 14px;
}
.contact-main .wrapperContent .conection-block form.form-inline input.contact-submit:hover, .contact-main .wrapperContent .conection-block form.form-inline button.contact-submit:hover {
  cursor: pointer;
  border-color: #fff;
  color: #fff;
  background-color: #6568D0;
}
.contact-main .wrapperContent .conection-block .social-block {
  margin-top: 16px;
}
.contact-main .wrapperContent .conection-block .social-block .social-list.social-tel {
  align-items: center;
}
.contact-main .wrapperContent .conection-block .social-block .social-list.social-tel .social-item {
  margin-right: 10px;
}
.contact-main .wrapperContent .conection-block .social-block .social-list .social-item:hover {
  background-color: #fff;
}
.contact-main .wrapperContent .conection-block .social-block .social-list .social-item:hover .fab {
  color: #6568D0;
}
.contact-main .wrapperContent .conection-block .social-block .social-list .social-item .fab {
  color: #fff;
}

.team {
  position: relative;
  min-height: 502px;
  margin-top: 87px;
  margin-bottom: 130px;
}
@media (max-width: 500px) {
  .team {
    margin-top: 0;
  }
}
.team .wrapperContent {
  position: relative;
}
.team .teamBg {
  position: absolute;
  width: 100%;
  height: 415px;
  background-color: #F7F7F7;
}
.team .wrapperContent {
  display: flex;
}
.team .team-info, .team .team-cover {
  width: 50%;
}
@media (max-width: 800px) {
  .team .team-info, .team .team-cover {
    width: 100%;
  }
}
.team .team-info {
  padding-top: 62px;
}
.team .team-info .text-xl {
  margin-bottom: 51px;
}
.team .team-info .text-md {
  line-height: 31px;
  max-width: 80%;
}
.team .team-info .team-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 392px;
  height: 57px;
  background-color: #6568D0;
  border-radius: 60px;
  margin-top: 55px;
  border: 1px solid transparent;
}
.team .team-info .team-btn:hover {
  border-color: #6568D0;
  background-color: #fff;
}
.team .team-info .team-btn:hover .text-bold {
  color: #6568D0;
}
.team .team-info .team-btn .text-bold {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}
.team .team-cover {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 502px;
  background-size: cover;
  background-color: #fff;
  background-position: center;
}
@media (max-width: 800px) {
  .team .team-cover {
    width: 100%;
    position: relative;
    margin-top: 46px;
  }
}
.team .team-cover .team-cover-info {
  padding-top: 180px;
  padding-left: 82px;
}
.team .team-cover .team-cover-info .title-md {
  color: #fff;
  line-height: 33px;
  margin-bottom: 8px;
}
.team .team-cover .team-cover-info .text-sm {
  color: #fff;
}

@keyframes mission-pulse {
  0% {
    background-size: 200%;
    background-position: 80%;
  }
  50% {
    background-size: 300%;
    background-position: 85%;
  }
  100% {
    background-size: 200%;
    background-position: 80%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.cat-text {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 28px;
}

.post-title {
  max-width: 490px;
  color: #fff;
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .wrapperContent {
    box-sizing: border-box;
  }
}

.enterprise {
  position: relative;
}
.enterprise .enterprise-bg {
  display: flex;
  justify-content: center;
  height: 540px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 800px) {
  .enterprise .enterprise-bg {
    height: 300px;
  }
  .enterprise .enterprise-bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(102, 105, 204, 0.6);
    position: absolute;
  }
}
@media (max-width: 680px) {
  .enterprise .enterprise-bg {
    height: 200px;
  }
}
@media (max-width: 800px) {
  .enterprise .enterprise-bg .wrapperContent {
    position: relative;
  }
}
@media (max-width: 600px) {
  .enterprise .enterprise-bg .cat-text {
    font-size: 12px;
    margin-bottom: 18px;
  }
}
@media (max-width: 600px) {
  .enterprise .enterprise-bg .post-title {
    font-size: 28px;
    margin-bottom: 22px;
  }
}
.enterprise .enterprise-bg .linkVideo:hover .play-button-svg {
  stroke: #6568D0;
}
.enterprise .enterprise-bg .linkVideo:hover .play-icon-svg {
  fill: #6568D0;
}
.enterprise .enterprise-bg .linkVideo:hover text {
  fill: #6568D0;
}
.enterprise .enterprise-bg .linkVideo .play-button-svg {
  stroke: #fff;
}
.enterprise .enterprise-bg .linkVideo .play-icon-svg {
  fill: #fff;
}
.enterprise .enterprise-bg .linkVideo text {
  fill: #fff;
}
.enterprise .enterprise-video {
  display: none;
  height: 540px;
  width: 100%;
}
.enterprise .enterprise-video iframe {
  width: 100% !important;
  height: 100% !important;
}

#modalVideo {
  max-width: 650px;
  padding: 0;
}
#modalVideo iframe {
  width: 100% !important;
  vertical-align: middle;
}

.about-block .about-content {
  max-width: 50ch;
  margin: 95px auto;
  text-align: center;
}
.about-block .about-content .videoTitle {
  font-family: "Montserrat", sans-serif;
  color: #353233;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}
.about-block .about-content p {
  line-height: normal;
}

.mission .wrapperContent {
  display: flex;
}
@media (max-width: 1300px) {
  .mission .wrapperContent {
    max-width: 100%;
  }
}
@media (max-width: 800px) {
  .mission .wrapperContent {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .mission .wrapperContent {
    flex-direction: column;
  }
}
.mission .mission-options-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  background-color: #F0F0F0;
}
.mission .mission-options-block a {
  text-decoration: none;
}
.mission .mission-options-block .option-text-item {
  display: flex;
  align-items: center;
}
.mission .mission-options-block .option-text-item .option-text {
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #353233;
  transition: 0.3s;
}
.mission .mission-options-block .option-text-item .option-text:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
  transition: 0.3s;
}
.mission .mission-options-block .option-text-item:before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background-image: url(../images/empresa/home_lozinsky_empresa-07.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  transition: width 0.6s;
}
.mission .mission-options-block .option-text-item:not(.item-active):nth-child(1n):before {
  animation-delay: 0.4s;
}
.mission .mission-options-block .option-text-item:not(.item-active):nth-child(2n):before {
  animation-delay: 0.8s;
}
.mission .mission-options-block .option-text-item:not(.item-active):nth-child(3n):before {
  animation-delay: 1.2s;
}
.mission .mission-options-block .option-text-item:not(.item-active):before {
  animation-name: mission-pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background-size: 200%;
}
.mission .mission-options-block .option-text-item:after {
  transition: background-image 0.6s;
}
.mission .mission-options-block .option-text-item.item-active .option-text {
  margin-left: -50px;
}
.mission .mission-options-block .option-text-item.item-active:before {
  content: "";
  display: block;
  width: 220px;
  height: 120px;
  background-image: url(../images/empresa/home_lozinsky_empresa-06.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: width 0.6s;
}
.mission .mission-options-block .option-text-item.item-active:after {
  content: "";
  display: block;
  width: 170px;
  height: 120px;
  background-image: url(../images/empresa/home_lozinsky_empresa-05.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.6s;
}
.mission .mission-info-block {
  width: calc(100% - 400px);
}
@media (max-width: 500px) {
  .mission .mission-info-block {
    width: 100%;
  }
}
.mission .mission-info-block .mission-info-item {
  background-image: url(../images/empresa/home_lozinsky_empresa-02.png);
  background-size: cover;
  display: none;
  height: 100%;
}
.mission .mission-info-block .mission-info-item.visible {
  display: flex;
}
@media (max-width: 800px) {
  .mission .mission-info-block .mission-info-item {
    flex-direction: column;
  }
}
.mission .mission-info-block .mission-info-item .mission-info-list {
  width: 300px;
  margin-left: 70px;
  border-left: 1px solid #fff;
  padding-left: 14px;
  padding-top: 120px;
  padding-bottom: 100px;
}
@media (max-width: 800px) {
  .mission .mission-info-block .mission-info-item .mission-info-list {
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.mission .mission-info-block .mission-info-item .mission-info-list:last-of-type {
  border-right: 1px solid #fff;
  padding-right: 20px;
}
@media (max-width: 800px) {
  .mission .mission-info-block .mission-info-item .mission-info-list:last-of-type {
    padding-top: 0px;
    border-right: none;
  }
}
.mission .mission-info-block .mission-info-item .mission-info-list.info-list-single {
  border-right: none;
}
@media (max-width: 500px) {
  .mission .mission-info-block .mission-info-item .mission-info-list.info-list-single {
    padding-top: 30px;
  }
}
.mission .mission-info-block .mission-info-item .mission-info-list .info-list-item {
  position: relative;
  color: #fff;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
@media (max-width: 800px) {
  .mission .mission-info-block .mission-info-item .mission-info-list .info-list-item:last-of-type {
    margin-bottom: 0;
  }
}
.mission .mission-info-block .mission-info-item .mission-info-list .info-list-item:before {
  content: "";
  position: absolute;
  display: block;
  left: -18px;
  top: 4px;
  width: 8px;
  height: 8px;
  background-image: url(../images/empresa/dot.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.play-button {
  position: absolute;
  display: block;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  background-image: url(../images/play-button-img.png);
  background-size: contain;
  background-position: center;
  transition: all 0.3s;
  cursor: pointer;
}
.play-button:hover {
  transform: scale(1.1);
}

.bannerEmpresaVideo {
  display: flex;
  flex-wrap: wrap;
  margin: 95px auto;
  height: 400px;
}
@media (max-width: 680px) {
  .bannerEmpresaVideo {
    height: inherit;
  }
}
.bannerEmpresaVideo .wrapperContent {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.bannerEmpresaVideo .empresaVideoBlock {
  width: 50%;
  box-sizing: border-box;
  background-size: cover;
  background-position: top;
  position: relative;
}
@media (max-width: 680px) {
  .bannerEmpresaVideo .empresaVideoBlock {
    width: 100%;
    height: 300px;
  }
}
.bannerEmpresaVideo .empresaVideoBlock:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #8ebaae;
  background: -moz-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  background: -webkit-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  background: linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ebaae",endColorstr="#363334",GradientType=1);
}
.bannerEmpresaVideo .empresaVideoBlock:hover:after {
  transform: scale(1.2);
  transition: all 0.3s;
}
.bannerEmpresaVideo .empresaVideoBlock .linkVideo .empresaVideoBlockContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.bannerEmpresaVideo .empresaVideoBlock .linkVideo:before {
  content: "";
  position: absolute;
  display: block;
  top: calc(50% - 46px);
  left: calc(50% - 46px);
  width: 93px;
  height: 93px;
  background-image: url(../images/cover-play.png);
  background-size: contain;
  background-position: center;
  transition: all 0.3s;
  cursor: pointer;
}
.bannerEmpresaVideo .empresaVideoBlock .linkVideo:hover:before {
  transform: scale(1.2);
  transition: all 0.3s;
}
.bannerEmpresaVideo .empresaVideoTextBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 40px 0;
}
@media (max-width: 680px) {
  .bannerEmpresaVideo .empresaVideoTextBlock {
    width: 100%;
  }
}
.bannerEmpresaVideo .empresaVideoTextBlock .videoTitle {
  font-family: "Montserrat", sans-serif;
  color: #353233;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}
.bannerEmpresaVideo .empresaVideoTextBlock .videoText {
  font-family: "Montserrat", sans-serif;
  color: #353233;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}
.bannerEmpresaVideo .empresaVideoTextBlock p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  overflow: auto;
  width: 80%;
  padding-bottom: 10px;
}
@media (max-width: 680px) {
  .bannerEmpresaVideo .empresaVideoTextBlock p {
    width: 100%;
  }
}

/*# sourceMappingURL=empresa.css.map */
