@charset "UTF-8";
.estudos {
  padding-top: 67px;
  margin-bottom: -71px;
}
.estudos.top-section {
  background-image: url(../images/estudos/bg-top.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.estudos.top-section h1, .estudos.top-section h2, .estudos.top-section h3, .estudos.top-section h4, .estudos.top-section h5, .estudos.top-section h6, .estudos.top-section p {
  color: #fff;
}
.estudos h1, .estudos h2, .estudos h3, .estudos h4, .estudos h5, .estudos h6, .estudos p {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  line-height: 27px;
}
.estudos h1 {
  line-height: 35px;
}
.estudos h4 {
  margin-bottom: 31px;
  font-weight: bold;
  font-size: 25px;
}
.estudos .articleCatText {
  line-height: 7px;
}
.estudos .cat-text {
  font-size: 23px;
  color: #6568D0;
  margin-bottom: 15px;
  position: relative;
}
.estudos .cat-text:before {
  position: absolute;
  top: 65%;
  overflow: hidden;
  width: 91%;
  left: 106px;
  height: 1px;
  content: " ";
  background-color: #6568D0;
}
@media (max-width: 480px) {
  .estudos .cat-text {
    display: none;
  }
}
.estudos .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .estudos .flex-container {
    flex-direction: column;
  }
}
.estudos .flex-container .col-1 {
  flex: 1;
  padding-right: 60px;
}
@media (max-width: 480px) {
  .estudos .flex-container .col-1 {
    padding-right: 0;
  }
}
.estudos .flex-container .estudo-box {
  border: 20px solid #6568D0;
  background-color: white;
  padding: 40px;
}
.estudos .flex-container .estudo-box img {
  float: left;
  margin-right: 28px;
}
@media (max-width: 480px) {
  .estudos .flex-container .estudo-box img {
    float: none;
  }
}
@media (min-width: 500px) {
  .estudos .flex-container .estudo-box .cat-text {
    display: none;
  }
}
@media (max-width: 480px) {
  .estudos .flex-container .estudo-box .cat-text {
    display: block;
  }
  .estudos .flex-container .estudo-box .cat-text:before {
    display: none;
  }
}
.estudos .flex-container .estudo-box h3 {
  font-size: 24px;
  color: #6568D0;
  font-weight: bold;
  margin-bottom: 30px;
}
.estudos .flex-container .estudo-box p {
  color: #000;
}
.estudos .flex-container .estudo-box .btn-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #6568D0;
  margin: 0 auto;
  padding: 15px 30px;
  text-align: center;
  display: table;
  text-decoration: none;
  margin-top: 30px;
}
.estudos.bg-black {
  background-color: #363334;
  color: white;
  padding-top: 180px;
  margin-top: -85px;
  padding-bottom: 110px;
}
.estudos.bg-black h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 60px;
}
.estudos.artigos {
  margin-top: -90px;
}
.estudos.report {
  position: relative;
  margin-top: 130px;
}
.estudos.report .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.estudos.report .flex-container .col-1 {
  flex: 1;
  margin-right: 60px;
}
@media (max-width: 480px) {
  .estudos.report .flex-container .col-1 {
    margin: 0 10px;
  }
}
.estudos.report .flex-container .block-blue {
  background-color: #6568D0;
}
.estudos.report .flex-container .cat {
  font-size: 23px;
  color: #6568D0;
  margin-bottom: 15px;
  position: relative;
  font-weight: bold;
}
.estudos.report .flex-container .title-lg {
  line-height: 37px;
}
.estudos.report .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 480px) {
  .estudos.report .image {
    position: relative;
  }
}
.estudos.report .image .col-1 {
  text-align: right;
  margin: 0;
}
.estudos.report .image img {
  width: 100%;
  max-width: 668px;
}
.estudos.report .conteudo-formulario {
  background-color: #6568D0;
  color: white;
  margin-top: 60px;
  padding-top: 101px;
  padding-bottom: 130px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
@media (min-width: 1600px) {
  .estudos.report .conteudo-formulario {
    margin-top: 150px;
  }
}
@media (max-width: 480px) {
  .estudos.report .conteudo-formulario {
    margin-top: 30px;
    padding-top: 50px;
  }
}
.estudos.report .conteudo-formulario .contact-input, .estudos.report .conteudo-formulario .contact-textarea, .estudos.report .conteudo-formulario .contact-submit {
  font-family: "Roboto", sans-serif;
  color: #353233;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  max-width: 470px;
  height: 49px;
  border-radius: 50px;
  border: 1px solid #353233;
  box-sizing: border-box;
  padding: 0 32px;
  margin-bottom: 27px;
}
.estudos.report .conteudo-formulario .contact-input:focus, .estudos.report .conteudo-formulario .contact-textarea:focus, .estudos.report .conteudo-formulario .contact-submit:focus {
  outline: none;
}
.estudos.report .conteudo-formulario .contact-input::placeholder, .estudos.report .conteudo-formulario .contact-textarea::placeholder, .estudos.report .conteudo-formulario .contact-submit::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  font-weight: 300;
  color: #353233;
  opacity: 1;
  /* Firefox */
}
.estudos.report .conteudo-formulario .contact-input:-ms-input-placeholder, .estudos.report .conteudo-formulario .contact-textarea:-ms-input-placeholder, .estudos.report .conteudo-formulario .contact-submit:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  font-weight: 300;
  color: #353233;
}
.estudos.report .conteudo-formulario .contact-input::-ms-input-placeholder, .estudos.report .conteudo-formulario .contact-textarea::-ms-input-placeholder, .estudos.report .conteudo-formulario .contact-submit::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 14px;
  font-weight: 300;
  color: #353233;
}
.estudos.report .conteudo-formulario .contact-input:last-child, .estudos.report .conteudo-formulario .contact-textarea:last-child, .estudos.report .conteudo-formulario .contact-submit:last-child {
  margin-bottom: 0;
}
.estudos.report .conteudo-formulario .contact-textarea {
  height: 153px;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 18px 32px;
}
.estudos.report .conteudo-formulario .contact-submit {
  border-color: transparent;
  background-color: #8EBAAE;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 100;
}
.estudos.report .conteudo-formulario .contact-submit:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: #8EBAAE;
  color: #8EBAAE;
}
.estudos.report .conteudo-formulario .switch-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.estudos.report .conteudo-formulario .switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 34px;
  margin-right: 15px;
}
@media (max-width: 480px) {
  .estudos.report .conteudo-formulario .switch {
    width: 60px;
  }
}
.estudos.report .conteudo-formulario .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.estudos.report .conteudo-formulario .switch-text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 14px;
  padding-top: 15px;
}
.estudos.report .conteudo-formulario .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.estudos.report .conteudo-formulario .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: transform 0.4s;
  transition: transform 0.4s;
}
.estudos.report .conteudo-formulario input:checked + .slider {
  background-color: #f7f7f7;
}
.estudos.report .conteudo-formulario input:focus + .slider {
  box-shadow: 0 0 1px #f7f7f7;
}
.estudos.report .conteudo-formulario input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  background-color: #8EBAAE;
}
.estudos.report .conteudo-formulario .slider.round {
  border-radius: 34px;
  border: 1px solid #eee;
  background-color: #f7f7f7;
}
.estudos.report .conteudo-formulario .slider.round:before {
  border-radius: 50%;
  background-color: #d3d3d3;
  width: 34px;
  height: 34px;
  bottom: -1px;
}

/*# sourceMappingURL=estudos.css.map */
