@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menuLozinsky {
  position: fixed;
  z-index: 30;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid rgba(53, 50, 51, 0.5);
  top: 0;
}
.menuLozinsky .wrapperContent {
  display: flex;
  padding: 17px 0;
}
@media (max-width: 800px) {
  .menuLozinsky .wrapperContent {
    flex-wrap: wrap;
    align-items: center;
    padding: 17px 30px;
  }
}
@media (max-width: 330px) {
  .menuLozinsky .wrapperContent {
    justify-content: space-between;
  }
}
.menuLozinsky .wrapperContent .logo-menu {
  max-width: 282px;
}
@media (max-width: 800px) {
  .menuLozinsky .wrapperContent .logo-menu {
    max-width: 232px;
  }
}
@media (max-width: 330px) {
  .menuLozinsky .wrapperContent .logo-menu {
    max-width: 202px;
  }
}
.menuLozinsky .wrapperContent .menu-button {
  max-width: calc(100% - 232px);
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 801px) {
  .menuLozinsky .wrapperContent .menu-button {
    display: none;
  }
}
@media (max-width: 800px) and (min-width: 601px) {
  .menuLozinsky .wrapperContent .menu-button {
    width: 100%;
  }
}
.menuLozinsky .wrapperContent .menu-button .menu-button-bar {
  width: 30px;
  height: 2px;
  background-color: #353233;
  margin-bottom: 3px;
}
.menuLozinsky .wrapperContent .menu-button.menu-active {
  height: 30px;
  width: calc(100% - 232px );
}
.menuLozinsky .wrapperContent .menu-button.menu-active .menu-button-bar {
  position: absolute;
  margin-bottom: inherit;
}
.menuLozinsky .wrapperContent .menu-button.menu-active .menu-button-bar:first-of-type {
  transform: rotate(45deg);
}
.menuLozinsky .wrapperContent .menu-button.menu-active .menu-button-bar:last-of-type {
  transform: rotate(-45deg);
}
@media (min-width: 801px) {
  .menuLozinsky .wrapperContent .menu-nav {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .menuLozinsky .wrapperContent .menu-nav {
    width: 100%;
    height: 100vh;
    display: none;
  }
}
.menuLozinsky .wrapperContent .menu-nav .menu-list-block {
  display: flex;
  height: 100%;
  align-items: center;
}
@media (min-width: 801px) {
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block {
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block {
    flex-direction: column;
    align-items: flex-end;
    padding-left: 10px;
  }
}
.menuLozinsky .wrapperContent .menu-nav .menu-list-block .menu-list {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 801px) {
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block .menu-list {
    margin-left: 70px;
  }
}
@media (max-width: 800px) {
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block .menu-list {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    margin-top: 30px;
  }
}
.menuLozinsky .wrapperContent .menu-nav .menu-list-block .menu-list .menu-item {
  margin-right: 18px;
  font-size: 90%;
}
@media (max-width: 500px) {
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block .menu-list .menu-item {
    width: 100%;
    text-align: right;
  }
}
.menuLozinsky .wrapperContent .menu-nav .menu-list-block .menu-list .menu-item a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #353233;
}
@media (max-width: 800px) {
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block .menu-list .menu-item a {
    font-size: 35px;
    line-height: 56px;
  }
}
.menuLozinsky .wrapperContent .menu-nav .menu-list-block .menu-list .menu-item a:hover {
  color: #6568D0;
}
.menuLozinsky .wrapperContent .menu-nav .menu-list-block .social-list {
  display: flex;
}
@media (max-width: 800px) {
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block .social-list {
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
  }
}
.menuLozinsky .wrapperContent .menu-nav .menu-list-block .social-list a {
  text-decoration: none;
  width: 22px;
  height: 22px;
  display: flex;
  border: 1px solid #6568D0;
  color: #6568D0;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 15px;
}
@media (max-width: 800px) {
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block .social-list a {
    width: 44px;
    height: 44px;
  }
  .menuLozinsky .wrapperContent .menu-nav .menu-list-block .social-list a .fab {
    font-size: 28px;
  }
}

.formContact {
  position: relative;
  margin-bottom: -70px;
}
.formContact .wrapperContent {
  background-color: #F0F0F0;
}
@media (max-width: 800px) {
  .formContact .wrapperContent {
    box-sizing: border-box;
  }
}
.formContact .wrapperContent a {
  text-decoration: none;
}
.formContact .wrapperContent a:hover {
  text-decoration: none;
}
.formContact .wrapperContent .formContactContent {
  position: relative;
  padding: 50px;
}
.formContact .wrapperContent .formContactContent:after {
  position: absolute;
  content: "";
  display: block;
  background-image: url(../images/arrows-consultant.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 37px;
  height: 37px;
  right: 25%;
  top: calc(50% - 18px);
  transition: all 0.3s;
}
@media (max-width: 800px) {
  .formContact .wrapperContent .formContactContent:after {
    right: 5%;
  }
}
.formContact .wrapperContent .formContactContent .formContactContentText {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: 700;
  color: #6568D0;
}
@media (max-width: 800px) {
  .formContact .wrapperContent .formContactContent .formContactContentText {
    font-size: 20px;
  }
}
.formContact .wrapperContent .formContactContent .formContactContentText:before {
  content: "";
  display: block;
  width: 135px;
  height: 2px;
  background-color: #6568D0;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.formContact .wrapperContent .formContactContent:hover:after {
  right: 23%;
  transition: all 0.3s;
}
@media (max-width: 800px) {
  .formContact .wrapperContent .formContactContent:hover:after {
    right: 10%;
  }
}
.formContact .wrapperContent .formContactContent:hover .formContactContentText:before {
  margin-left: 40%;
  transition: all 0.3s;
}
@keyframes toTop {
  0% {
    width: 70px;
    left: 35px;
  }
  25% {
    width: 50px;
    left: 35px;
  }
  50% {
    width: 20px;
    left: 35px;
  }
  75% {
    width: 50px;
    left: 35px;
  }
  100% {
    width: 70px;
    left: 35px;
  }
}
.formContact .linkToTop {
  position: absolute;
  right: 0;
  top: -80px;
  width: 71px;
  height: 178px;
  display: flex;
  background-color: #6568D0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
@media (max-width: 800px) {
  .formContact .linkToTop {
    top: 100%;
  }
}
.formContact .linkToTop .linkText {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  transform: rotate(270deg);
  margin-top: 40px;
}
.formContact .linkToTop .linkText:after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(50% - 1px);
  width: 70px;
  left: 190%;
  height: 1px;
  background-color: #fff;
  animation: toTop 2s linear infinite;
}

footer {
  background-color: #353334;
  padding: 110px 0;
}
footer .wrapperContent {
  display: flex;
}
@media (max-width: 800px) {
  footer .wrapperContent {
    flex-wrap: wrap;
  }
}
footer .wrapperContent .footerTextBlock {
  width: 100%;
}
footer .wrapperContent .footerTextBlock p {
  color: #fff;
  font-weight: 200;
}
footer .menuListsBlock {
  display: flex;
  width: 40%;
}
@media (max-width: 800px) {
  footer .menuListsBlock {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  footer .menuListsBlock {
    width: 100%;
  }
}
footer .footerTextBlock p {
  color: #fff;
}
footer .footerTextBlock p a {
  color: #fff;
  text-decoration: none;
}
footer .footerMenuBlock {
  width: 160px;
}
footer .footerMenuBlock .footerMenuBlockList {
  margin-right: 40px;
  text-decoration: none;
}
footer .footerMenuBlock .footerMenuBlockList .menu-item {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 200;
  line-height: 24px;
  font-size: 14px;
}
footer .footerMenuBlock .footerMenuBlockList .menu-item a {
  color: #fff;
  text-decoration: none;
}
footer .footerMenuBlock .footerMenuBlockList .menu-item a:hover {
  text-decoration: none;
}
@media (max-width: 800px) {
  footer .footerNewsletter {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  footer .footerNewsletter {
    width: 100%;
  }
}
footer .footerNewsletter .newsTitle {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 20px;
}
footer .footerNewsletter .newsText {
  max-width: 350px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 24px;
}
footer .footerNewsletter .newsText:last-of-type {
  margin-bottom: 20px;
}
footer .footerNewsletter .newsForm {
  display: flex;
}
@media (max-width: 500px) {
  footer .footerNewsletter .newsForm {
    flex-wrap: wrap;
    justify-content: left;
  }
}
footer .footerNewsletter .newsForm .newsInput {
  box-sizing: border-box;
  max-width: 310px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: none;
  padding-left: 32px;
}
footer .footerNewsletter .newsForm .newsInput:focus {
  outline: none;
}
footer .footerNewsletter .newsForm .newsInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #353233;
  font-size: 14px;
  opacity: 1;
  /* Firefox */
}
footer .footerNewsletter .newsForm .newsInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #353233;
  font-size: 14px;
}
footer .footerNewsletter .newsForm .newsInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #353233;
  font-size: 14px;
}
footer .footerNewsletter .newsForm .newsBtn {
  margin-left: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  max-width: 230px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #6568D0;
}
@media (max-width: 500px) {
  footer .footerNewsletter .newsForm .newsBtn {
    margin-left: 0;
    margin-top: 15px;
  }
}
footer .footerNewsletter .newsForm .newsBtn:hover {
  cursor: pointer;
  background-color: #7e81d2;
  color: #fff;
}

.sliderTop {
  position: relative;
  margin-top: 84px;
}
.sliderTop .sliderTopContent {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.sliderTop .sliderTopContent .sliderTopContentItem {
  position: relative;
  height: 540px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.sliderTop .sliderTopContent .sliderTopContentItem:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #8ebaae;
  background: -moz-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  background: -webkit-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  background: linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ebaae",endColorstr="#363334",GradientType=1);
}
.sliderTop .sliderTopContent .sliderTopContentItem .wrapperContent {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}
@media (max-width: 500px) {
  .sliderTop .sliderTopContent .sliderTopContentItem .wrapperContent {
    align-items: flex-start;
    margin-top: 100px;
  }
}
.sliderTop .sliderTopContent .contentItemInfo {
  margin-left: 30px;
}
.sliderTop .sliderTopContent .contentItemInfo .catItem {
  position: relative;
}
.sliderTop .sliderTopContent .contentItemInfo .catItem:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  left: calc(-100% - 13px);
  top: calc(50% - 1px);
  height: 2px;
  background-color: #6568D0;
}
.sliderTop .sliderTopContent .contentItemInfo.lightInfo {
  color: #fff;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo {
  color: #353233;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .catItem {
  color: #6568D0;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .linkVideo:hover svg {
  margin-top: 5px;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .linkVideo:hover svg .play-button-svg {
  stroke: #fff;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .linkVideo:hover svg .play-icon-svg {
  fill: #fff;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .linkVideo:hover svg text {
  fill: #fff;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .linkVideo svg {
  margin-top: 5px;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .linkVideo svg .play-button-svg {
  stroke: #6568D0;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .linkVideo svg .play-icon-svg {
  fill: #6568D0;
}
.sliderTop .sliderTopContent .contentItemInfo.darkInfo .linkVideo svg text {
  fill: #6568D0;
}
.sliderTop .sliderTopContent .contentItemInfo .catItem {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.sliderTop .sliderTopContent .contentItemInfo .titleItem {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 5px;
}
.sliderTop .sliderTopContent .contentItemInfo .textItem {
  font-weight: 300;
  font-size: 33px;
}
.sliderTop .sliderTopContent .contentItemInfo .linkVideo:hover svg .play-button-svg {
  fill: #6568D0;
}
.sliderTop .sliderTopContent .contentItemInfo .linkVideo svg {
  margin-top: 5px;
}
.sliderTop .sliderTopContent .contentItemInfo .linkReadMore:hover svg path {
  fill: #6568D0;
}
.sliderTop .sliderTopContent .contentItemInfo .linkReadMore:hover svg line {
  fill: #6568D0;
}
.sliderTop .sliderTopContent .contentItemInfo .linkReadMore svg {
  margin-top: 5px;
}
.sliderTop .sliderTopControl {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  bottom: 0px;
  border-bottom: 33px solid #353233;
}
@media (max-width: 500px) {
  .sliderTop .sliderTopControl {
    width: 100%;
  }
}
.sliderTop .sliderTopControl .arrowBlock {
  margin-right: 44px;
}
@media (max-width: 500px) {
  .sliderTop .sliderTopControl .arrowBlock {
    margin-right: 22px;
    display: flex;
  }
}
.sliderTop .sliderTopControl .arrowBlock .slick-arrow-btn {
  width: 85px;
  height: 67px;
  background-color: #6568D0;
  border: none;
}
@media (max-width: 500px) {
  .sliderTop .sliderTopControl .arrowBlock .slick-arrow-btn {
    width: 65px;
    height: 47px;
  }
}
.sliderTop .sliderTopControl .arrowBlock .slick-arrow-btn:hover {
  cursor: pointer;
  background-color: #7e81d2;
  transition: 0.3s;
}
.sliderTop .sliderTopControl .arrowBlock .slick-arrow-btn:focus {
  outline: none;
}
.sliderTop .sliderTopControl .arrowBlock .slick-arrow-btn:first-of-type {
  margin-right: 1px;
}
@media (max-width: 500px) {
  .sliderTop .sliderTopControl .sliderTopInfo {
    width: 100%;
    margin-right: 20px;
  }
}
.sliderTop .sliderTopControl .slick-dots {
  display: flex;
}
.sliderTop .sliderTopControl .slick-dots li {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 18px;
}
.sliderTop .sliderTopControl .slick-dots li:not(.slick-active) .timeBar {
  display: none;
}
.sliderTop .sliderTopControl .slick-dots .slick-active {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  width: 80px;
  position: relative;
  color: #6568D0;
}
.sliderTop .sliderTopControl .slick-dots .slick-active .timeBar {
  margin-left: 15px;
  position: relative;
  z-index: 20;
  height: 2px;
  background-color: #6568D0;
}
.sliderTop .sliderTopControl .slick-dots .slick-active .timeBarBg {
  z-index: 15;
  position: absolute;
  left: 30px;
  width: 40px;
  height: 2px;
  background-color: #fff;
}

.sliderTopHome {
  margin-top: 100px;
}

.breadcumbs + .sliderTop {
  margin-top: 0;
}

.breadcumbs {
  margin-top: 90px;
}

.sliderCasesBlock {
  padding-top: 100px;
  margin-bottom: 90px;
}
.sliderCasesBlock .sliderCasesTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #BFBFBF;
  text-transform: lowercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.sliderCasesBlock .sliderCasesLogo {
  display: flex;
  margin-bottom: 60px;
}
.sliderCasesBlock .sliderCasesLogo .slick-prev, .sliderCasesBlock .sliderCasesLogo .slick-next {
  background-color: transparent;
  border: none;
}
.sliderCasesBlock .sliderCasesLogo .slick-prev:focus, .sliderCasesBlock .sliderCasesLogo .slick-next:focus {
  outline: none;
}
.sliderCasesBlock .sliderCasesLogo .slick-prev:hover, .sliderCasesBlock .sliderCasesLogo .slick-next:hover {
  cursor: pointer;
}
.sliderCasesBlock .sliderCasesLogo .slick-prev:hover img, .sliderCasesBlock .sliderCasesLogo .slick-next:hover img {
  transform: scale(0.5);
  transition: all 0.3s;
}
.sliderCasesBlock .sliderCasesLogo .slick-prev img, .sliderCasesBlock .sliderCasesLogo .slick-next img {
  transform: scale(0.4);
  transition: all 0.3s;
}
.sliderCasesBlock .sliderCasesLogo .slick-list {
  width: 90%;
  margin: auto;
}
@media (max-width: 500px) {
  .sliderCasesBlock .sliderCasesLogo .slick-list {
    padding: 0 !important;
  }
}
.sliderCasesBlock .sliderCasesLogo .slick-track {
  display: flex;
  align-items: center;
}
.sliderCasesBlock .sliderCasesLogo .sliderCasesLogoItem:focus {
  outline: none;
}
.sliderCasesBlock .sliderCasesLogo .sliderCasesLogoItem:hover {
  cursor: pointer;
}
.sliderCasesBlock .sliderCasesLogo .sliderCasesLogoItem img {
  max-width: 118px;
  margin: auto;
  height: auto;
}
@media (max-width: 500px) {
  .sliderCasesBlock .sliderCasesLogo .sliderCasesLogoItem img {
    max-width: 98px;
  }
}
.sliderCasesBlock .sliderCasesLogo .sliderCasesLogoItem img:focus {
  outline: none;
}
.sliderCasesBlock .sliderCasesLogo .sliderCasesLogoItem {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.sliderCasesBlock .sliderCasesLogo .sliderCasesLogoItem.slick-current {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo {
  display: flex;
}
@media (max-width: 500px) {
  .sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo {
    flex-direction: column;
  }
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo:focus {
  outline: none;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock {
  position: relative;
  width: 50%;
  background-size: cover;
  background-position: center;
  height: 455px;
}
@media (max-width: 500px) {
  .sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock {
    width: 100%;
    height: 227px;
  }
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock .video-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock .video-cover:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #8ebaae;
  background: -moz-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  background: -webkit-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  background: linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ebaae",endColorstr="#363334",GradientType=1);
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock .video-cover:after {
  content: "";
  position: absolute;
  display: block;
  top: calc(50% - 46px);
  left: calc(50% - 46px);
  width: 93px;
  height: 93px;
  background-image: url(../images/cover-play.png);
  background-size: contain;
  background-position: center;
  transition: all 0.3s;
  cursor: pointer;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock .video-cover:hover:after {
  transform: scale(1.2);
  transition: all 0.3s;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock iframe {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 75;
  position: relative;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock .caseBg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentImageBlock .caseBg:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #8ebaae;
  background: -moz-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  background: -webkit-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  background: linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ebaae",endColorstr="#363334",GradientType=1);
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock {
  width: 50%;
  padding: 20px 40px 0;
}
@media (max-width: 500px) {
  .sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock {
    padding: 20px 0;
    width: 100%;
  }
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .contentInfoBlockContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .contentInfoBlockContent a {
  text-decoration: none;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock a:hover .contentInfoTitle {
  color: #6568D0;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .contentInfoCaseTitle {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #353233;
  font-size: 18px;
  font-weight: 700;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .contentInfoCaseTitle:after {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #6568D0;
  position: absolute;
  left: -205px;
  bottom: 20px;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .contentInfoTitle {
  font-family: "Montserrat", sans-serif;
  color: #353233;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .contentInfoText {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  overflow: auto;
  width: 80%;
  border-bottom: 1px solid rgba(53, 50, 51, 0.3);
  padding-bottom: 10px;
}
@media (max-width: 800px) {
  .sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .contentInfoText {
    display: none;
  }
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .linkCase {
  text-decoration: none;
}
.sliderCasesBlock .sliderCasesContent .sliderCasesContentInfo .contentInfoBlock .linkCase .linkCaseText {
  font-family: "Montserrat", sans-serif;
  color: #6568D0;
  font-weight: 300;
  letter-spacing: 2px;
}

.visionIt {
  background-color: #353233;
  position: absolute;
  width: 100%;
  height: 350px;
}
@media (max-width: 500px) {
  .visionIt {
    position: relative;
  }
}
.visionIt .wrapperContent {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  padding: 90px 0;
}
@media (max-width: 1024px) {
  .visionIt .wrapperContent {
    padding: 90px 15px;
  }
}
@media (max-width: 500px) {
  .visionIt .wrapperContent {
    flex-direction: column;
  }
}
.visionIt .wrapperContent .visionTitleBlock {
  width: 40%;
}
@media (max-width: 800px) {
  .visionIt .wrapperContent .visionTitleBlock {
    width: 100%;
  }
}
.visionIt .wrapperContent .visionTitleBlock a {
  text-decoration: none;
}
.visionIt .wrapperContent .visionTitleBlock a:hover {
  color: #6568D0;
}
.visionIt .wrapperContent .visionTitleBlock .visionTitle {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
@media (max-width: 500px) {
  .visionIt .wrapperContent .visionTitleBlock .visionTitle {
    margin-bottom: 10px;
  }
}
.visionIt .wrapperContent .visionTextBlock {
  width: 100%;
  margin-top: 10px;
}
.visionIt .wrapperContent .visionTextBlock .visionText {
  color: #fff;
  font-size: 21px;
  line-height: 24px;
  font-weight: 300;
}

.visionIt + .visao {
  margin-left: auto;
  margin-right: auto;
  margin-top: 440px;
  background-image: url(../images/atuacao/bg-net.png);
  background-repeat: no-repeat;
}
@media (min-width: 1500px) {
  .visionIt + .visao {
    max-width: 1400px;
  }
}
@media (max-width: 500px) {
  .visionIt + .visao {
    margin-top: 0px;
  }
}
.visionIt + .visao .title-lg.barra-cinza:after {
  height: 300px;
}

.articleBlock {
  margin-top: 90px;
}
@media (max-width: 800px) {
  .articleBlock {
    margin-top: 45px;
  }
}
.articleBlock .articleTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: #BFBFBF;
  text-align: center;
  margin-bottom: 60px;
}
.articleBlock .articlePostBlock {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
@media (max-width: 700px) {
  .articleBlock .articlePostBlock {
    flex-direction: column;
  }
}
.articleBlock .articlePostBlock .articlePostItem {
  width: 32%;
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  .articleBlock .articlePostBlock .articlePostItem {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
  }
}
.articleBlock .articlePostBlock .articlePostItem:not(:nth-of-type(3n)) {
  margin-right: 2%;
}
@media (max-width: 800px) {
  .articleBlock .articlePostBlock .articlePostItem:not(:nth-of-type(3n)) {
    margin: auto;
    margin-bottom: 15px;
  }
}
.articleBlock .articlePostBlock .articlePostItem .articleItemImg {
  position: relative;
  height: 188px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemImg .articleCatText {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 10px 15px;
  background-color: #6568D0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 300;
  border-radius: 15px;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemImg .articleCatText:hover {
  color: #6568D0;
  background-color: #fff;
  border: 1px solid #6568D0;
  transition: all 0.3s;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemImg .articleItemAuthor {
  width: 56px;
  height: 56px;
  background-size: contain;
  border-radius: 56px;
  border: 3px solid #fff;
  position: absolute;
  bottom: -28px;
  left: 20px;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemBlock {
  background-color: #F7F7F7;
  padding: 37px 35px;
  height: 254px;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemBlock .articleItemTitle {
  font-size: 21px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #353233;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemBlock .articleItemText {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 25px;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemBlock a {
  text-decoration: none;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemBlock a .articleItemReadMore {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  color: #6568D0;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemFooter {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  border-top: 1px solid rgba(53, 50, 51, 0.5);
  padding: 13px 35px 8px;
}
.articleBlock .articlePostBlock .articlePostItem .articleItemFooter .articleItemFooterText {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #353233;
  font-size: 10px;
}
.articleBlock .articleBlockButton {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.articleBlock .articleBlockButton .articleBtnLink {
  text-decoration: none;
}
.articleBlock .articleBlockButton .articleBtnLink .articleBtn {
  position: relative;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  color: #6568D0;
  text-align: center;
  padding: 15px 0;
}
.articleBlock .articleBlockButton .articleBtnLink .articleBtn:before {
  top: 0;
  position: absolute;
  left: -25%;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #6568D0;
  transition: all 0.3s;
}
.articleBlock .articleBlockButton .articleBtnLink .articleBtn:after {
  bottom: 0;
  position: absolute;
  right: -25%;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #6568D0;
  transition: all 0.3s;
}
.articleBlock .articleBlockButton .articleBtnLink .articleBtn:hover:after {
  right: 0;
  transition: all 0.3s;
}
.articleBlock .articleBlockButton .articleBtnLink .articleBtn:hover:before {
  left: 0;
  transition: all 0.3s;
}

.wrapperContent {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
@media (max-width: 1024px) {
  .wrapperContent {
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.not-found {
  text-align: center;
  padding: 60px 0;
}
.not-found img {
  width: 100%;
  max-width: 600px;
}

a {
  font-family: "Montserrat", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.text-mont {
  font-family: "Montserrat", sans-serif;
}

.text-roboto {
  font-family: "Roboto", sans-serif;
}

.title-lg {
  font-weight: bold;
  font-size: 35px;
}
@media (max-width: 500px) {
  .title-lg {
    line-height: 35px;
  }
}

.title-md {
  font-size: 27px;
  font-weight: bold;
}

.text-bold {
  font-weight: bold;
}

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-xl {
  font-size: 32px;
}

.text-lg {
  font-size: 24px;
}

.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

.cat-text {
  font-size: 19px;
  font-weight: 700;
}

.post-title {
  font-size: 35px;
  font-weight: 700;
}

.link-default {
  color: #6568D0;
  text-decoration: none;
  font-weight: 700;
}

@keyframes toDown {
  0% {
    width: 70px;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 70px;
  }
}
.cat-line {
  position: relative;
  z-index: 1;
}
.cat-line:before {
  position: absolute;
  top: calc(50% + 1px);
  overflow: hidden;
  width: 50%;
  left: calc(-50% - 10px);
  height: 1px;
  content: " ";
  background-color: #6568D0;
}
@media (max-width: 500px) {
  .cat-line:before {
    display: none;
  }
}

.breadcumbs {
  background-color: #353334;
}
.breadcumbs .wrapperContent {
  display: flex;
}
.breadcumbs #breadcumbsText {
  font-family: "Montserrat", sans-serif;
  padding: 8px 0;
  font-size: 15px;
  color: #fff;
}
.breadcumbs #breadcumbsText:not(:last-of-type):after {
  content: ">";
  padding: 0 8px;
}
.breadcumbs #breadcumbsText a {
  color: #fff;
  text-decoration: none;
}

.social-block .social-list {
  display: flex;
}
@media (max-width: 800px) {
  .social-block .social-list {
    justify-content: space-around;
  }
}
.social-block .social-list .social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid;
  border-radius: 100%;
}
@media (min-width: 801px) {
  .social-block .social-list .social-item:not(:last-of-type) {
    margin-right: 28px;
  }
}
.social-block .social-list .social-item .fab {
  font-size: 28px;
}

.linkToDown {
  position: absolute;
  left: 0;
  z-index: 25;
  bottom: 0;
  width: 71px;
  height: 178px;
  display: flex;
  background-color: #6568D0;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  text-decoration: none;
}
@media (max-width: 800px) {
  .linkToDown {
    display: none;
  }
}
.linkToDown:hover .linkText {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  transform: rotate(270deg);
  margin-top: -40px;
}
.linkToDown .linkText {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  transform: rotate(270deg);
  margin-top: -40px;
}
.linkToDown .linkText:before {
  content: "";
  position: absolute;
  display: block;
  width: 70px;
  height: 1px;
  background-color: #fff;
  bottom: calc(50% - 1px);
  left: -220%;
  animation: toDown 2s ease-in infinite;
}

.associate {
  margin-top: 95px;
}
.associate .associate-top-block {
  max-width: 580px;
  margin: auto;
  margin-bottom: 37px;
}
.associate .associate-top-block .text-xl {
  text-align: center;
  color: #BFBFBF;
  margin-bottom: 40px;
}
.associate .associate-top-block .text-sm {
  color: #353233;
  line-height: 20px;
  text-align: center;
}
.associate .associate-list {
  display: flex;
  flex-wrap: wrap;
}
.associate .associate-list .associate-item {
  max-width: 32%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  border: 2px solid #F0F1F1;
  box-sizing: border-box;
  margin-bottom: 19px;
}
@media (min-width: 801px) {
  .associate .associate-list .associate-item:not(:nth-of-type(3n)) {
    margin-right: 2%;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  .associate .associate-list .associate-item {
    max-width: 48%;
  }
  .associate .associate-list .associate-item:not(:nth-of-type(2n)) {
    margin-right: 4%;
  }
}
@media (max-width: 500px) {
  .associate .associate-list .associate-item {
    max-width: 100%;
    width: 100%;
  }
}
.associate .associate-list .associate-item .associate-img {
  width: 195px;
  height: 195px;
  margin: 33px auto 18px;
  border-radius: 100%;
  background-color: #353233;
}
.associate .associate-list .associate-item .associate-info {
  padding: 0 36px;
}
.associate .associate-list .associate-item .associate-info .top-info-block .text-mont {
  text-align: center;
}
.associate .associate-list .associate-item .associate-info .middle-info-block {
  margin: 16px auto 8px;
}
.associate .associate-list .associate-item .associate-info .middle-info-block .text-sm {
  line-height: 20px;
}
.associate .associate-list .associate-item .associate-info .middle-info-block .text-mont {
  height: 130px;
}
.associate .associate-list .associate-item .associate-info .footer-info-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.associate .associate-list .associate-item .associate-info .footer-info-block a {
  text-decoration: none;
  color: #6568D0;
}
.associate .associate-list .associate-item .associate-info .footer-info-block .footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid;
}
.associate .associate-list .associate-item .associate-info .footer-info-block .footer-link-text .footer-link-content {
  font-size: 16px;
  font-weight: bold;
}

.linkVideo:hover svg {
  margin-top: 5px;
}
.linkVideo:hover svg .play-button-svg {
  stroke: #fff;
}
.linkVideo:hover svg .play-icon-svg {
  fill: #fff;
}
.linkVideo:hover svg text {
  fill: #fff;
}
.linkVideo svg {
  margin-top: 5px;
}
.linkVideo svg .play-button-svg {
  stroke: #6568D0;
}
.linkVideo svg .play-icon-svg {
  fill: #6568D0;
}
.linkVideo svg text {
  fill: #6568D0;
}

@media (max-width: 500px) {
  .control-post {
    margin-top: 40px;
  }
}
.control-post .control-post-content {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
@media (max-width: 500px) {
  .control-post .control-post-content {
    width: 100%;
  }
}
.control-post .control-link, .control-post a {
  position: relative;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #6568D0;
}
.control-post .control-link:nth-of-type(2n), .control-post a:nth-of-type(2n) {
  margin-right: 30px;
}
.control-post .control-link .prev-post:before, .control-post a .prev-post:before {
  content: "";
  position: absolute;
  display: block;
  width: 138px;
  height: 1px;
  background-color: #6568D0;
  top: -14px;
  transition: transform 0.3s;
}
.control-post .control-link .prev-post:hover:before, .control-post a .prev-post:hover:before {
  transform: translateX(14px);
  transition: transform 0.3s;
}
.control-post .control-link .next-post:after, .control-post a .next-post:after {
  content: "";
  position: absolute;
  display: block;
  width: 138px;
  height: 1px;
  background-color: #6568D0;
  bottom: -14px;
  transform: translateX(14px);
  transition: transform 0.3s;
}
.control-post .control-link .next-post:hover:after, .control-post a .next-post:hover:after {
  transform: translateX(0px);
  transition: transform 0.3s;
}

.textWhite {
  color: #fff;
}

.linkStyle {
  text-decoration: none;
}

.positive-alert {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #8EBAAE;
  margin-bottom: 31px;
}

.sidebar-block {
  margin: 34px 0;
}
.sidebar-block.sidebar-atuacao {
  background-image: url(../images/atuacao/sidebar-bg.png);
  background-size: cover;
  background-color: #F7F7F7;
  padding: 0 28px;
  padding-top: 80px;
}
.sidebar-block.sidebar-atuacao .sidebar-text-block {
  padding-right: 24px;
  padding-bottom: 18px;
}
.sidebar-block.sidebar-atuacao .sidebar-text-block a {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.sidebar-block.sidebar-report {
  padding: 19px 28px 0;
  background-color: #F7F7F7;
}
.sidebar-block.sidebar-report .sidebar-title1 {
  max-width: 20ch;
}
.sidebar-block.sidebar-report .report-book {
  position: relative;
  max-width: 203px;
  height: 166px;
  background-image: url(../images/atuacao/report-cover.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -20px;
}
.sidebar-block.sidebar-report .report-book .purple-text {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: -40px;
  line-height: 27px;
  letter-spacing: 0.085em;
  text-decoration: none;
}
@media (max-width: 800px) and (min-width: 501px) {
  .sidebar-block.sidebar-report .report-book .purple-text {
    right: unset;
    left: 20px;
  }
}
.sidebar-block .sidebar-title1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
}
.sidebar-block .sidebar-title1.sidebar-title2 {
  font-size: 16px;
}
.sidebar-block .purple-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  /* or 183% */
  color: #656AC9;
}
.sidebar-block .sidebar-text-block p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  /* or 175% */
  letter-spacing: 0.085em;
}
.sidebar-block .sidebar-text-block a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 27px;
  color: #656AC9;
  text-decoration: none;
  /* or 225% */
  letter-spacing: 0.085em;
}

.modalSeacrh {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modalSeacrh .modal-content {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
.modalSeacrh .modal-content .modal-form, .modalSeacrh .modal-content .modal-form .searchform {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .screen-reader-text {
  display: none;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .searchform-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .searchform-content .search-field {
  max-width: 80%;
  width: 100%;
  font-size: 40px;
  background-color: unset;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-align: center;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .searchform-content .search-field::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .searchform-content .search-field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .searchform-content .search-field::placeholder {
  color: #fff;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .searchform-content .search-field:focus {
  outline: none;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .searchform-content .searchsubmit {
  margin-top: 10px;
  padding: 18px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  background-color: #6568D0;
  color: #fff;
  text-decoration: none;
  border: 2px solid #6568D0;
}
.modalSeacrh .modal-content .modal-form .searchform .search-content .searchform-content .searchsubmit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #6568D0;
  border: 2px solid #6568D0;
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 100px;
  line-height: 1.5rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  right: 10px;
  top: 10px;
  background-color: unset;
  color: #fff;
}
.close-button:hover {
  border-radius: 50%;
  color: #676ad0;
  background-color: #fff;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  z-index: 50;
  background-color: rgba(101, 104, 208, 0.8);
}

.searchBlock {
  margin-top: 130px;
}
.searchBlock .cat-title {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 40px;
}
.searchBlock .cat-title span {
  color: #6568D0;
}
.searchBlock .articleBlockButton .articleBtn .page-numbers {
  color: unset;
  text-decoration: unset;
  font-weight: 400;
}
.searchBlock .articleBlockButton .articleBtn .page-numbers.current {
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
