.visao {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding-top: 67px;
  padding-bottom: 67px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/atuacao/bg-net.png);
  background-repeat: no-repeat;
  background-position: -76px -93px;
}
.visao .title-lg {
  color: #6568D0;
  position: relative;
}
.visao .title-lg.barra-cinza:after {
  content: "";
  background: #E5E6E7;
  height: 191%;
  width: 500px;
  left: -514px;
  top: 0;
  position: absolute;
  height: 300px;
}
@media (max-width: 500px) {
  .visao .title-lg.barra-cinza:after {
    display: none;
  }
}
.visao .graphic-itens-list {
  position: absolute;
  padding: 30px 0 0 30px;
}
@media (max-width: 1200px) {
  .visao .graphic-itens-list {
    position: relative;
  }
}
@media (max-width: 800px) {
  .visao .graphic-itens-list {
    padding: 30px 30px 0 0px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item {
  margin-bottom: 20px;
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(1) .graphic-title:after {
  width: 440px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(1) .graphic-title:after {
    width: 400px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(2) .graphic-title:after {
  width: 500px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(2) .graphic-title:after {
    width: 450px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(3) .graphic-title:after {
  width: 670px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(3) .graphic-title:after {
    width: 600px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(4) .graphic-title:after {
  width: 280px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(4) .graphic-title:after {
    width: 220px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(5) .graphic-title:after {
  width: 510px;
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .visao .graphic-itens-list .graphic-itens-list-item:nth-of-type(5) .graphic-title:after {
    width: 460px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-title {
  display: inline;
  position: relative;
  font-size: 26px;
  color: #8ebaae;
  font-weight: 700;
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-title:after {
  content: "";
  position: absolute;
  left: 100%;
  margin-left: 18px;
  display: block;
  bottom: 7px;
  height: 3px;
  background-color: #8ebaae;
}
@media (max-width: 1200px) {
  .visao .graphic-itens-list .graphic-itens-list-item .graphic-title:after {
    display: none;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-title a {
  text-decoration: none;
  color: unset;
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-text {
  font-size: 17px;
  max-width: 450px;
}
@media (max-width: 800px) {
  .visao .graphic-itens-list .graphic-itens-list-item .graphic-text {
    max-width: 100%;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-text a {
  text-decoration: none;
  font-weight: 700;
  color: #8ebaae;
  transition: all 0.3s;
}
@media (max-width: 800px) and (min-width: 501px) {
  .visao .graphic-itens-list .graphic-itens-list-item .graphic-text a {
    display: block;
    margin: 5px 0;
  }
}
@media (max-width: 500px) {
  .visao .graphic-itens-list .graphic-itens-list-item .graphic-text a {
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
.visao .graphic-itens-list .graphic-itens-list-item .graphic-text a:hover {
  color: #6568D0;
  transition: all 0.3s;
}
.visao .grafico {
  float: right;
  max-width: 640px;
  margin-right: 50px;
  width: 100%;
  margin-top: -10px;
  position: relative;
}
@media (max-width: 1200px) {
  .visao .grafico {
    display: none;
  }
}
.visao .grafico img {
  width: 100%;
}
.visao .grafico .btn {
  position: absolute;
  cursor: pointer;
}
@media (max-width: 500px) {
  .visao .grafico .btn:nth-child(-n+5) .tooltip {
    left: 70px;
  }
}
.visao .grafico .btn .ball {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: inline-block;
  background-color: #8ebaae;
  position: relative;
  margin-left: 10px;
  margin-bottom: -6px;
}
.visao .grafico .btn .ball:after {
  content: "";
  border: 1px solid #6669D1;
  width: 60px;
  position: absolute;
  height: 60px;
  top: -1px;
  left: -1px;
  border-radius: 65px;
  display: block;
  transform: scale(1);
  animation: pulse-2 2s infinite;
  -moz-animation: pulse-2 2s infinite;
  -webkit-animation: pulse-2 2s infinite;
  -o-animation: pulse-2 2s infinite;
}
.visao .grafico .btn .tooltip {
  display: none;
  position: absolute;
  top: -37px;
  left: -117px;
  width: 110px;
  font-size: 12px;
  line-height: 14px;
  background: #8ebaae;
  border-radius: 9px;
  padding: 14px;
  color: white;
  z-index: 9;
}
.visao .grafico .btn .tooltip h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 14px;
}
.visao .grafico .btn .tooltip p {
  line-height: 13px;
  font-size: 12px;
  margin-bottom: 5px;
}
.visao .grafico .btn .tooltip a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
}
.visao .grafico .btn .tooltip a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.visao .grafico .btn .tooltip.active {
  display: block;
}
.visao .grafico .btn.btn-1 {
  top: 5%;
  left: 18%;
}
.visao .grafico .btn.btn-2 {
  top: 19%;
  left: 28%;
}
.visao .grafico .btn.btn-3 {
  top: 57%;
  left: 0%;
}
.visao .grafico .btn.btn-4 {
  top: 42%;
  left: 43%;
}
.visao .grafico .btn.btn-5 {
  top: 79%;
  left: 18%;
}
.visao .modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  padding: 79px 0;
  line-height: 23px;
}
@media (max-width: 500px) {
  .visao .modal {
    height: 90%;
  }
}
.visao .modal.active {
  display: block;
}
@media (max-width: 500px) {
  .visao .modal.active {
    position: fixed;
    z-index: 99999999;
    padding: 50px 0px;
    overflow: auto;
  }
}
.visao .modal .title-lg {
  margin-bottom: 15px;
}
.visao .modal p, .visao .modal ul {
  margin-bottom: 15px;
}
.visao .modal strong {
  font-weight: bold;
}
.visao .modal ul, .visao .modal li {
  font-family: "Montserrat", sans-serif;
}
.visao .modal li {
  list-style: circle;
  margin-left: 20px;
}
.visao .modal .btn-fechar {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 80px;
  top: 63px;
  line-height: 2;
  display: block;
  cursor: pointer;
  color: #6669D1;
  width: 90px;
  padding-right: 0;
  height: 32px;
}
@media (max-width: 500px) {
  .visao .modal .btn-fechar {
    right: 10px;
    top: 10px;
  }
}
.visao .modal .btn-fechar:after, .visao .modal .btn-fechar:before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #6568D0;
  position: absolute;
  top: 43%;
  transform: rotate(45deg);
  right: 0;
}
.visao .modal .btn-fechar:before {
  transform: rotate(-45deg);
}
.visao .modal .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
@media (max-width: 500px) {
  .visao .modal .flex-container {
    flex-direction: column-reverse;
  }
}
.visao .modal .flex-container .col-1 {
  flex: 1;
  margin-left: 10px;
}
@media (max-width: 500px) {
  .visao .modal .flex-container .col-1 {
    width: 100%;
    margin: 0 auto 20px;
  }
}
.visao .modal .flex-container .col-1:first-child {
  margin-left: 0;
}
.visao .modal .flex-container .col-1 .foto {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .visao .modal .flex-container .col-1 .foto {
    min-height: 300px;
  }
}

.modal-lozinsky {
  padding: 64px 0 !important;
  max-width: 1025px !important;
}
@media (max-width: 500px) {
  .modal-lozinsky {
    width: 100% !important;
    min-height: 100% !important;
  }
}
.modal-lozinsky .modal-block {
  display: flex;
}
.modal-lozinsky .modal-block .menu-modal-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 23px;
  width: 180px;
  font-size: 14px;
  font-weight: 700;
  background-color: #E5E6E8;
}
@media (max-width: 800px) {
  .modal-lozinsky .modal-block .menu-modal-block {
    display: none;
  }
}
.modal-lozinsky .modal-block .menu-modal-block a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 8px;
  color: #6669D1;
}
.modal-lozinsky .modal-block .menu-modal-block a.menu-item-active {
  opacity: 0.6;
}
.modal-lozinsky .modal-block .menu-modal-block a:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-image: url(../images/list-bullets.png);
  background-size: contain;
  background-position: center;
  margin-right: 6px;
}
.modal-lozinsky .modal-block .modal-content {
  position: relative;
  padding: 0 62px;
  width: calc(100% - 180px);
}
@media (max-width: 800px) {
  .modal-lozinsky .modal-block .modal-content {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content {
    box-sizing: border-box;
    padding: 0 45px;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-title {
  font-size: 35px;
  font-weight: 700;
  color: #6669D1;
  margin-bottom: 8px;
}
@media (max-width: 320px) {
  .modal-lozinsky .modal-block .modal-content .modal-title {
    font-size: 25px;
  }
}
.modal-lozinsky .modal-block .modal-content .arrow-modal {
  position: absolute;
  top: calc(50% - 11px);
}
.modal-lozinsky .modal-block .modal-content .arrow-modal.arrow-left {
  left: 25px;
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .arrow-modal.arrow-left {
    left: 15px;
  }
}
.modal-lozinsky .modal-block .modal-content .arrow-modal.arrow-right {
  right: 25px;
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .arrow-modal.arrow-right {
    right: 15px;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-content-block {
  display: flex;
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .modal-content-block {
    flex-direction: column-reverse;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-content-block p, .modal-lozinsky .modal-block .modal-content .modal-content-block ul, .modal-lozinsky .modal-block .modal-content .modal-content-block li {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 127.4%;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block p, .modal-lozinsky .modal-block .modal-content .modal-content-block ul {
  margin-bottom: 10px;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block li {
  display: flex;
  align-items: center;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block li:before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: #000;
  border-radius: 100%;
  margin-right: 5px;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block .font-bold {
  font-weight: 700;
}
.modal-lozinsky .modal-block .modal-content .modal-content-block .modal-text-block {
  width: calc(50% - 22px);
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-text-block {
    width: 100%;
    margin: auto;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-content-block .modal-text-block:not(:last-of-type) {
  margin-right: 22px;
}
@media (max-width: 800px) and (min-width: 501px) {
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-image-block {
    width: 50%;
  }
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-image-block img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-image-block {
    display: none;
    width: 100%;
  }
  .modal-lozinsky .modal-block .modal-content .modal-content-block .modal-image-block img {
    max-width: 100%;
    height: auto;
  }
}
.modal-lozinsky .modal-block .modal-content .modal-contact-block a {
  text-decoration: none;
  font-weight: 700;
  color: #6669D1;
}
.modal-lozinsky .modal-block .close-modal-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: absolute;
  right: 25px;
  top: -30px;
  color: #6669D1;
}
@media (max-width: 500px) {
  .modal-lozinsky .modal-block .close-modal-btn {
    top: -35px;
  }
}
.modal-lozinsky .modal-block .close-modal-btn:after {
  content: "";
  width: 19px;
  height: 19px;
  display: block;
  background-image: url(../images/atuacao/close-purple.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.blocker {
  z-index: 50 !important;
  box-sizing: content-box !important;
  padding: 0 !important;
}

.modal a.close-modal {
  display: none !important;
}

/* Animation Keyframes*/
@keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes pulse-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=visao.css.map */
