.estudos {
  margin-top: 67px;
}
.estudos h1, .estudos h2, .estudos h3, .estudos h4, .estudos h5, .estudos h6, .estudos p {
  margin-bottom: 15px;
  line-height: 16px;
}
.estudos .cat-text {
  font-size: 23px;
  color: #6568D0;
  margin-bottom: 15px;
  position: relative;
}
.estudos .cat-text:before {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 100%;
  right: calc(-50% - 20px);
  height: 1px;
  content: " ";
  background-color: #6568D0;
}
.estudos .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.estudos .flex-container .col-1 {
  flex: 1;
}

/*# sourceMappingURL=estudos.css.map */
