.main-post .cat-title-block {
  padding: 37px 0 27px; }
  .main-post .cat-title-block a {
    text-decoration: none; }
    .main-post .cat-title-block a .cat-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 23px;
      font-weight: 700;
      color: #6568D0;
      margin-left: 10px; }
      .main-post .cat-title-block a .cat-title.cat-line:before {
        top: calc(100% - 5px); }
.main-post .main-post-info {
  display: flex; }
  @media (max-width: 500px) {
    .main-post .main-post-info {
      flex-direction: column; } }
  .main-post .main-post-info .main-post-content-block {
    width: 75%; }
    @media (max-width: 500px) {
      .main-post .main-post-info .main-post-content-block {
        width: 100%; } }
    .main-post .main-post-info .main-post-content-block .main-post-img {
      display: flex;
      align-items: flex-end;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 322px; }
      .main-post .main-post-info .main-post-content-block .main-post-img .main-post-title {
        width: 70%;
        margin-left: 47px;
        margin-bottom: 42px;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: #fff; }
      .main-post .main-post-info .main-post-content-block .main-post-img.no-img .main-post-title {
        color: #353233; }
    .main-post .main-post-info .main-post-content-block .main-post-text-content img {
      float: left;
      margin-right: 16px;
      max-width: 100%;
      height: auto; }
      @media (max-width: 800px) {
        .main-post .main-post-info .main-post-content-block .main-post-text-content img {
          float: unset;
          margin: auto; } }
    .main-post .main-post-info .main-post-content-block .main-post-text-content p {
      font-family: 'Montserrat', sans-serif;
      line-height: 200%;
      letter-spacing: 1px;
      color: #353233;
      margin: 32px auto; }
    .main-post .main-post-info .main-post-content-block .main-post-text-content .medium-text-img-block {
      display: flex;
      align-items: center; }
      .main-post .main-post-info .main-post-content-block .main-post-text-content .medium-text-img-block p {
        margin: 0 0 0 13px; }
  .main-post .main-post-info .main-post-user-block {
    width: calc(100% - 75%);
    margin-left: 18px; }
    @media (max-width: 500px) {
      .main-post .main-post-info .main-post-user-block {
        width: 100%;
        margin: auto; } }
    .main-post .main-post-info .main-post-user-block .post-user-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #BFBFBF;
      text-align: center;
      margin-bottom: 11px; }
    .main-post .main-post-info .main-post-user-block .main-post-user-block-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #F7F7F7;
      padding: 32px 36px 15px; }
      .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-img {
        width: 166px;
        height: 166px;
        background-size: contain;
        border-radius: 100%;
        margin-bottom: 18px; }
      .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-name {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        color: #353233;
        font-weight: 700; }
      .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #353233;
        margin-top: 7px; }
      .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-block-content .user-block-content-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px; }
        .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-block-content .user-block-content-footer .see-more-link {
          text-decoration: none; }
          .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-block-content .user-block-content-footer .see-more-link .see-more-text {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 14px;
            color: #6568D0; }
        .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-block-content .user-block-content-footer .social-link {
          text-decoration: none;
          color: #6568D0; }
          .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-block-content .user-block-content-footer .social-link:hover .fab {
            background-color: #6568D0;
            color: #fff; }
          .main-post .main-post-info .main-post-user-block .main-post-user-block-content .user-block-content .user-block-content-footer .social-link .fab {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border: 1px solid #6568D0;
            border-radius: 100%; }
    .main-post .main-post-info .main-post-user-block .share-bottom {
      margin-top: 27px; }
    .main-post .main-post-info .main-post-user-block .social-list {
      display: flex;
      justify-content: center; }
      .main-post .main-post-info .main-post-user-block .social-list a {
        text-decoration: none;
        color: #6568D0; }
        .main-post .main-post-info .main-post-user-block .social-list a:not(:last-of-type) {
          margin-right: 31px; }
        .main-post .main-post-info .main-post-user-block .social-list a:hover .fab {
          background-color: #6568D0;
          color: #fff; }
      .main-post .main-post-info .main-post-user-block .social-list .fab {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #6568D0;
        border-radius: 100%;
        width: 43px;
        height: 43px; }

.articleBlock {
  margin-top: 64px; }

/*# sourceMappingURL=blog-interna.css.map */
