body {
  font-family: 'Montserrat', sans-serif; }

.contact-main {
  position: relative; }
  .contact-main .purple-bg {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #6668D2;
    right: 0; }
    @media (max-width: 500px) {
      .contact-main .purple-bg {
        display: none; } }
  .contact-main .wrapperContent {
    display: flex; }
    @media (max-width: 500px) {
      .contact-main .wrapperContent {
        flex-direction: column; } }
    .contact-main .wrapperContent .form-block {
      width: 50%;
      /* Hide default HTML checkbox */
      /* The slider */
      /* Rounded sliders */ }
      @media (max-width: 800px) {
        .contact-main .wrapperContent .form-block {
          padding-right: 10px;
          box-sizing: border-box; } }
      @media (max-width: 500px) {
        .contact-main .wrapperContent .form-block {
          width: 100%; } }
      .contact-main .wrapperContent .form-block .title-lg {
        color: #353233;
        padding: 40px 0 45px; }
      .contact-main .wrapperContent .form-block .contact-input, .contact-main .wrapperContent .form-block .contact-textarea, .contact-main .wrapperContent .form-block .contact-submit {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        max-width: 470px;
        height: 49px;
        border-radius: 50px;
        border: 1px solid #353233;
        box-sizing: border-box;
        padding: 0 32px;
        margin-bottom: 27px; }
        .contact-main .wrapperContent .form-block .contact-input:focus, .contact-main .wrapperContent .form-block .contact-textarea:focus, .contact-main .wrapperContent .form-block .contact-submit:focus {
          outline: none; }
        .contact-main .wrapperContent .form-block .contact-input::placeholder, .contact-main .wrapperContent .form-block .contact-textarea::placeholder, .contact-main .wrapperContent .form-block .contact-submit::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          font-size: 14px;
          font-weight: 300;
          color: #353233;
          opacity: 1;
          /* Firefox */ }
        .contact-main .wrapperContent .form-block .contact-input:-ms-input-placeholder, .contact-main .wrapperContent .form-block .contact-textarea:-ms-input-placeholder, .contact-main .wrapperContent .form-block .contact-submit:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          font-size: 14px;
          font-weight: 300;
          color: #353233; }
        .contact-main .wrapperContent .form-block .contact-input::-ms-input-placeholder, .contact-main .wrapperContent .form-block .contact-textarea::-ms-input-placeholder, .contact-main .wrapperContent .form-block .contact-submit::-ms-input-placeholder {
          /* Microsoft Edge */
          font-size: 14px;
          font-weight: 300;
          color: #353233; }
      .contact-main .wrapperContent .form-block .contact-textarea {
        height: 153px;
        border-radius: 25px;
        box-sizing: border-box;
        padding: 18px 32px; }
      .contact-main .wrapperContent .form-block .contact-submit {
        border-color: transparent;
        background-color: #6568D0;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 100; }
        .contact-main .wrapperContent .form-block .contact-submit:hover {
          cursor: pointer;
          background-color: #fff;
          border-color: #6568D0;
          color: #6568D0; }
      .contact-main .wrapperContent .form-block .switch-block {
        display: flex;
        align-items: center;
        margin-bottom: 32px; }
      .contact-main .wrapperContent .form-block .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-right: 15px; }
        .contact-main .wrapperContent .form-block .switch input {
          opacity: 0;
          width: 0;
          height: 0; }
      .contact-main .wrapperContent .form-block .switch-text {
        font-family: 'Montserrat', sans-serif;
        color: rgba(53, 50, 51, 0.5);
        font-weight: 300; }
      .contact-main .wrapperContent .form-block .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s; }
        .contact-main .wrapperContent .form-block .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: transform .4s;
          transition: transform .4s; }
      .contact-main .wrapperContent .form-block input:checked + .slider {
        background-color: #f7f7f7; }
      .contact-main .wrapperContent .form-block input:focus + .slider {
        box-shadow: 0 0 1px #f7f7f7; }
      .contact-main .wrapperContent .form-block input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        display: flex;
        align-items: center;
        justify-content: center;
        content: '\f00c';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #fff;
        background-color: #6568D0; }
      .contact-main .wrapperContent .form-block .slider.round {
        border-radius: 34px;
        border: 1px solid #eee;
        background-color: #f7f7f7; }
        .contact-main .wrapperContent .form-block .slider.round:before {
          border-radius: 50%;
          background-color: #d3d3d3;
          width: 34px;
          height: 34px;
          bottom: -1px; }
    .contact-main .wrapperContent .conection-block {
      width: 50%;
      z-index: 25;
      padding: 78px 55px;
      box-sizing: border-box;
      color: #fff; }
      @media (max-width: 500px) {
        .contact-main .wrapperContent .conection-block {
          width: 100%;
          background-color: #6568D0; } }
      .contact-main .wrapperContent .conection-block .title-md {
        max-width: 240px; }
      .contact-main .wrapperContent .conection-block .text-lg {
        padding: 27px 0 18px; }
      .contact-main .wrapperContent .conection-block .text-sm {
        font-weight: normal;
        line-height: 20px; }
      .contact-main .wrapperContent .conection-block .social-block {
        margin-top: 16px; }
        .contact-main .wrapperContent .conection-block .social-block .social-list .social-item:hover {
          background-color: #fff; }
          .contact-main .wrapperContent .conection-block .social-block .social-list .social-item:hover .fab {
            color: #6568D0; }
        .contact-main .wrapperContent .conection-block .social-block .social-list .social-item .fab {
          color: #fff; }

.team {
  position: relative;
  min-height: 502px;
  margin-top: 87px;
  margin-bottom: 130px; }
  @media (max-width: 500px) {
    .team {
      margin-top: 0; } }
  .team .wrapperContent {
    position: relative; }
  .team .teamBg {
    position: absolute;
    width: 100%;
    height: 415px;
    background-color: #F7F7F7; }
  .team .wrapperContent {
    display: flex; }
  .team .team-info, .team .team-cover {
    width: 50%; }
    @media (max-width: 800px) {
      .team .team-info, .team .team-cover {
        width: 100%; } }
  .team .team-info {
    padding-top: 62px; }
    .team .team-info .text-xl {
      margin-bottom: 51px; }
    .team .team-info .text-md {
      line-height: 31px;
      max-width: 80%; }
    .team .team-info .team-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 392px;
      height: 57px;
      background-color: #6568D0;
      border-radius: 60px;
      margin-top: 55px; }
      .team .team-info .team-btn .text-bold {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        letter-spacing: 2px; }
  .team .team-cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 502px;
    background-size: cover;
    background-color: #fff; }
    @media (max-width: 800px) {
      .team .team-cover {
        width: 100%;
        position: relative;
        margin-top: 46px; } }
    .team .team-cover .team-cover-info {
      padding-top: 180px;
      padding-left: 82px; }
      .team .team-cover .team-cover-info .title-md {
        color: #fff;
        line-height: 33px;
        margin-bottom: 8px; }
      .team .team-cover .team-cover-info .text-sm {
        color: #fff; }

/*# sourceMappingURL=contato.css.map */
