@import 'variables';
.menuLozinsky {
    position: fixed;
    z-index: 30;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(53, 50, 51, 0.5);
    top: 0;
    .wrapperContent {
        display: flex;
        padding: 17px 0;
        @media(max-width: 800px) {
            flex-wrap: wrap;
            align-items: center;
            padding: 17px 30px;
        } 
        @media(max-width: 330px) {
            justify-content: space-between;
        }
        .logo-menu {
            // max-width: 232px;
            max-width: 282px;
            @media(max-width: 800px) {
                max-width: 232px;
            }
            @media(max-width: 330px) {
                max-width: 202px;
            }
        }
        .menu-button {
            max-width: calc(100% - 232px);
            width: 100%;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media(min-width: 801px) {
                display: none;
            }
            @media(max-width: 800px) and (min-width:601px) {
                width: 100%;
            }
            .menu-button-bar {
                width: 30px;
                height: 2px;
                background-color: #353233;
                margin-bottom: 3px;
            }
            &.menu-active {
                height: 30px;
                width: calc(100% - 232px );
                .menu-button-bar {
                    position: absolute;
                    margin-bottom: inherit;
                    &:first-of-type{
                        transform: rotate(45deg);
                    }
                    &:last-of-type{
                        transform: rotate(-45deg);
                    }
                    
                }
            }
        }
        .menu-nav {
            @media(min-width: 801px) {
                width: 100%
            }
            @media(max-width: 800px) {
                width: 100%;
                height: 100vh;
                display: none;
            }
            .menu-list-block {
                display: flex;
                height: 100%;
                align-items: center;
                @media(min-width: 801px) {
                    justify-content: space-between;
                }
                @media(max-width: 800px) {
                    flex-direction: column;
                    align-items: flex-end;
                    padding-left: 10px;
                }
                .menu-list {
                    display: flex;
                    justify-content: space-between;
                    @media(min-width: 801px) {
                        margin-left: 70px;
                    }
                    @media(max-width: 800px) {
                        flex-direction: column;
                        width: 100%;
                        align-items: flex-end;
                        margin-top: 30px;
                    }
                    .menu-item {
                        margin-right: 18px;
                        font-size: 90%;
                        @media(max-width: 500px) {
                            width: 100%;
                            text-align: right;
                        }
                        a {
                            font-family: 'Montserrat', sans-serif;
                            text-decoration: none;
                            color: #353233;
                            @media(max-width: 800px) {
                                font-size: 35px;
                                line-height: 56px;
                            }
                            &:hover {
                                color: #6568D0;
                            }
                        }
                    }
                }
                .social-list {
                    display: flex;
                    @media(max-width: 800px) {
                        width: 100%;
                        justify-content: flex-end;
                        margin-top: 30px;
                    }
                    a {
                        text-decoration: none;
                        width: 22px;
                        height: 22px;
                        display: flex;
                        border: 1px solid #6568D0;
                        color: #6568D0;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        margin-right: 15px;
                        @media(max-width: 800px) {
                            width: 44px;
                            height: 44px;
                            .fab {
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }
    }
}