.sliderTop {
    position: relative;
    margin-top: 84px;
    .sliderTopContent {
        position: relative;
        font-family: 'Montserrat', sans-serif;
        .sliderTopContentItem {
            position: relative;
            height: 540px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: rgb(142,186,174);
                background: -moz-linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                background: -webkit-linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                background: linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ebaae",endColorstr="#363334",GradientType=1);
            }
            .wrapperContent {
                position: relative;
                display: flex;
                height: 100%;
                align-items: center;
                @media(max-width: 500px) {
                    align-items: flex-start;
                    margin-top: 100px;
                }
            }
        }
        .contentItemInfo {
            margin-left: 30px;
            .catItem {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    left: calc(-100% - 13px);
                    top: calc(50% - 1px);
                    height: 2px;
                    background-color: #6568D0;
                }
            }
            &.lightInfo {
                color: #fff;
            }
            &.darkInfo {
                color: #353233;
                .catItem {
                    color: #6568D0;
                }
                .linkVideo {
                    &:hover {
                        svg {
                            margin-top: 5px;
                            .play-button-svg {
                                stroke: #fff;
                                // fill: #6568D0;
                            }
                            .play-icon-svg {
                                fill: #fff;
                            }
                            text {
                                fill: #fff;
                            }
                        }
                    }
                    svg {
                        margin-top: 5px;
                        .play-button-svg {
                            stroke: #6568D0;
                            // fill: #6568D0;
                        }
                        .play-icon-svg {
                            fill: #6568D0;
                        }
                        text {
                            fill: #6568D0;
                        }
                    }
                }
            }
            .catItem {
                font-size: 19px;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            .titleItem {
                font-weight: bold;
                font-size: 35px;
                margin-bottom: 5px;
            }
            .textItem {
                font-weight: 300;
                font-size: 33px;
            }
            .linkVideo {
                &:hover {
                    svg {
                        .play-button-svg {
                            fill: #6568D0;
                        }
                        // .play-icon-svg {
                        //     fill: #6568D0;
                        // }
                    }
                }
                svg {
                    margin-top: 5px;
                }
            }
            .linkReadMore {
                &:hover {
                    svg {
                        path {
                            // stroke: #6568D0;
                            fill: #6568D0;
                        }
                        line {
                            fill: #6568D0;
                        }
                    }
                }
                svg {
                    margin-top: 5px;
                }
            }
        }
    }
    .sliderTopControl {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        width: 50%;
        bottom: 0px;
        border-bottom: 33px solid #353233;
        @media(max-width: 500px) {
            width: 100%;
        }
        .arrowBlock {
            margin-right: 44px;
            @media(max-width: 500px) {
                margin-right: 22px;
                display: flex;
            }
            .slick-arrow-btn {
                width: 85px;
                height: 67px;
                background-color: #6568D0;
                border: none;
                @media(max-width: 500px) {
                    width: 65px;
                    height: 47px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: rgb(126, 129, 210);
                    transition: 0.3s;
                }
                &:focus {
                    outline: none;
                }
                &:first-of-type {
                    margin-right: 1px;
                }
            }
        }
        .sliderTopInfo {
            @media(max-width: 500px) {
                width: 100%;
                margin-right: 20px;
            }
        }
        .slick-dots {
            display: flex;
            li {
                font-family: 'Montserrat', sans-serif;
                font-size: 11px;
                color: #fff;
                display: flex;
                align-items: center;
                margin-right: 18px;
                &:not(.slick-active) .timeBar {
                    display: none;
                }
            }
            .slick-active {
                transition: all .3s;
                display: flex;
                align-items: center;
                width: 80px;
                position: relative;
                color: #6568D0;
                .timeBar {
                    margin-left: 15px;
                    position: relative;
                    z-index: 20;
                    height:2px;
                    background-color:#6568D0;
                }
                .timeBarBg {
                    z-index: 15;
                    position:absolute;
                    left:30px;
                    width:40px;
                    height:2px;
                    background-color:#fff
                }
            }
        }
    }
}
.sliderTopHome {
    // margin-top: 69px;
    margin-top: 100px;
}
.breadcumbs + .sliderTop {
    margin-top: 0;
}
.breadcumbs {
    margin-top: 90px;
    // margin-top: 69px;
}
.sliderCasesBlock {
    padding-top: 100px;
    margin-bottom: 90px;
    .sliderCasesTitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        color: #BFBFBF;
        text-transform: lowercase;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }
    .sliderCasesLogo {
        display: flex;
        margin-bottom: 60px;
        .slick-prev, .slick-next {
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
                img {
                    transform: scale(.5);
                    transition: all .3s;
                }
            }
            img {
                transform: scale(.4);
                transition: all .3s;
            }
        }
        .slick-list {
            width: 90%;
            margin: auto;
            @media(max-width: 500px) {
                padding: 0 !important;
            }
        }
        .slick-track {
            display: flex;
            align-items: center;
        }
        .sliderCasesLogoItem {
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
            }
            img {
                max-width: 118px;
                margin: auto;
                height: auto;
                @media(max-width: 500px) {
                    max-width: 98px;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .sliderCasesLogoItem {
            // opacity: 0.5;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
        .sliderCasesLogoItem.slick-current {
            // opacity: 1;
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
        }
    }
    .sliderCasesContent {
        .sliderCasesContentInfo {
            display: flex;
            @media(max-width: 500px) {
                flex-direction: column;
            }
            &:focus {
                outline: none;
            }
            .contentImageBlock {
                position: relative;
                width: 50%;
                background-size: cover;
                background-position: center;
                height: 455px;
                @media(max-width: 500px) {
                    width: 100%;
                    height: 227px;
                }
                .video-cover {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: rgb(142,186,174);
                        background: -moz-linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                        background: -webkit-linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                        background: linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ebaae",endColorstr="#363334",GradientType=1);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        top: calc(50% - 46px);
                        left: calc(50% - 46px);
                        width: 93px;
                        height: 93px;
                        background-image: url(../images/cover-play.png);
                        background-size: contain;
                        background-position: center;
                        transition: all .3s;
                        cursor: pointer;
                    }
                    &:hover {
                        &:after {
                            transform: scale(1.2);
                            transition: all .3s;
                        }
                    }
                }
                iframe {
                    display: none;
                    width: 100%;
                    height: 100%;
                    z-index: 75;
                    position: relative; 
                }
                .caseBg {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: rgb(142,186,174);
                        background: -moz-linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                        background: -webkit-linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                        background: linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ebaae",endColorstr="#363334",GradientType=1);
                    }
                }
            }
            .contentInfoBlock {
                width: 50%;
                padding: 20px 40px 0;
                @media(max-width: 500px) {
                    padding: 20px 0;
                    width: 100%;
                }
                .contentInfoBlockContent {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    a {
                        text-decoration: none;
                    }
                }
                a {
                    &:hover {
                        .contentInfoTitle {
                            color: #6568D0;
                        }
                    }
                }
                .contentInfoCaseTitle {
                    position: relative;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                    letter-spacing: 2px;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    color: #353233;
                    font-size: 18px;
                    font-weight: 700;
                    &:after {
                        content: '';
                        width: 200px;
                        height: 1px;
                        background-color: #6568D0;
                        position: absolute;
                        left: -205px;
                        bottom: 20px;
                    }
                }
                .contentInfoTitle {
                    font-family: 'Montserrat', sans-serif;
                    color: #353233;
                    font-weight: bold;
                    font-size: 35px;
                    margin-bottom: 20px;
                }
                .contentInfoText {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 28px;
                    margin-bottom: 10px;
                    overflow: auto;
                    width: 80%;
                    border-bottom: 1px solid rgba(53, 50, 51, 0.3);
                    padding-bottom: 10px;
                    @media(max-width: 800px) {
                        display: none;
                    }
                }
                .linkCase {
                    text-decoration: none;
                    .linkCaseText {
                        font-family: 'Montserrat', sans-serif;                    
                        color: #6568D0;
                        font-weight: 300;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}
.visionIt {
    background-color: #353233;

    position: absolute;
    width: 100%;
    height: 350px;
    @media(max-width: 500px) {
        position: relative;
    }
    .wrapperContent {
        display: flex;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        padding: 90px 0;
        @media(max-width: 1024px) {
            padding: 90px 15px;
        }
        @media(max-width: 500px) {
            flex-direction: column;
        }
        .visionTitleBlock {
            width: 40%;
            @media(max-width: 800px) {
                width: 100%;
            }
            a {
                text-decoration: none;
                &:hover {
                    color: #6568D0;
                }
            }
            .visionTitle {
                font-weight: 700;
                font-size: 32px;
                color: #fff;
                @media(max-width: 500px) {
                    margin-bottom: 10px;
                }
            }
        }
        .visionTextBlock {
            width: 100%;
            margin-top: 10px;
            .visionText {
                color: #fff;
                // font-size: 27px;
                // line-height: 33px;
                font-size: 21px;
                line-height: 24px;
                font-weight: 300;
            }
        }
    }
}
.visionIt + .visao {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 440px;
    background-image: url(../images/atuacao/bg-net.png);
    @media(min-width: 1500px) {
        max-width: 1400px;
    }
    background-repeat: no-repeat;
    @media(max-width: 500px) {
        margin-top: 0px;
    }
    .title-lg {
        &.barra-cinza {
            &:after {
                height: 300px;
            }
        }
    } 
    // .grafico {
    //     top: -20px;
    // }
}
.articleBlock {
    margin-top: 90px;
    @media(max-width: 800px) {
        margin-top: 45px;
    }
    .articleTitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 30px;
        color: #BFBFBF;
        text-align: center;
        margin-bottom: 60px;
    }
    .articlePostBlock {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 42px;
        @media(max-width: 700px) {
            flex-direction: column;
        }
        .articlePostItem {
            width: 32%;
            margin-bottom: 30px;
            @media(max-width: 800px) {
                width: 100%;
                margin: auto;
                margin-bottom: 15px;
            }
            &:not(:nth-of-type(3n)) {
                margin-right: 2%;
                @media(max-width: 800px) {
                    margin: auto;
                    margin-bottom: 15px;
                }
            }
            .articleItemImg {
                position: relative;
                height: 188px;
                width: 100%;
                background-size: cover;
                background-position: center;
                .articleCatText {
                    position: absolute;
                    top: 15px;
                    right: 10px;
                    padding: 10px 15px;
                    background-color: #6568D0;
                    font-family: 'Roboto', sans-serif;
                    font-size: 10px;
                    font-weight: 300;
                    border-radius: 15px;
                    color: #fff;
                    border: 1px solid transparent;
                    transition: all .3s;
                    &:hover {
                        color: #6568D0;
                        background-color: #fff;
                        border: 1px solid #6568D0;
                        transition: all .3s;
                    }
                }
                .articleItemAuthor {
                    width: 56px;
                    height: 56px;
                    background-size: contain;
                    border-radius: 56px;
                    border: 3px solid #fff;
                    position: absolute;
                    bottom: -28px;
                    left: 20px;
                }
            }
            .articleItemBlock {
                background-color: #F7F7F7;
                padding: 37px 35px;
                height: 254px;
                .articleItemTitle {
                    font-size: 21px;
                    line-height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 900;
                    color: #353233;
                }
                .articleItemText {
                    margin-top: 25px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                    margin-bottom: 25px;
                }
                a {
                    text-decoration: none;
                    .articleItemReadMore {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 900;
                        letter-spacing: 2px;
                        color: #6568D0;
                    }
                }
            }
            .articleItemFooter {
                display: flex;
                justify-content: space-between;
                background-color: #F7F7F7;
                border-top: 1px solid rgba(53, 50, 51, 0.5); 
                padding: 13px 35px 8px;
                .articleItemFooterText {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    color: rgba(53, 50, 51, 1);
                    font-size: 10px;
                }
            }
        }
    }
    .articleBlockButton {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        .articleBtnLink {
            text-decoration: none;
            .articleBtn {
                position: relative;
                width: 200px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 24px;
                letter-spacing: 2px;
                color: #6568D0;
                text-align: center;
                padding: 15px 0;
                &:before {
                    top: 0;
                    position: absolute;
                    left: -25%;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #6568D0;
                    transition: all .3s;
                }
                &:after {
                    bottom: 0;
                    position: absolute;
                    right: -25%;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #6568D0;
                    transition: all .3s;
                }
                &:hover {
                    &:after {
                        right: 0;
                        transition: all .3s;
                    }
                    &:before {
                        left: 0;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}
