.actuation-top {
    display: flex;
    .actuation-top-info {
        width: 45%;
        min-height: 600px;
        background-image: url(../images/atuacao/ativo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        padding-top: 68px;
        .act-title-lg {
            margin-bottom: 32px;
        }
        .act-text {
            font-weight: 500;
            line-height: 32px;
            &:not(:last-of-type) {
                margin-bottom: 34px;
            }
        }
    }
    .actuation-top-menu-circle {
        display: flex;
        justify-content: flex-end;
        width: calc(100% - 45%);
        overflow: hidden;
        .actuation-top-circle {
            position: relative;
            width: 673px;
            height: 673px;
            margin-right: -170px;
            margin-top: -50px;
            border-radius: 100%;
            border: 4px solid #8DB9AD;
            .actuation-top-item {
                position: absolute;
                .actuation-top-item-title {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 10px;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: right;
                }
                .actuation-top-item-text {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 10px;
                    text-align: right;
                    max-width: 150px;
                }
                &:hover {
                    cursor: pointer;
                    .actuation-top-item-title, .actuation-top-item-text {
                        color: #8DB9AD;
                    }
                }
                &:nth-child(1) {
                    top: 100px;
                    left: -120px;
                    transform: rotate(15deg);
                }
                &:nth-child(2) {
                    top: 155px;
                    left: -167px;
                    transform: rotate(10deg);
                }
                &:nth-child(3) {
                    top: 224px;
                    left: -160px;
                    transform: rotate(8deg);
                }
                &:nth-child(4) {
                    top: 281px;
                    left: -182px;
                    transform: rotate(-2deg);                
                }
                &:nth-child(5) {
                    top: 350px;
                    left: -182px;
                    transform: rotate(-8deg);                             
                }
                &:nth-child(6) {
                    top: 425px;
                    left: -170px;
                    transform: rotate(-17deg);                       
                }
                &:nth-child(7) {
                    top: 495px;
                    left: -151px;
                    transform: rotate(-22deg);                     
                }
                &:nth-child(8) {
                    top: 565px;
                    left: -175px;                
                    transform: rotate(-30deg);                     
                }
                &:after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 37px;
                    height: 37px;
                    background-image: url(../images/atuacao/actuation-bullet.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    right: -50px;
                    top: calc(50% - 16px);
                }
                &:before {
                    content: '';
                    width: 465px;
                    position: absolute;
                    display: block;
                    height: 1px;
                    background-color: rgba(101, 104, 208, 0.10);
                    right: calc(-465px - 60px);
                    bottom: 0;
                }
            }
            .actuation-top-circle-title-content {
                position: absolute;
                width: 243px;
                top: 40%;
                right: calc(50% - 121px);
                .circle-text {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 23px;
                    color: #8DB9AD;
                    text-align: right;
                }
                .circle-title-content {
                    font-weight: 700; 
                    text-transform: uppercase;
                }
                .circle-text-content {
                    margin-top: 10px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }
    }
}
.act-title {
    font-family: 'Montserrat', sans-serif;
    color: #353233;
    font-weight: 700;
}
.act-title-md {
    font-size: 23px;
}
.act-title-lg {
    font-size: 32px;
}