.atuacao{
    padding-top: 67px;
    background-image: url(../images/atuacao/bg-net.png);
    background-repeat: no-repeat;
    background-position: -76px -93px;
    @media(max-width: 800px) {
        background-size: contain;
    }
    p{
        line-height: 31px;
    }
    .title-lg{
        margin-bottom: 27px;
        span{
            font-size: 27px;
        }
    }
    h3{
        color: #8EBAAE;
        text-align: right;
        font-weight: bold;
        font-size: 27px;
        margin-top: 25px;
        line-height: 31px;
        @media(max-width: 500px) {
            text-align: left;
        }
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 780px;
        justify-content: space-around;
        @media(max-width: 800px) {
            flex-direction: column;
        }
        .col-1{
            flex: 1;
            margin-left: 10px;
        &:first-child{
            margin-left: 0;
         }
        } 
    }
    .grafico-1{
        max-width: 928px;
        width: 100%;
        float: right;
        margin-top: -100px;
        position: relative;
        margin-bottom: -25px;
        z-index: 1;
        @media(max-width: 800px) {
            margin-top: 0;
            margin-bottom: 0;
        }
        img.net{
            width: 100%;
        }
        .btn-icon{
            position: absolute;
            @media(max-width: 500px) {
                &:nth-child(-n+5) {
                    .tooltip {
                        left: 30px;
                    }
                }
                &:nth-child(n+6) {
                    .tooltip {
                        left: -200px;
                    }
                }
            }
            &.icon-1{
                top: 37%;
                right: 58%;
                @media(max-width: 500px) {
                    left: 15%;
                    top: 50px;
                }
                .icon:after{
                    background-image: url(../images/atuacao/icon-1.png);
                }
            }
            &.icon-2{
                top: 62%;
                right: 78%;
                @media(max-width: 500px) {
                    left: 15%;
                    top: 120px;
                }
                .icon:after{
                    background-image: url(../images/atuacao/icon-2.png);
                }
            }
            &.icon-3{
                top: 62%;
                right: 41%;
                @media(max-width: 500px) {
                    left: 15%;
                    top: 190px;
                }
                .icon:after{
                    background-image: url(../images/atuacao/icon-3.png);
                }
            }
            &.icon-4{
                top: 50%;
                right: 31%;
                @media(max-width: 500px) {
                    left: 15%;
                    top: 260px;
                }
                .icon:after{
                    background-image: url(../images/atuacao/icon-4.png);
                }
            }
            &.icon-5{
                top: 77%;
                right: 99%;  
                @media(max-width: 500px) {
                    left: 65%;
                    top: 50px;
                }          
                .icon:after{
                    background-image: url(../images/atuacao/icon-5.png);
                }
            }
            &.icon-6{
                top: 84%;
                right: 44%;
                @media(max-width: 500px) {
                    left: 65%;
                    top: 120px;
                }
                .icon:after{
                    background-image: url(../images/atuacao/icon-6.png);
                }
            }
            &.icon-7{
                top: 72%;
                right: 62%;
                @media(max-width: 500px) {
                    left: 65%;
                    top: 190px;
                }
                .icon:after{
                    background-image: url(../images/atuacao/icon-7.png);
                }
            }
            &.icon-8{
                top: 37%;
                left: 61%;
                @media(max-width: 500px) {
                    left: 65%;
                    top: 260px;
                }
                .icon:after{
                    background-image: url(../images/atuacao/icon-8.png);
                }
            }
            .icon{
                position: relative;
                cursor: pointer;
                &:before{
                    z-index: 1;
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: -25px;
                    margin-top: -25px;
                    background-color: #8EBAAE;
                    opacity: 0.5;
                    border-radius: 30px;
                    animation: pulse 2s infinite; 
                    -moz-animation: pulse 2s infinite; 
                    -webkit-animation: pulse 2s infinite; 
                    -o-animation: pulse 2s infinite; 
                }
                &:after{
                    z-index: 2;
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: -25px;
                    margin-top: -25px;
                    background-color: #8EBAAE;
                    border-radius: 30px;
                    transition: all .5s;
                    background-repeat: no-repeat;
                    background-size: 60%;
                    background-position: center;
                }
                &:hover{
                    &:after{
                        width: 60px; height: 60px ; margin-top: -30px; margin-left: -30px;
                    }
                }
            }
            .tooltip{
                display: none;
                position: absolute;
                top: -37px;
                left: -207px;
                width: 140px;
                font-size: 12px;
                line-height: 14px;
                // background: #363334;
                background: #8ebaae;
                border-radius: 9px;
                padding: 14px;
                color: white;
                z-index: 9;
                h4 {
                    font-weight: 700;
                    margin-bottom: 5px;
                    font-size: 14px;
                }
                p{
                    line-height: 13px;
                    font-size: 12px;
                }
                &.active{
                    display: block;
                }
            }
        }
    }
    .gargalo-btn {
        position: absolute;
        display: inline-flex;
        margin-top: 130px;
        max-width: 100%;
        height: unset;
        padding: 11px 30px;
        letter-spacing: 2px;
        font-size: 16px;
        line-height: normal;
        @media(max-width: 800px) {
            display: none;
        }
        &:before {
            content: '';
            position: absolute;
            width: 49px;
            height: 27px;
            bottom: -40px;
            left: calc(50% - 24px);
            background-image: url(../images/atuacao/arrow-down.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
.btn-slide{
    padding: 9px 23px;
    /* margin-top: 32px; */
    line-height: 45px;
    margin-top: 62px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    max-width: 230px;
    height: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: #6568D0;
    cursor: pointer;
    
}
.gargalos{
    background-image: url('../images/atuacao/bg-gargalos.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    width: 100%;
    margin-top: 390px;
    line-height: 27px;
    padding-top: 77px;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    p{
        color:white;
    }
    .title-lg{
        color: white;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .col-1{
        max-width: 520px;
        @media(min-width: 801px) and (max-width: 1025px) {
            width: 50%;
        }
    }
    .botoes{
        .gargalo-link{
            font-family: 'Montserrat', sans-serif;
            color: white;
            margin: 8px 0;
            cursor: pointer;
            transition: font-size .5s; 
            height: 31px;
            @media(max-width: 500px) {
                height: 81px;
            }
            &.active{
                font-size: 22px;
                @media(max-width: 800px) {
                    height: unset;
                }
                @media(max-width: 500px) {
                    font-size: 16px;
                }
                .ball-list{
                    transform: scale(0);
                }
                .ball{
                    transform: scale(1);
                }
                .slide-value {
                    width: 80%;
                    margin: auto;
                    @media(max-width: 500px) {
                        margin-bottom: 60px;
                    }
                    p {
                        font-size: 12px;
                    }
                    .btn-slide {
                        display: none;
                        @media(max-width: 800px) {
                            // display: flex;
                            display: none;
                            align-items: center;
                            justify-content: center;
                            line-height: normal;
                        }
                        @media(max-width: 500px) {
                            font-size: 11px;
                            padding: 9px 16px;
                            height: 20px;
                            margin-top: 20px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
            .ball-list{
                width: 10px;
                height: 10px;
                border-radius: 10px;
                display: inline-block;
                background-color: white;
                position: relative;
                margin-right: 10px;
                transform: scale(1);
                transition: transform .5s; 
                &:after{
                    content: "";
                    border: 2px solid white;
                    width: 12px;
                    position: absolute;
                    height: 12px;
                    top: -3px;
                    left: -3px;
                    border-radius: 10px;
                    display: block;
                }
            }
            .ball{
                width: 30px;
                height: 30px;
                border-radius: 20px;
                display: inline-block;
                background-color: #6669D1;
                // position: relative;
                position: absolute;
                margin-left: 10px;
                margin-bottom: -6px;
                transform: scale(0);
                transition: transform .5s; 
                &:after{
                    content: "";
                    border: 1px solid #6669D1;
                    width: 35px;
                    position: absolute;
                    height: 35px;
                    top: -3px;
                    left: -3px;
                    border-radius: 35px;
                    display: block;
                }
                &:before{
                    content: "";
                    position: absolute;
                    left:0;
                    top:15px;
                    border-bottom: 1px solid #6669D1;
                    width: 1544%;
                    display: block;
                }
            }
        }
    }
    .conteudo{
        width: 780px;
        height: 780px;
        position: absolute;
        bottom: -130px;
        right: -50px;
        // overflow: hidden;
        border-radius: 550px;
        // background: blue;
        @media(min-width: 801px) and (max-width: 1025px) {
            width: 50%;
        }
        @media(max-width: 800px) {
            display: none;
        }
        &:after{
            content: "";
            display: block;
            width: 790px;
            height: 790px;
            border: 1px solid #6669D1;
            border-radius: 100%;
            position: absolute;
            top: -7px;
            left: -7px;
        }
        .slide{
            display: none;
            width: 780px;
            height: 780px;
            position: relative;
            bottom: 0;
            right: 0;
            overflow: hidden;
            border-radius: 550px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &.active{
                display: block;
            }
            &:after{
                content: "";
                display: block;
                width: 100%;
                z-index: 1;
                height: 100%;
                background: linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 2.44%, #363334 100%);
                background: -webkit-linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 2.44%, #363334 100%);
            }
            .content{
                display: block;
                position: absolute;
                top: 30%;
                width: 50%;
                left: 19%;
                font-weight: bold;
                z-index: 2;
                @media(min-width: 801px) and (max-width: 1025px) {
                    width: 30%;
                }
            }
        }
    }
}
@import "visao.scss";

// animations
/* Animation Keyframes*/
@keyframes pulse {
    0% { width: 50px; height: 50px ; }
    50% { width: 60px; height: 60px ; margin-top: -30px; margin-left: -30px; }
    100% { width: 50px; height: 50px ; }
}

@-moz-keyframes pulse {
    0% { width: 50px; height: 50px ; }
    50% { width: 60px; height: 60px ; margin-top: -30px; margin-left: -30px; }
    100% { width: 50px; height: 50px ; }
}

@-webkit-keyframes pulse {
    0% { width: 50px; height: 50px ; }
    50% { width: 60px; height: 60px ; margin-top: -30px; margin-left: -30px; }
    100% { width: 50px; height: 50px ; }
}

@-o-keyframes pulse {
    0% { width: 50px; height: 50px ; }
    50% { width: 60px; height: 60px ; margin-top: -30px; margin-left: -30px; }
    100% { width: 50px; height: 50px ; }
}