@import 'variables';
.main-post {
    .cat-title-block {
        padding: 37px 0 27px;
        a {
            text-decoration: none;
        }
        .cat-title {
            font-family: 'Montserrat', sans-serif;   
            font-size: 23px;
            font-weight: 700;
            color: #6568D0;
            margin-left: 10px;
            &.cat-line {
                &:before {
                    top: calc(100% - 5px);
                }
            }
        }
    }
    .date-top-block {
        padding-bottom: 27px;
        padding-left: 10px;
        .date-text {
            color: #353233;
        }
    }
    .main-post-info {
        display: flex;
        @media(max-width: 500px) {
            flex-direction: column;
        }
        .main-post-content-block {
            width: 75%;
            @media(max-width: 500px) {
                width: 100%;
            }
            .main-post-img {
                display: flex;
                align-items: flex-end;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 322px;
                position: relative;
                @media(max-width: 500px) {
                    height: unset;
                }
                .main-post-title {
                    width: 70%;
                    margin-left: 47px;
                    margin-bottom: 42px;
                    font-family: 'Montserrat', sans-serif;   
                    font-size: 40px;
                    font-weight: bold;
                    color: #fff;
                    position: relative;
                    z-index: 2;
                    @media(max-width: 500px) {
                        margin-top: 42px;
                    }
                }
                &.no-img {
                    .main-post-title {
                        color: #353233
                    }
                }
                &:before{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(-154deg, rgba(142, 186, 174, 0) 0%, rgba(102, 105, 209, 0.3) 42.44%, #363334 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
            .podcast-block {
                display: flex;
                align-items: center;
                margin-top: 20px;
                .podcast-player-block {
                    width: 100%;
                    box-sizing: border-box;
                    iframe {
                        height: 100px;
                    }
                }
            }
            .main-post-text-content {
                img {
                    float: left;
                    margin-right: 16px;
                    max-width: 100%;
                    height: auto;
                    @media(max-width: 800px) {
                        float: unset;
                        margin: auto;
                    }
                }
                strong{
                    font-weight: 700;
                }
                b {
                    font-weight: 700;
                }
                i, em {
                    font-style: italic;
                }
                a{
                    font-weight: 700;
                    color: #6568D0;
                    text-decoration: none;
                }
                p, h1, h2, h3, h4, h5, h6 , ul li,ul, ol, ol li{
                    font-family: 'Montserrat', sans-serif;
                    line-height: 200%;
                    letter-spacing: 1px;
                    color: #353233;
                    margin: 32px auto;
                }
                h1, h2, h3, h4, h5, h6{
                    font-weight: 700;
                }
                h2{
                    font-size: 20px;
                }
                h3{
                    font-size: 18px;
                }
                h4{
                    font-size: 16px;
                }
                h5{
                    font-size: 14px;
                }
                h6{
                    font-size: 12px;
                }
                ul li, ol li{
                    margin-left: 15px;
                    margin-bottom: 10px;
                }
                ul li{
                    list-style: circle;
                }
                ol li{
                    list-style:decimal;
                }
                .medium-text-img-block {
                    display: flex;
                    align-items: center;
                    p {
                       margin: 0 0 0 13px;
                    }
                }
            }
        }
        .main-post-user-block {
            width: calc(100% - 75%);
            margin-left: 18px;
            @media(max-width: 500px) {
                width: 100%;
                margin: auto;
            }
            .post-user-title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 20px;
                color: #BFBFBF;
                text-align: center;
                margin-bottom: 11px;
            }
            .main-post-user-block-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #F7F7F7;
                padding: 32px 36px 15px;
                .user-img {
                    width: 166px;
                    height: 166px;
                    background-size: contain;
                    border-radius: 100%;
                    margin-bottom: 18px;
                }
                .user-name {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 24px;
                    color: #353233;
                    font-weight: 700;
                }
                .user-text {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #353233;
                    margin-top: 7px;
                }
                .link-default {
                    font-size: 12px;
                    margin-top: 16px;
                    display: block;
                }
                .user-block-content {
                    .user-block-content-footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 16px;
                        .see-more-link {
                            text-decoration: none;
                            .see-more-text {
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 300;
                                font-size: 14px;
                                color: #6568D0;
                            }
                        }
                        .social-link {
                            text-decoration: none;
                            color: #6568D0;
                            &:hover {
                                .fab {
                                    background-color: #6568D0;
                                    color: #fff;
                                }
                            }
                            .fab {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 32px;
                                height: 32px;
                                border: 1px solid #6568D0;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
            .share-bottom {
                margin-top: 27px;
            }
            .social-list {
                display: flex;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: #6568D0;
                    &:not(:last-of-type) {
                        margin-right: 31px;
                    }
                    &:hover {
                        .fab {
                            background-color: #6568D0;
                            color: #fff;
                        }
                    }
                }
                .fab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #6568D0;
                    border-radius: 100%;
                    width: 43px;
                    height: 43px;
                }
            }
        }
    }
}
.articleBlock {
    margin-top: 64px;
}