body {
    font-family: 'Montserrat', sans-serif;
}
.cat-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: #6568D0;
    margin-bottom: 36px;
}
.cat-line-right {
    position: relative;
    z-index: 1;
    &:before {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 100%;
        right: calc(-50% - 20px);
        height: 1px;
        content: '\a0';
        background-color: #6568D0;
        @media(max-width: 800px) {
            display: none;
        }
    }
}
.text-xl {
    font-family: 'Montserrat', sans-serif;
    color: #353233;
    font-weight: 700;
    margin-bottom: 14px;
}
.career {
    // margin-bottom: -75px;
}
.career-text {
    font-family: 'Montserrat', sans-serif;
    color: #353233;
    line-height: 31px;
    padding-right: 137px;
    @media(max-width: 800px) {
        padding-right: 20px;
    }
    @media(max-width: 500px) {
        padding-right: 0;
    }
    &:not(:last-of-type) {
        margin-bottom: 46px;
    }
    &:last-of-type {
        @media(min-width: 800px) {
            padding-bottom: 87px;
        }
    }
}
.career {
    .part-of-the-team {
        position: relative;
        .wrapperContent {
            @media(max-width: 800px) {
                padding: 0;
            }
        }
        .pott-info {
            width: 55%;
            padding-top: 67px;
            @media(max-width: 800px) {
                padding: 67px 10px 0;
            }
            @media(max-width: 500px) {
                width: 100%;
                padding: 67px 10px;
                box-sizing: border-box;
                .career-text {
                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }
        }
        .pott-img-block {
            display: flex;
            align-items: center;
            position: absolute;
            z-index: 25;
            width: calc(100% - 55%);
            height: 100%;
            top: 0;
            right: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @media(max-width: 500px) {
                width: 100%;
                position: relative;
                height: 400px;
            }
            .pott-img-content {
                margin-top: -50px;
                // max-width: 200px;
                max-width: 280px;
                margin-left: 84px;
                .pott-img-title {
                    font-size: 28px;
                    line-height: 33px;
                    font-family: 'Montserrat', sans-serif;
                    color: #fff;
                    font-weight: 700;
                }
                .text-sm {
                    color: #fff;
                    line-height: 27px;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
    .what-we-expect {
        display: flex;
        // @media(max-width: 800px) {
        //     flex-direction: column;
        // }
        .what-we-expect-img-block {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 42.85%;
            background-size: cover;
            background-position: center;
            @media(max-width: 800px) {
                width: 100%;
                display: none;
            }
            .wwe-img-title {
                text-align: right;
                max-width: 250px;
                font-size: 39px;
                color: #fff;
                font-weight: 700;
                margin-right: 64px;
            }
        }
        .what-we-expect-info {
            width: calc(100% - 42.85%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 146px;
            @media(max-width: 500px) {
                width: 100%;
                padding: 0;
            }
            .wwe-info-circle-block {
                width: 244px;
                height: 244px;
                border-radius: 100%;
                border: 1px solid #6568D0;
                position: relative;
                @media(max-width: 500px) {
                    width: 100%;
                    height: auto;
                    border-radius: 0;
                    border: none;
                    padding: 30px 0;
                }
                .info-circle-item {
                    width: 67px;
                    height: 67px;
                    background-color: #fff;
                    border-radius: 100%;
                    position: absolute;
                    background-repeat: no-repeat;
                    background-position: center;
                    @media(max-width: 500px) {
                        position: relative;
                    }
                    &.eye {
                        right: calc(50% - 34px);
                        top: -44px;
                        background-image: url(../images/carreira/icon-eye.png);
                        @media(max-width: 500px) {
                            top: 0;
                            left: 0;
                        }
                        .info-circle-text-block {
                            position: absolute;
                            top: -20px;
                            width: 345px;
                            left: calc(-345px + 205px);
                            @media(max-width: 500px) {
                                position: relative;
                                width: 250px;
                                left: 75px;
                                top: 10px;
                            }
                            .info-circle-text {
                                position: relative;
                                text-align: center;
                                @media(max-width: 500px) {
                                    text-align: left;
                                }
                            }
                        }
                    }
                    &.person {
                        right: -14px;
                        top: 10px;
                        background-image: url(../images/carreira/icon-person.png);
                        @media(max-width: 500px) {
                            top: 0;
                            right: 0;
                        }
                        .info-circle-text-block {
                            position: absolute;
                            width: 155px;
                            top: 10px;
                            right: -155px;
                            @media(max-width: 500px) {
                                position: relative;
                                right: inherit;
                                left: 75px;
                                top: 20px;
                            }
                        }
                    }
                    &.arm {
                        right: -34px;
                        bottom: 60px;
                        background-image: url(../images/carreira/icon-arm.png);
                        @media(max-width: 500px) {
                            top: 0;
                            right: 0;
                        }
                        .info-circle-text-block {
                            position: absolute;
                            width: 155px;
                            top: 20px;
                            right: -155px;
                            @media(max-width: 500px) {
                                position: relative;
                                right: inherit;
                                left: 75px;
                            }
                        }
                    }
                    &.hand {
                        right: 37px;
                        bottom: -23px;
                        background-image: url(../images/carreira/icon-hand.png);
                        @media(max-width: 500px) {
                            top: 0;
                            right: 0;
                        }
                        .info-circle-text-block {
                            position: absolute;
                            width: 165px;
                            top: 50px;
                            right: -165px;
                            text-align: center;
                            @media(max-width: 500px) {
                                position: relative;
                                top: 20px;
                                right: inherit;
                                left: 75px;
                            }
                        }
                    }
                    &.shoe {
                        left: 37px;
                        bottom: -23px;
                        background-image: url(../images/carreira/icon-shoe.png);
                        @media(max-width: 500px) {
                            left: 0;
                            bottom: 0; 
                        }
                        .info-circle-text-block {
                            position: absolute;
                            width: 145px;
                            top: 50px;
                            left: -125px;
                            text-align: center;
                            @media(max-width: 500px) {
                                position: relative;
                                top: 20px;
                                right: inherit;
                                left: 75px;
                            }
                            .info-circle-text {
                                position: relative;
                            }
                        }
                    }
                    &.lamp {
                        left: -34px;
                        bottom: 60px;
                        background-image: url(../images/carreira/icon-lamp.png);
                        @media(max-width: 500px) {
                            left: 0;
                            bottom: 0; 
                        }
                        .info-circle-text-block {
                            position: absolute;
                            width: 155px;
                            top: 20px;
                            left: -145px;
                            text-align: center;
                            @media(max-width: 500px) {
                                position: relative;
                                top: 20px;
                                right: inherit;
                                left: 75px;
                            }
                            .info-circle-text {
                                position: relative;
                            }
                        }
                    }
                    &.group {
                        left: -14px;
                        top: 10px;
                        background-image: url(../images/carreira/icon-group.png);
                        @media(max-width: 500px) {
                            top: 0;
                            left: 0;
                        }
                        .info-circle-text-block {
                            position: absolute;
                            width: 185px;
                            top: 10px;
                            left: -185px;
                            text-align: center;
                            @media(max-width: 500px) {
                                position: relative;
                                top: 20px;
                                right: inherit;
                                left: 75px;
                            }
                            .info-circle-text {
                                position: relative;
                            }
                        }
                    }
                    .info-circle-text {
                        position: absolute;
                        font-size: 14px;
                        font-family: 'Montserrat', sans-serif;
                        color: #353233;
                        @media(max-width: 500px) {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}
.what-to-expect {
    background-image: url(../images/carreira/what-to-expect-bg.png);
    padding-top: 80px;
    padding-bottom: 200px;
    background-size: cover;
    @media(max-width: 500px) {
        background-size: cover;
        background-position: center;
        padding-bottom: 100px;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #6568D0;
        margin-top: 30px;
        @media(max-width: 500px) {
            display: none;
        }
    }
    .text-xl {
        color: #fff;
        text-align: center;
        margin-bottom: 62px;
    }
    .what-to-expect-list {
        .what-to-expect-list-content {
            display: flex;
            justify-content: space-between;
            margin: auto;
            @media(max-width: 500px) {
                flex-direction: column;
            }
            .what-to-expect-list-item {
                position: relative;
                display: flex;
                align-items: center;
                width: calc(20% - 13.6px);
                height: 70px;
                margin-bottom: 30px;
                @media(max-width: 500px) {
                    width: 50%;
                    margin: 0 auto 30px 60px; 
                }
                .text-sm {
                    font-family: 'Montserrat', sans-serif;
                    text-align: center;
                    font-size: 14px;
                    padding: 0 20px;
                    color: #fff;
                    @media(max-width: 800px) {
                        padding: 0;
                        text-align: left;
                    }
                }
                @media(min-width: 501px) {
                    &:not(:last-of-type) {
                        margin-right: 17px;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 77px;
                    height: 77px;
                    bottom: -97px;
                    left: calc(50% - 38.5px);
                    border-radius: 100%;
                    background-color: #6568D0;
                    @media(max-width: 500px){
                        width: 38.5px;
                        height: 38.5px;
                        left: -30%;
                        top: 19px;
                    }
                }
            }
        }
    }
}
.opportunities {
    padding-top: 80px;
    padding-bottom: 80px;
    // display: none;
    .wrapperContent {
        display: flex;
        flex-wrap: wrap;
        .op-info,.op-form-block {
            width: 50%;
            @media(max-width: 800px) {
                width: 100%;
            }
        }
        .op-info {
            .op-info-top {
                margin-bottom: 30px;
                max-width: 374px;
                @media(max-width: 800px) {
                    max-width: 100%;
                }
                .text-md {
                    line-height: 31px;
                }
            }
            .info-img-block {
                max-width: 374px;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .op-info-btn-block {
                display: flex;
                flex-wrap: wrap;
                max-width: 374px;
                @media(max-width: 800px) {
                    max-width: 100%;
                }
                .op-info-btn-item {
                    width: 50%;
                    margin-bottom: 30px;
                    @media(max-width: 800px) {
                        width: 25%;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    .op-info-btn-title, .op-info-btn-text {
                        font-family: 'Montserrat', sans-serif;
                        color: rgba(53, 50, 51,0.6);
                    }
                    .op-info-btn-title {
                        font-weight: 700;
                    }
                    &.info-btn-active {
                        .op-info-btn-title,.op-info-btn-text {
                            font-family: 'Montserrat', sans-serif;
                            color: rgba(53, 50, 51,1);
                        }
                    }
                }
            }
        }
        .op-form-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 392px;
            padding-top: 55px;
            @media(max-width: 800px) {
                margin: auto;
                width: 100%;
            }
            .op-form {
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // width: 392px;
                // padding-top: 55px;
                // @media(max-width: 800px) {
                //     margin: auto;
                //     width: 100%;
                // }
            }
            .op-input {
                width: 100%;
                height: 57px;
                box-sizing: border-box;
                border: 1px solid #6568D0;
                border-radius: 60px;
                margin-bottom: 15px;
                padding: 0 27px;
                font-family: 'Montserrat', sans-serif;
                color: #353233;
                font-size: 16px;
                &:focus {
                    outline: none;
                }
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    font-family: 'Montserrat', sans-serif;
                    color: #353233;
                    opacity: 1; /* Firefox */
                }
                
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    font-family: 'Montserrat', sans-serif;
                    color: #353233;
                }
                
                &::-ms-input-placeholder { /* Microsoft Edge */
                    font-family: 'Montserrat', sans-serif;
                    color: #353233;
                }
            }
            .inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            .inputfile + label {
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer; /* "hand" cursor */
                font-family: 'Montserrat', sans-serif;
                &:before {
                    content: '+';
                    position: absolute;
                    right: 27px;
                    font-size: 40px;
                    color: #6568D0;
                    font-weight: 300;
                    line-height: 0;
                }
            }
            .curriculo ~ label {
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer; /* "hand" cursor */
                font-family: 'Montserrat', sans-serif;
                margin-top: -15px;
                &:before {
                    content: '+';
                    position: absolute;
                    right: 27px;
                    font-size: 40px;
                    color: #6568D0;
                    font-weight: 300;
                    line-height: 0;
                }
            }
            .btn-send {
                width: 100%;
                background-color: #6568D0;
                height: 57px;
                font-family: 'Montserrat', sans-serif;
                color: #fff;
                font-size: 18px;
                border-radius: 60px;
                border: 1px solid transparent;
                &:hover {
                    cursor: pointer;
                    border: 1px solid #6568D0;
                    color: #6568D0;
                    background-color: transparent;
                }
            }
        }
        .op-info-description {
            margin-top: 100px;
            .op-info-description-item {
                display: none;
                .op-info-desc-title, .op-info-desc-text {
                    font-family: 'Montserrat', sans-serif;
                    color: #353233;
                }
                .op-info-desc-title {
                    font-weight: 700;
                    line-height: 23px;
                    margin-bottom: 10px;
                }
                .op-info-desc-text {
                    line-height: 23px;
                }
                &.desc-active {
                    display: block;
                }
            }
        }
    }
}