@import 'variables';
@import 'blog.scss';
body {
    font-family: 'Montserrat', sans-serif;
}
.case-interna {
    .case-top {
        display: flex;
        margin-top: 47px;
        @media(max-width: 800px) {
            flex-direction: column;
        }
        .case-top-info {
            width: 50%;
            @media(max-width: 800px) {
                width: 100%;
            }
            .category-text,.category-text-company {
                color: #6568D0;
            }
            .category-text-company {
                position: relative;
                margin-bottom: 30px;
                @media(min-width: 801px) {
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        right: calc(-100% + 350px);
                        position: absolute;
                        height: 2px;
                        background-color: #6568D0;
                        z-index: 25;
                    }
                }
            }
            .case-title {
                color: #353233;
                max-width: 419px;
                margin-bottom: 35px;
                @media(max-width: 800px) {
                    max-width: 100%;
                }
            }
            .case-text {
                line-height: 31px;
                max-width: 392px;
                @media(max-width: 800px) {
                    max-width: 100%;
                }
            }
        }
        .case-top-midia {
            width: 50%;
            z-index: 25;
            img {
                background-color: #fff;
                max-width: 100%;
                height: auto;
            }
            @media(max-width: 800px) {
                width: 100%;
                display: flex;
                img {
                    margin: auto;
                    margin-top: 54px;
                    max-width: 100%;
                    height: auto;
                    background-color: #fff;
                }
            }
            @media(max-width: 500px) {
                display: block;
                img {
                    margin: auto;
                    margin-top: 20px;
                }
            }
        }
    }
    .case-content {
        margin-bottom: 85px;
        .text-mont {
            p {
                color: #353233;
                line-height: 31px;
                margin-top: 32px;
                @media(max-width: 500px) {
                    margin-top: 20px;
                }
                strong {
                    font-weight: 700;
                }
            }
        }
    }
}
.brands {
    padding-bottom: 53px;
    .wrapperContent {
        position: relative;
    }
    .brand-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        color: #BFBFBF;
        font-weight: 700;
        text-align: center;
    }
    .brand-slider {
        width: calc(100% - 50px);
        margin: auto;
        .brand-slider-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 150px;
            &:focus {
                outline: none;
            }
        }
    }
    .brand-slider-btn-block {
        .slick-arrow-btn {
            width: 8px;
            height: 16px;
            position: absolute;
            top: calc(50% - 16px );
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: unset;
            border: none;
            transition: all .3s;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.5);
                transition: all .3s;
            }
            &.slick-prev {
                background-image: url(../images/left-arrow-btn.png);
            }
            &.slick-next {
                background-image: url(../images/right-arrow-btn.png);
                right: 0;
            }
        }
    }
}
.solve-problems {
    border-top: 127px solid #353233;
    .solve-content {
        display: flex;
        flex-wrap: wrap;
        .solve-problems-block {
            width: 50%;
            @media(max-width: 800px) {
                width: 100%
            }
            .solve-title-block {
                background-color: #F0F0F0;
                padding: 50px 75px;
                .solve-title {
                    font-size: 32px;
                    color: #6568D0;
                    font-weight: bold;
                }
            }
            .solve-list {
                padding-left: 40px;
                    padding-top: 20px;
                .solve-list-item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 22px;
                    &:before {
                        content: '';
                        display: block;
                        width: 24px;
                        height: 24px;
                        margin-right: 14px;
                        background-image: url(../images/list-bullets.png);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}
.control-post {
    @media(max-width: 500px) {
        margin-top: 40px;
    }
    .control-post-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media(max-width: 500px) {
            width: 100%;
        }
        .control-link:nth-of-type(2n) {
            margin-right: 0;
        }
    } 
}
// ESTILIZACAO DE BOTOES DE FILTROS DOS SLIDERS DE MARCAS
.menu-article {
    padding-top: 53px;
    .brand-cases-btn {
        &:hover {
            cursor: pointer;
        }
        &.item-active {
            background-color: #6568D0;
            color: #fff;
        }
    }
}
// ESTILIZACAO DE SLIDER DE MARCAS
.slick-slide {
    img {
        max-width: 150px;
        height: auto;
        max-height: 150px;
        margin: auto;
    } 
} 
.brand-cases-slider-content {
    display: none;
    &.visible {
        display: block;
    }
    .brand-cases-slider {
        display: flex !important;
        align-items: center;
        .slick-arrow {
            height: 58px;
            width: 28px;
            transform: scale(0.4);
            transition: all 0.3s;
            background-color: transparent;
            border: none;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
                transform: scale(0.5);
                transition: all 0.3s;
            }
        }
        .slick-prev {
            background-image: url(../images/left-arrow-btn.png)
        }
        .slick-next {
            background-image: url(../images/right-arrow-btn.png)        
        }
        .slick-list {
            width: 90%;
            margin: auto;
            .brand-slider-item {
                display: flex;
                height: 150px;
            }
        }
    }
}
.brand-list {
    display: none;
    &.visible {
        display: block;
    }
    .brand-list-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
        .brand-item-img-block {
            max-width: 150px;
            width: 100%;
            margin: 20px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 100%;
                height: auto;
                max-height: 150px;
            }
        }
    }
}