@import 'variables';
body {
    font-family: 'Montserrat', sans-serif;
}
.contact-main {
    position: relative;
    .purple-bg {
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: #6668D2;
        right: 0;
        @media(max-width: 500px) {
            display: none;
        }
    }
    .wrapperContent {
        display: flex;
        @media(max-width: 500px) {
           flex-direction: column;
        }
        .form-block {
            width: 50%;
            @media(max-width: 800px) {
                padding-right: 10px;
                box-sizing: border-box;
            } 
            @media(max-width: 500px) {
                width: 100%;
            }
            .title-lg {
                color: #353233;
                padding: 40px 0 45px;
            }
            .contact-input,.contact-textarea,.contact-submit {                
                font-family: 'Roboto', sans-serif;
                color: #353233;
                font-size: 14px;
                font-weight: 300;
                width: 100%;
                max-width: 470px;
                height: 49px;
                border-radius: 50px;
                border: 1px solid #353233;
                box-sizing: border-box;
                padding: 0 32px;
                margin-bottom: 27px;
                &:focus {
                    outline: none;
                }
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                font-size: 14px;
                font-weight: 300;
                color: #353233;
                opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                font-size: 14px;
                font-weight: 300;
                color: #353233;
                }

                &::-ms-input-placeholder { /* Microsoft Edge */
                font-size: 14px;
                font-weight: 300;
                color: #353233;
                }
            }
            .contact-textarea {
                height: 153px;
                border-radius: 25px;
                box-sizing: border-box;
                padding: 18px 32px;
            }
            input.contact-submit, button.contact-submit {
                border-color: transparent;
                background-color: #6568D0;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-weight: 100;
                &:hover {
                    cursor: pointer;
                    background-color: #fff;
                    border-color: #6568D0;
                    color: #6568D0;
                }
            }
            // SLIDE BUTTON
            .switch-block {
                display: flex;
                align-items: center;
                margin-bottom: 32px;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
                margin-right: 15px;
                input {
                  opacity: 0;
                  width: 0;
                  height: 0;
                }
              }
            .switch-text {
                font-family: 'Montserrat', sans-serif;
                color: rgba(53, 50, 51, 0.5);
                font-weight: 300;
            }
              /* Hide default HTML checkbox */
              
              /* The slider */
              
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                &:before {
                  position: absolute;
                  content: "";
                  height: 26px;
                  width: 26px;
                  left: 4px;
                  bottom: 4px;
                  background-color: white;
                  -webkit-transition: transform .4s;
                  transition: transform .4s;
                }
              }
              
              input {
                &:checked + .slider {
                  background-color: #f7f7f7;
                }
                &:focus + .slider {
                  box-shadow: 0 0 1px #f7f7f7;
                }
                &:checked + .slider:before {
                  -webkit-transform: translateX(26px);
                  -ms-transform: translateX(26px);
                  transform: translateX(26px);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  content: '\f00c';
                  font-family: "Font Awesome 5 Free"; 
                  font-weight: 900;
                  color: #fff;
                  background-color: #6568D0;
                }
              }
              
              /* Rounded sliders */
              
              .slider.round {
                border-radius: 34px;
                border: 1px solid #eee;
                background-color: #f7f7f7;
                &:before {
                  border-radius: 50%;
                  background-color: #d3d3d3;
                  width: 34px;
                  height: 34px;
                  bottom: -1px;
                }
              }
            #resultForm {
                &.resultActive {
                    border: 2px solid green; 
                    max-width: 470px; 
                    padding: 2px 15px;
                }
            }
        }
        .conection-block {
            width: 50%;
            z-index: 25;
            padding: 78px 55px;
            box-sizing: border-box;
            color: #fff;
            @media(max-width: 500px) {
                width: 100%;
                background-color: #6568D0;
            }
            .title-md {
                max-width: 240px;
            }
            .text-lg {
                padding: 27px 0 18px;
            }
            .text-sm {
                font-weight: normal;
                line-height: 20px;
            }
            form.form-inline{
                input{
                    font-family: "Roboto", sans-serif;
                    width: 50%;
                    max-width: 470px;
                    height: 49px;
                    border-radius: 50px;
                    border: 1px solid #353233;
                    box-sizing: border-box;
                    padding: 0 32px;
                    margin-bottom: 27px;
                    display: inline-block;
                }
                button{
                    border-color: transparent;
                    background-color: #6568D0;
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    font-size: 24px;
                    font-weight: 100;
                    cursor: pointer;
                    width: 45%;
                    float: right;
                    max-width: 470px;
                    height: 49px;
                    border-radius: 50px;
                    border: 1px solid white;
                    box-sizing: border-box;
                    padding: 0 32px;
                    margin-bottom: 27px;
                }
                input.contact-input {
                    &:focus {
                        outline: none;
                    }
                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #353233;
                        font-size: 14px;
                        opacity: 1; /* Firefox */
                    }
                    
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #353233;
                        font-size: 14px;
                    }
                    
                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #353233;
                        font-size: 14px;
                    }
                }
                input.contact-submit, button.contact-submit {
                    width: unset;
                    border-color: transparent;
                    background-color: #fff;
                    color: #6568D0;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 4px;
                    margin-left: 14px;
                    &:hover {
                        cursor: pointer;
                        // background-color: #fff;
                        border-color: #fff;
                        color: #fff;
                        background-color: #6568D0;
                    }
                }
            }
            .social-block {
                margin-top: 16px;
                .social-list {
                    &.social-tel {
                        align-items: center;
                        .social-item {
                            margin-right: 10px;
                        }
                    }
                    .social-item {
                        &:hover {
                            background-color: #fff;
                            .fab {
                                color: #6568D0;
                            }
                        }
                        .fab {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.team {
    position: relative;
    min-height: 502px;
    margin-top: 87px;
    margin-bottom: 130px;
    @media(max-width: 500px) {
        margin-top: 0;
    }
    .wrapperContent {
        position: relative;
    }
    .teamBg {
        position: absolute;
        width: 100%;
        height: 415px;
        background-color: #F7F7F7;
    }
    .wrapperContent {
        display: flex;
    }
    .team-info,.team-cover {
        width: 50%;
        @media(max-width:800px){
            width: 100%;
        }
    }
    .team-info {
        padding-top: 62px;
        .text-xl {
            margin-bottom: 51px;
        }
        .text-md {
            line-height: 31px;
            max-width: 80%;
        }
        .team-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 392px;
            height: 57px;
            background-color: #6568D0;
            border-radius: 60px;
            margin-top: 55px;
            border: 1px solid transparent;
            &:hover {
                border-color: #6568D0;
                background-color: #fff;
                .text-bold {
                    color: #6568D0;
                }
            }
            .text-bold {
                font-size: 18px;
                color: #fff;
                text-decoration: none;
                letter-spacing: 2px;
            }
        }
    }
    .team-cover {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 502px;
        background-size: cover;
        background-color: #fff;
        background-position: center;
        @media(max-width: 800px) {
            width: 100%;
            position: relative;
            margin-top: 46px;
        }
        .team-cover-info {
            padding-top: 180px;
            padding-left: 82px;
            .title-md {
                color: #fff;
                line-height: 33px;
                margin-bottom: 8px;
            }
            .text-sm {
                color: #fff;
            }
        }
    }
}