@import 'contato.scss';

// ANIMACAO BTNS MISSAO
@keyframes mission-pulse {
    0% {
        background-size: 200%;
        background-position: 80%;
    }
    50% {
        background-size: 300%;
        background-position: 85%;
    }
    100% {
        background-size: 200%;
        background-position: 80%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}
.cat-text {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 28px;
}
.post-title {
    max-width: 490px;
    color: #fff;
    margin-bottom: 32px;
}
.wrapperContent {
    @media(max-width: 800px) {
        box-sizing: border-box;
    }
}
.enterprise {
    position: relative;
    .enterprise-bg {
        display: flex;
        justify-content: center;
        height: 540px;
        background-size: cover;
        background-position: center;
        @media(max-width: 800px) {
            height: 300px;
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(102, 105, 204, 0.6);
                position: absolute;
            }
        }
        @media(max-width: 680px) {
            height: 200px;
        }
        .wrapperContent {
            @media(max-width: 800px) {
                position: relative;
            }
        }
        .cat-text {
            @media(max-width: 600px) {
                font-size: 12px;
                margin-bottom: 18px;
            }
        }
        .post-title {
            @media(max-width: 600px) {
                font-size: 28px;
                margin-bottom: 22px;
            }
        }
        .linkVideo {
            &:hover {
                .play-button-svg {
                    stroke: #6568D0;
                }
                .play-icon-svg {
                    fill: #6568D0;
                }
                text {
                    fill: #6568D0;
                }
            }
            .play-button-svg {
                stroke: #fff;
            }
            .play-icon-svg {
                fill: #fff;
            }
            text {
                fill: #fff;
            }
        }
    }
    .enterprise-video {
        display: none;
        height: 540px;
        width: 100%;
        iframe {
            width: 100% !important;
            height: 100% !important;
        }
    }
}
#modalVideo {
    max-width: 650px;
    padding: 0;
    iframe {
        width: 100% !important;
        vertical-align: middle;
    }
}
.about-block {
    .about-content {
        max-width: 50ch;
        margin: 95px auto ;
        text-align: center;
        .videoTitle {
            font-family: "Montserrat", sans-serif;
            color: #353233;
            font-weight: bold;
            font-size: 35px;
            margin-bottom: 20px;
        }
        p {
            line-height: normal;
        }
    }
}
.mission {
    // background-color: #F0F0F0;
    .wrapperContent {
        display: flex;
        @media(max-width: 1300px) {
            max-width: 100%;
        }
        @media(max-width: 800px) {
            padding: 0;
        }
        @media(max-width: 500px) {
            flex-direction: column;
        }
    }
    .mission-options-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
        width: 100%;
        background-color: #F0F0F0;
        a {
            text-decoration: none;
        }
        .option-text-item {
            display: flex;
            align-items: center;
            .option-text {
                font-size: 27px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: #353233;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    opacity: 0.8;
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }
            &:before {
                content: '';
                display: block;
                width: 130px;
                height: 100px;
                background-image: url(../images/empresa/home_lozinsky_empresa-07.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 80%;
                transition: width .6s;
            }
            &:not(.item-active){
                &:nth-child(1n) {
                    &:before { 
                        animation-delay: 0.4s;
                    }
                }
                &:nth-child(2n) {
                    &:before { 
                        animation-delay: 0.8s;
                    }
                }
                &:nth-child(3n) {
                    &:before { 
                        animation-delay: 1.2s;
                    }
                }
                &:before {
                    animation-name: mission-pulse;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    background-size: 200%;
                }
            }
            &:after {
                transition: background-image .6s;
            }
            &.item-active {
                .option-text {
                    margin-left: -50px;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 220px;
                    height: 120px;
                    background-image: url(../images/empresa/home_lozinsky_empresa-06.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: width .6s;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 170px;
                    height: 120px;
                    background-image: url(../images/empresa/home_lozinsky_empresa-05.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: background-image .6s;
                }
            }
        }
    }
    .mission-info-block {
        width: calc(100% - 400px);
        @media(max-width: 500px) {
            width: 100%
        }
        .mission-info-item {
            background-image: url(../images/empresa/home_lozinsky_empresa-02.png);
            background-size: cover;
            display: none;
            height: 100%;
            &.visible {
                display: flex;
            }
            @media(max-width: 800px) {
                flex-direction: column;
            }
            .mission-info-list {
                width: 300px;
                margin-left: 70px;
                border-left: 1px solid #fff;
                padding-left: 14px;
                padding-top: 120px;
                padding-bottom: 100px;
                @media(max-width: 800px) {
                    margin-left: 20px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                &:last-of-type {
                    border-right: 1px solid #fff;
                    padding-right: 20px;
                    @media(max-width: 800px) {
                        padding-top: 0px;
                        border-right: none;
                    }
                }
                &.info-list-single {
                    border-right: none;
                    @media(max-width: 500px) {
                        padding-top: 30px;
                    }
                }
                .info-list-item {
                    position: relative;
                    color: #fff;
                    margin-bottom: 40px;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    @media(max-width: 800px) {
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        left: -18px;
                        top: 4px;
                        width: 8px;
                        height: 8px;
                        background-image: url(../images/empresa/dot.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}
.play-button {
    position: absolute;
    display: block;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    background-image: url(../images/play-button-img.png);
    background-size: contain;
    background-position: center;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
.bannerEmpresaVideo {
    display: flex;
    flex-wrap: wrap;
    margin: 95px auto;
    height: 400px;
    @media(max-width: 680px) {
        height: inherit;
    }
    .wrapperContent {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .empresaVideoBlock {
        width: 50%;
        box-sizing: border-box;
        background-size: cover;
        background-position: top;
        position: relative;
        @media(max-width: 680px) {
            width: 100%;
            height: 300px;
        }
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgb(142,186,174);
            background: -moz-linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
            background: -webkit-linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
            background: linear-gradient(-154deg, rgba(142,186,174,0) 0%, rgba(102,105,209,0.3) 42.44%, rgba(54,51,52,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ebaae",endColorstr="#363334",GradientType=1);
        }
        // &:after {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     top: calc(50% - 46px);
        //     left: calc(50% - 46px);
        //     width: 93px;
        //     height: 93px;
        //     background-image: url(../images/cover-play.png);
        //     background-size: contain;
        //     background-position: center;
        //     transition: all .3s;
        //     cursor: pointer;
        // }
        &:hover {
            &:after {
                transform: scale(1.2);
                transition: all .3s;
            }
        }
        .linkVideo {
            .empresaVideoBlockContent {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                top: calc(50% - 46px);
                left: calc(50% - 46px);
                width: 93px;
                height: 93px;
                background-image: url(../images/cover-play.png);
                background-size: contain;
                background-position: center;
                transition: all 0.3s;
                cursor: pointer;
            }
            &:hover {
                &:before {
                    transform: scale(1.2);
                    transition: all .3s;
                }
            }
        }
    }
    .empresaVideoTextBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;    
        width: 50%;
        box-sizing: border-box;
        padding: 20px 40px 0;
        @media(max-width: 680px) {
            width: 100%;
        } 
        .videoTitle {
            font-family: "Montserrat", sans-serif;
            color: #353233;
            font-weight: bold;
            font-size: 35px;
            margin-bottom: 20px;
        }
        .videoText {
            font-family: "Montserrat", sans-serif;
            color: #353233;
            font-weight: bold;
            font-size: 35px;
            margin-bottom: 20px;        
        }
        p {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 28px;
            margin-bottom: 10px;
            overflow: auto;
            width: 80%;
            padding-bottom: 10px;
            @media(max-width: 680px) {
                width: 100%;
            }
        }
    }
}