.estudos{
    padding-top: 67px;
    margin-bottom: -71px;
    &.top-section { 
        background-image: url(../images/estudos/bg-top.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        h1,h2,h3,h4,h5,h6, p {
            color: #fff;
        }
    }
    h1,h2,h3,h4,h5,h6, p{
        margin-bottom: 15px;
        font-family: "Montserrat", sans-serif;
        line-height: 27px;
    }
    h1{
        line-height: 35px;
    }
    h4{
        margin-bottom: 31px;
        font-weight: bold;
        font-size: 25px;
    }
    .articleCatText{
        line-height: 7px;
    }
    .cat-text{
        font-size: 23px;
        color: #6568D0;
        margin-bottom: 15px;
        position: relative;
        &:before{
            position: absolute;
            top: 65%;
            overflow: hidden;
            width: 91%;
            left: 106px;
            height: 1px;
            content: " ";
            background-color: #6568D0;
        }
        @media (max-width: 480px){
            display: none;
        }
    }
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @media (max-width: 480px){
            flex-direction: column;
        }
        .col-1{
            flex: 1;
            padding-right: 60px;
            @media (max-width: 480px){
                padding-right: 0;
            }
        }
        .estudo-box{
            border: 20px solid #6568D0;
            background-color: white;
            padding: 40px;
            img{
                float: left;
                margin-right: 28px;
                @media (max-width: 480px){
                    float: none;
                }
            }
            .cat-text{
                @media(min-width: 500px) {
                    display: none;
                }
                @media (max-width: 480px){
                    display: block;
                    &:before{
                        display: none;
                    }
                }
            }
            h3{
                font-size: 24px;
                color: #6568D0;
                font-weight: bold;
                margin-bottom: 30px;
            }
            p {
                color: #000;
            }
            .btn-link{
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 4px;
                border-radius: 30px;
                border: none;
                color: #fff;
                background-color: #6568D0;
                margin: 0 auto;
                padding: 15px 30px;
                text-align: center;
                display: table;
                text-decoration: none;
                margin-top: 30px;
            }        
        }
    }
    &.bg-black{
        background-color: #363334;
        color: white;
        padding-top: 180px;
        margin-top: -85px;
        padding-bottom: 110px;
        h3{
            font-size: 32px;
            text-align: center;
            margin-bottom: 60px;
            
        }
    }
    &.artigos{
        margin-top: -90px;
    }
    &.report{
        position: relative;
        margin-top: 130px;
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: stretch;
            .col-1{
                flex: 1;
                margin-right: 60px;
                @media (max-width: 480px){
                    margin: 0 10px;
                }
            }
            .block-blue{
                background-color: #6568D0;
            }
            .cat{
                font-size: 23px;
                color: #6568D0;
                margin-bottom: 15px;
                position: relative;
                font-weight: bold;
            }
            .title-lg{
                line-height: 37px;
            }
        }
        .image{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            @media (max-width: 480px){
                position: relative;
            }
            .col-1{
                text-align: right;
                margin: 0;
            }
            img{
                width: 100%;
                max-width: 668px;
            }
        }
        .conteudo-formulario{
            background-color: #6568D0;
            color: white;
            margin-top: 60px;
            padding-top: 101px;
            padding-bottom: 130px;
            @media (min-width: 1600px) {
                margin-top: 150px;
            }
            @media (max-width: 480px){
                margin-top: 30px;
                padding-top: 50px;
            }
            .contact-input,.contact-textarea,.contact-submit {
                font-family: 'Roboto', sans-serif;
                color: #353233;
                font-size: 14px;
                font-weight: 300;
                width: 100%;
                max-width: 470px;
                height: 49px;
                border-radius: 50px;
                border: 1px solid #353233;
                box-sizing: border-box;
                padding: 0 32px;
                margin-bottom: 27px;
                &:focus {
                    outline: none;
                }
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                font-size: 14px;
                font-weight: 300;
                color: #353233;
                opacity: 1; /* Firefox */
                }

                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                font-size: 14px;
                font-weight: 300;
                color: #353233;
                }

                &::-ms-input-placeholder { /* Microsoft Edge */
                font-size: 14px;
                font-weight: 300;
                color: #353233;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .contact-textarea {
                height: 153px;
                border-radius: 25px;
                box-sizing: border-box;
                padding: 18px 32px;
            }
            .contact-submit {
                border-color: transparent;
                background-color: #8EBAAE;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-weight: 100;
                &:hover {
                    cursor: pointer;
                    background-color: #fff;
                    border-color: #8EBAAE;
                    color: #8EBAAE;
                }
            }
            // SLIDE BUTTON
            .switch-block {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 54px;
                height: 34px;
                margin-right: 15px;
                @media (max-width: 480px){
                    width: 60px;
                }
                input {
                  opacity: 0;
                  width: 0;
                  height: 0;
                }
              }
            .switch-text {
                font-family: 'Montserrat', sans-serif;
                color: white;
                font-weight: 300;
                font-size: 14px;
                padding-top: 15px;
            }
            /* Hide default HTML checkbox */
              
              /* The slider */
              
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                &:before {
                  position: absolute;
                  content: "";
                  height: 26px;
                  width: 26px;
                  left: 4px;
                  bottom: 4px;
                  background-color: white;
                  -webkit-transition: transform .4s;
                  transition: transform .4s;
                }
              }
              
              input {
                &:checked + .slider {
                  background-color: #f7f7f7;
                }
                &:focus + .slider {
                  box-shadow: 0 0 1px #f7f7f7;
                }
                &:checked + .slider:before {
                  -webkit-transform: translateX(13px);
                  -ms-transform: translateX(13px);
                  transform: translateX(13px);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  content: '\f00c';
                  font-family: "Font Awesome 5 Free"; 
                  font-weight: 900;
                  color: #fff;
                  background-color: #8EBAAE;
                }
              }
              
              /* Rounded sliders */
              
              .slider.round {
                border-radius: 34px;
                border: 1px solid #eee;
                background-color: #f7f7f7;
                &:before {
                  border-radius: 50%;
                  background-color: #d3d3d3;
                  width: 34px;
                  height: 34px;
                  bottom: -1px;
                }
              }
        }
    }
}