@import 'reset';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'home';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.wrapperContent {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    @media(max-width: 1024px) {
        padding: 0 10px;
        box-sizing: border-box;
    }
}
.not-found {
    text-align: center;
    padding: 60px 0;
    img{
        width: 100%;
        max-width:600px ;
    }
}
a {
    font-family: "Montserrat", sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.text-mont {
    
    font-family: 'Montserrat', sans-serif;
}
.text-roboto {
    font-family: 'Roboto', sans-serif
}
.title-lg {
    font-weight: bold;
    font-size: 35px;
    @media(max-width: 500px) {
        line-height: 35px; 
    }
}
.title-md {
    font-size: 27px;
    font-weight: bold;
}
.text-bold {
    font-weight: bold;
}
.text-thin {
    font-weight: 100;
}
.text-light {
    font-weight: 300;
}
.text-xl {
    font-size: 32px
}
.text-lg {
    font-size: 24px;
}
.text-md {
    font-size: 16px;
}
.text-sm {
    font-size: 14px;
}
.cat-text {
    font-size: 19px;
    font-weight: 700;
}
.post-title {
    font-size: 35px;
    font-weight: 700;
}
.link-default {
    color: #6568D0;
    text-decoration: none;
    font-weight: 700;
}
// animation to-down
@keyframes toDown {
    0%   {width: 70px};
    // 25%  {width: 60px;}
    50%  {width: 20px};
    // 75%  {width: 60px};
    100% {width: 70px};
}

.cat-line {
    position: relative;
    z-index: 1;
    &:before {
        position: absolute;
        top: calc(50% + 1px);
        overflow: hidden;
        width: 50%;
        left: calc(-50% - 10px);
        height: 1px;
        content: '\a0';
        background-color: #6568D0;
        @media(max-width: 500px) {
            display: none;
        }
    }
}
.breadcumbs {
    background-color: #353334;
    .wrapperContent {
        display: flex;
    }
    #breadcumbsText{
        font-family: 'Montserrat', sans-serif;
        padding: 8px 0;
        font-size: 15px;
        color: #fff;
        &:not(:last-of-type) {
            &:after {
                content: '>';
                padding: 0 8px 
            }
        }
        a{
            color: #fff;
            text-decoration: none;
        }
    }
}
.social-block {
    .social-list {
        display: flex;
        @media(max-width: 800px) {
            justify-content: space-around;
        }
        .social-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            border: 1px solid;
            border-radius: 100%;
            @media(min-width: 801px) {
                &:not(:last-of-type) {
                    margin-right: 28px;
                }
            }
            .fab {
                font-size: 28px;
            }
        }
    }
}

.linkToDown {
    position: absolute;
    left: 0;
    z-index: 25;
    bottom: 0;
    width: 71px;
    height: 178px;
    display: flex;
    background-color: #6568D0;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none;
    @media(max-width: 800px) {
        display: none;
    }
    &:hover {
        .linkText {
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: #fff;
            transform: rotate(270deg);
            margin-top: -40px;
        }
    }
    .linkText {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #fff;
        transform: rotate(270deg);
        margin-top: -40px;
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 70px;
            height: 1px;
            background-color: #fff;
            bottom: calc(50% - 1px);
            left: -220%;
            animation: toDown 2s ease-in infinite
        }
    }
}
.associate {
    margin-top: 95px;
    .associate-top-block {
        max-width: 580px;
        margin: auto;
        margin-bottom: 37px;
        .text-xl{
            text-align: center;
            color: #BFBFBF;
            margin-bottom: 40px;
        }
        .text-sm {
            color: #353233;
            line-height: 20px;
            text-align: center;
        }
    }
    .associate-list {
        display: flex;
        flex-wrap: wrap;

        .associate-item {
            // max-width: 308px;
            max-width: 32%;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #F7F7F7;
            border: 2px solid #F0F1F1;
            box-sizing: border-box;
            margin-bottom: 19px;
            @media(min-width:801px) {
                &:not(:nth-of-type(3n)) {
                    margin-right: 2%;
                }
            }
            @media(max-width: 800px) and (min-width: 501px) {
                max-width: 48%;
                &:not(:nth-of-type(2n)) {
                    margin-right: 4%;
                }
            }
            @media(max-width: 500px) {
                max-width: 100%;
                width: 100%;
            }
            .associate-img {
                width: 195px;
                height: 195px;
                margin: 33px auto 18px;
                border-radius: 100%;
                background-color: #353233;
            }
            .associate-info {
                padding: 0 36px;
                .top-info-block {
                    .text-mont {
                        text-align: center;
                    }
                }
                .middle-info-block {
                    margin: 16px auto 8px;
                    .text-sm {
                        line-height: 20px;
                    }
                    .text-mont {
                        height: 130px;
                    }
                }
                .footer-info-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 25px;
                    a {
                        text-decoration: none;
                        color: #6568D0;
                    }
                    .footer-social-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                        border: 1px solid;
                    }
                    .footer-link-text {
                        .footer-link-content {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
// btn de video
.linkVideo {
    &:hover {
        svg {
            margin-top: 5px;
            .play-button-svg {
                stroke: #fff;
                // fill: #6568D0;
            }
            .play-icon-svg {
                fill: #fff;
            }
            text {
                fill: #fff;
            }
        }
    }
    svg {
        margin-top: 5px;
        .play-button-svg {
            stroke: #6568D0;
            // fill: #6568D0;
        }
        .play-icon-svg {
            fill: #6568D0;
        }
        text {
            fill: #6568D0;
        }
    }
}
.control-post {
    @media(max-width: 500px) {
        margin-top: 40px;
    }
    .control-post-content {
        display: flex;
        justify-content: space-between;
        width: 75%;
        @media(max-width: 500px) {
            width: 100%;
        }
    }
    .control-link, a {
        position: relative;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #6568D0;
        &:nth-of-type(2n) {
            margin-right: 30px;
        }
        .prev-post {
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 138px;
                height: 1px;
                background-color: #6568D0;
                top: -14px;
                transition: transform 0.3s;
            }
            &:hover {
                &:before {
                    transform: translateX(14px);
                    transition: transform 0.3s;
                }
            }
        }
        .next-post {
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 138px;
                height: 1px;
                background-color: #6568D0;
                bottom: -14px;
                transform: translateX(14px);
                transition: transform 0.3s;
            }
            &:hover {
                &:after {
                    transform: translateX(0px);
                    transition: transform 0.3s;
                }
            }
        }
    }
}
.textWhite {
    color: #fff;
}
.linkStyle {
    text-decoration: none;
}
.positive-alert {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #8EBAAE;
    margin-bottom: 31px;
}
// SIDEBAR ATUACAO
.sidebar-block {
    margin: 34px 0; 
    &.sidebar-atuacao {
        background-image: url(../images/atuacao/sidebar-bg.png);
        background-size: cover;
        background-color: #F7F7F7;
        padding: 0 28px;       
        padding-top: 80px;
        .sidebar-text-block {
            padding-right: 24px;
            padding-bottom: 18px;
            a {
                display: flex;
                justify-content: flex-end;
                margin-top: 5px;
            }
        }
    }
    &.sidebar-report {
        padding: 19px 28px 0;
        background-color: #F7F7F7;
        .sidebar-title1 {
            max-width: 20ch;
        }
        .report-book {
            position: relative;
            max-width: 203px;
            height: 166px;
            background-image: url(../images/atuacao/report-cover.png);
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -20px;
            .purple-text {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                bottom: 10px;
                right: -40px;
                line-height: 27px;
                letter-spacing: 0.085em;
                text-decoration: none;
                @media(max-width: 800px) and (min-width: 501px) {
                    right: unset;
                    left: 20px;
                }
            }
        }
    }
    .sidebar-title1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 22px;
        &.sidebar-title2 {
            font-size: 16px;
        }
    }
    .purple-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 22px;
        /* or 183% */


        color: #656AC9;
    }
    .sidebar-text-block {
        p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 21px;
            /* or 175% */

            letter-spacing: 0.085em;
        }
        a {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 27px;
            color: #656AC9;
            text-decoration: none;
            /* or 225% */

            letter-spacing: 0.085em;
        }
    }
}
// MODAL DE PESQUISA
.modalSeacrh {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    .modal-content {
        width: 90%;
        height: 90%;
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: white;
        padding: 1rem 1.5rem;
        // width: 24rem;
        border-radius: 0.5rem;
        .modal-form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .searchform {
                @extend .modal-form;
                .search-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .screen-reader-text {
                        display: none;
                    }
                    .searchform-content {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .search-field {
                            max-width: 80%;
                            width: 100%;
                            font-size: 40px;
                            background-color: unset;
                            border: none;
                            border-bottom: 2px solid #fff;
                            color: #fff;
                            text-align: center;
                            &::-webkit-input-placeholder { /* Edge */
                                color: #fff;
                            }
                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: #fff;
                            }
                            &::placeholder {
                                color: #fff;
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                        .searchsubmit {
                            margin-top: 10px;
                            padding: 18px 30px;
                            font-family: "Roboto", sans-serif;
                            font-size: 16px;
                            font-weight: 700;
                            border-radius: 30px;
                            background-color: #6568D0;
                            color: #fff;
                            text-decoration: none;
                            border: 2px solid #6568D0;
                            &:hover {
                                cursor: pointer;
                                background-color: #fff;
                                color: #6568D0;
                                border: 2px solid #6568D0;
                            }
                        }
                    }
                }
            }
        }
      }
}
  
.close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    font-size: 100px;
    line-height: 1.5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    right: 10px;
    top: 10px;
    background-color: unset;
    color: #fff;

    &:hover {
        border-radius: 50%;
        color: #676ad0;
        background-color: #fff;
    }
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;

    z-index: 50;
    background-color: rgba(101, 104, 208, 0.8);
}
.searchBlock {
    margin-top: 130px;
    .cat-title {
        font-family: "Montserrat", sans-serif;
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 40px;
        span {
            color: #6568D0;
        }
    }
    .articleBlockButton {
        .articleBtn {
            .page-numbers {
                color: unset;
                text-decoration: unset;
                font-weight: 400;
                &.current {
                    font-weight: 700;
                }
            }
        }
    }
}