.visao{
    max-width: 1400px;
    width: 100%;
    margin: auto;

    padding-top: 67px;
    padding-bottom: 67px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/atuacao/bg-net.png);
    background-repeat: no-repeat;
    background-position: -76px -93px;
    .title-lg {
        color: #6568D0;
        position: relative;
        &.barra-cinza {
            &:after {
                content: "";
                background: #E5E6E7;
                height: 191%;
                width: 500px;
                left: -514px;
                top: 0;
                position: absolute;
                height: 300px;
                @media(max-width: 500px) {
                    display: none;
                }
            }
        }
    }
    .graphic-itens-list {
        position: absolute;
        padding: 30px 0 0 30px;
        @media(max-width: 1200px) {
            position: relative;
        }
        @media(max-width: 800px) {
            padding: 30px 30px 0 0px;
        }
        .graphic-itens-list-item {
            margin-bottom: 20px;
            &:nth-of-type(1) {
                .graphic-title {
                    &:after {
                        width: 440px;
                        @media(max-width: 1300px) and (min-width: 1100px) {
                            width: 400px;
                        }
                    }
                }
            }
            &:nth-of-type(2) {
                .graphic-title {
                    &:after {
                        width: 500px;
                        @media(max-width: 1300px) and (min-width: 1100px) {
                            width: 450px;
                        }
                    }
                }
            }
            &:nth-of-type(3) {
                .graphic-title {
                    &:after {
                        width: 670px;
                        @media(max-width: 1300px) and (min-width: 1100px) {
                            width: 600px;
                        }
                    }
                }
            }
            &:nth-of-type(4) {
                .graphic-title {
                    &:after {
                        width: 280px;
                        @media(max-width: 1300px) and (min-width: 1100px) {
                            width: 220px;
                        }
                    }
                }
            }
            &:nth-of-type(5) {
                .graphic-title {
                    &:after {
                        width: 510px;
                        @media(max-width: 1300px) and (min-width: 1100px) {
                            width: 460px;
                        }
                    }
                }
            }
            .graphic-title {
                display: inline;
                position: relative;
                font-size: 26px;
                color: #8ebaae;
                font-weight: 700;
                &:after {
                    content: "";
                    position: absolute;
                    left: 100%;
                    margin-left: 18px;
                    display: block;
                    bottom: 7px;
                    height: 3px;
                    background-color: #8ebaae;
                    @media(max-width: 1200px) {
                        display: none;
                    }
                }
                a {
                    text-decoration: none;
                    color: unset;  
                }
            }
            .graphic-text {
                // font-size: 19px;
                font-size: 17px;
                max-width: 450px;
                @media(max-width: 800px) {
                    max-width: 100%;
                }
                a {
                    text-decoration: none;
                    font-weight: 700;
                    color: #8ebaae;
                    transition: all 0.3s;
                    @media(max-width: 800px) and (min-width: 501px) {
                        display: block;
                        margin: 5px 0;
                    }
                    @media(max-width: 500px) {
                        display: block;
                        margin-top: 15px;
                        margin-bottom: 25px;
                    }
                    &:hover {
                        color: #6568D0;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
    .grafico{
        float: right;
        max-width: 640px;
        margin-right: 50px;

        width: 100%;
        margin-top: -10px;
        position: relative;
        @media(max-width: 1200px) {
            display: none;
        }
        img{
            width: 100%;
        }
        .btn{
            position: absolute;
            cursor: pointer;
            @media(max-width: 500px) {
                &:nth-child(-n+5) {
                    .tooltip {
                        left: 70px;
                    }
                }
            }

            .ball{
                width: 60px;
                height: 60px;
                border-radius: 30px;
                display: inline-block;
                background-color: #8ebaae;
                position: relative;
                margin-left: 10px;
                margin-bottom: -6px;
                &:after{
                    content: "";
                    border: 1px solid #6669D1;
                    width: 60px;
                    position: absolute;
                    height: 60px;
                    top: -1px;
                    left: -1px;
                    border-radius: 65px;
                    display: block;
                    transform: scale(1);
                    animation: pulse-2 2s infinite; 
                    -moz-animation: pulse-2 2s infinite; 
                    -webkit-animation: pulse-2 2s infinite; 
                    -o-animation: pulse-2 2s infinite; 
                }
            }
            .tooltip{
                display: none;
                position: absolute;
                top: -37px;
                // left: -157px;
                // width: 150px;
                left: -117px;
                width: 110px;
                font-size: 12px;
                line-height: 14px;
                // background: #363334;
                background: #8ebaae;
                border-radius: 9px;
                padding: 14px;
                color: white;
                z-index: 9;
                h4 {
                    font-weight: 700;
                    margin-bottom: 5px;
                    font-size: 14px;
                }
                p{
                    line-height: 13px;
                    font-size: 12px;
                    margin-bottom: 5px;
                }
                a {
                    // color: #6669D1;
                    text-decoration: none;
                    color: #fff;
                    font-weight: 700;
                    transition: 0.3s;
                    &:hover {
                        transform: scale(1.1);
                        transition: 0.3s;
                    }
                }
                &.active{
                    display: block;
                }
            }
            &.btn-1{
                top: 5%;
                left: 18%;
            }
            &.btn-2{
                top: 19%;
                left: 28%; 
            }
            &.btn-3{
                top: 57%;
                left: 0%;
            }
            &.btn-4{
                top: 42%;
                left: 43%;
            }
            &.btn-5{
                top: 79%;
                left: 18%;          
            }
        }
        
    }
    .modal{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        background-color: rgba(white, $alpha: .95);

        display: none;
        padding: 79px 0;
        line-height: 23px; 
        @media(max-width: 500px) {
            height: 90%;
        }
        &.active{
            display: block;
            @media(max-width: 500px) {
                position: fixed;
                z-index: 99999999;
                padding: 50px 0px;
                overflow: auto;
            }
        }
        .title-lg{
            margin-bottom: 15px;
        }
        p,ul{
            margin-bottom: 15px; 
        }
        strong{
            font-weight: bold;
        }
        ul,li{
            font-family: 'Montserrat', sans-serif;
        }
        li{
            list-style: circle;
            margin-left: 20px;
        }
        .btn-fechar{
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            right: 80px;
            top: 63px;
            line-height: 2;
            display: block;
            cursor: pointer;
            color: #6669D1;
            width: 90px;
            padding-right: 0;
            height: 32px;
            @media(max-width: 500px) {
                right: 10px;
                top: 10px;
            }
            &:after, &:before{
                content: "";
                display: block;
                width: 30px;
                height: 2px;
                background-color: #6568D0;
                position: absolute;
                top: 43%;
                transform: rotate(45deg);
                right: 0;
            }
            &:before{
                transform: rotate(-45deg);
            }
        }
        .flex-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: stretch;
            @media(max-width: 500px) {
               flex-direction: column-reverse;
            }
            .col-1{
                flex: 1;
                margin-left: 10px;
                @media(max-width: 500px) {
                    width: 100%;
                    margin: 0 auto 20px;
                }
                &:first-child{
                    margin-left: 0;
                }
                .foto{
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    @media(max-width: 500px) {
                        min-height: 300px;
                    }
                }
            } 
        }

    }

}
.modal-lozinsky {
    padding: 64px 0 !important;
    max-width: 1025px !important;
    @media(max-width: 500px) {
        width: 100% !important;
        min-height: 100% !important;
    }
    .modal-block {
        display: flex;
        .menu-modal-block {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 23px;
            width: 180px;
            font-size: 14px;
            font-weight: 700;
            background-color: #E5E6E8;
            @media(max-width: 800px) {
                display: none;
            }
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-bottom: 8px;
                color: #6669D1;
                &.menu-item-active {
                    opacity: 0.6;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-image: url(../images/list-bullets.png);
                    background-size: contain;
                    background-position: center;
                    margin-right: 6px;
                }
            }
        }
        .modal-content {
            position: relative;
            padding: 0 62px;
            width: calc(100% - 180px);
            @media(max-width: 800px) {
                width: 100%
            }
            @media(max-width: 500px) {
                box-sizing: border-box;
                padding: 0 45px;
            }
            .modal-title {
                font-size: 35px;
                font-weight: 700;
                color: #6669D1;
                margin-bottom: 8px;
                @media(max-width: 320px) {
                    font-size: 25px;
                }
            }
            .arrow-modal {
                position: absolute;
                top: calc(50% - 11px);
                &.arrow-left {
                    left: 25px;
                    @media(max-width: 500px) {
                        left: 15px; 
                    }
                }
                &.arrow-right {
                    right: 25px;
                    @media(max-width: 500px) {
                        right: 15px; 
                    }
                }
            }
            .modal-content-block {
                display: flex;
                @media(max-width: 500px) {
                    flex-direction: column-reverse;
                }
                p,ul, li {
                    font-family: "Montserrat", sans-serif;
                    font-size: 12px;
                    line-height: 127.4%;
                }
                p, ul {
                    margin-bottom: 10px;
                }
                li {
                    display: flex;
                    align-items: center;
                    &:before {
                        content: "";
                        display: block;
                        width: 2px;
                        height: 2px;
                        background-color: #000;
                        border-radius: 100%;
                        margin-right: 5px;
                    }
                }
                .font-bold {
                    font-weight: 700;
                }
                .modal-text-block {
                    width: calc(50% - 22px);
                    @media(max-width: 500px) {
                        width: 100%;
                        margin: auto;
                    }
                    &:not(:last-of-type) {
                        margin-right: 22px;
                    }
                }
                .modal-image-block {
                    @media(max-width: 800px) and (min-width: 501px) {
                        width: 50%;
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    @media(max-width: 500px) {
                        display: none;
                        width: 100%;
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            .modal-contact-block {
                a {
                    text-decoration: none;
                    font-weight: 700;
                    color: #6669D1;
                }
            }
        }
        .close-modal-btn {
            display: flex;
            align-items: center;
            text-decoration: none;
            position: absolute;
            right: 25px;
            top: -30px;
            color: #6669D1;
            @media(max-width: 500px) {
                top: -35px;
            }
            &:after {
                content: '';
                width: 19px;
                height: 19px;
                display: block;
                background-image: url(../images/atuacao/close-purple.png);
                background-size: contain;
                background-repeat: no-repeat;
                margin-left: 10px;
            }
        }
    }
}
.blocker {
    z-index: 50 !important;
    box-sizing: content-box !important;
    padding: 0 !important;
}
.modal {
    a {
        &.close-modal {
            display: none !important;
        }
    }
} 

/* Animation Keyframes*/
@keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@-moz-keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@-webkit-keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@-o-keyframes pulse-2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}