.formContact {
    position: relative;
    margin-bottom: -70px;
    .wrapperContent {
        background-color: #F0F0F0;
        @media(max-width: 800px) {
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        .formContactContent {
            position: relative;
            padding: 50px;
            &:after {
                position: absolute;
                content: '\f04e';
                display: block;
                font-family: 'FontAwesome';
                color: #6568D0;
                font-size: 50px;
                width: 50px;
                height: 50px;
                right: 25%;
                top: calc(50% - 25px);
                transition: all .3s;
                @media(max-width: 800px) {
                    right: 5%;
                }
            }
            .formContactContentText {
                font-family: 'Montserrat', sans-serif;
                letter-spacing: 3px;
                font-size: 24px;
                font-weight: 700;
                color: #6568D0;
                &:before {
                    content: '';
                    display: block;
                    width: 135px;
                    height: 2px;
                    background-color: #6568D0;
                    margin-bottom: 15px;
                    transition: all .3s;
                }
            }
            &:hover {
                &:after {
                    right: 23%;
                    transition: all .3s;
                    @media(max-width: 800px) {
                        right: 10%;
                    }
                }
                .formContactContentText {
                    &:before {
                        margin-left: 40%;
                        transition: all .3s;
                    }
                }
            }
        }
    }

    // animation to-down
    @keyframes toTop {
        0%   {width: 70px; left: 35px};
        25%  {width: 50px; left: 35px}
        50%  {width: 20px; left: 35px};
        75%  {width: 50px; left: 35px};
        100% {width: 70px; left: 35px};
    }
    .linkToTop {
        position: absolute;
        right: 0;
        top: -80px;
        width: 71px;
        height: 178px;
        display: flex;
        background-color: #6568D0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        @media(max-width: 800px) {
            top: 100%;
        }
        &:hover {
            .linkText {
                // &:after {
                //     width: 50px;
                //     left: 65px;
                // }
            }
        }
        .linkText {
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: #fff;
            transform: rotate(270deg);
            margin-top: 40px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: calc(50% - 1px);
                width: 70px;
                left: 190%;
                height: 1px;
                background-color: #fff;
                animation: toTop 2s linear infinite
            }
        }
    }
}
footer {
    background-color: #353334;
    padding: 110px 0;
    .wrapperContent {
        display: flex;
        @media(max-width: 800px) {
            flex-wrap: wrap;
        }
    }
    .menuListsBlock {
        display: flex;
        width: 40%;
        @media(max-width: 800px) {
            width: 80%;
            margin: auto;
        }
        @media(max-width: 500px) {
            width: 100%;
        }
    }
    .footerMenuBlock {
        width: 160px;
        .footerMenuBlockList {
            margin-right: 40px;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
                .footerMenuListItem {
                    font-family: 'Roboto', sans-serif;
                    color: #fff;
                    font-weight: 200;
                    line-height: 24px;
                    font-size: 14px;
                }
            }
        }
    }
    .footerNewsletter {
        @media(max-width: 800px) {
            width: 80%;
            margin: auto;
            margin-top: 30px;
        }
        @media(max-width: 500px) {
            width: 100%;
        }
        .newsTitle {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            font-weight: 700;
            font-size: 38px;
            margin-bottom: 20px;
        }
        .newsText {
            max-width: 350px;
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            font-size: 24px;
            &:last-of-type {
                margin-bottom: 20px;
            }
        }
        .newsForm {
            display: flex;
            @media(max-width: 500px) {
                flex-wrap: wrap;
                justify-content: left;
            }
            .newsInput {
                box-sizing: border-box;
                max-width: 310px;
                width: 100%;
                height: 50px;
                border-radius: 30px;
                border: none;
                padding-left: 32px;
                &:focus {
                    outline: none;
                }
                &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #353233;
                font-size: 14px;
                opacity: 1; /* Firefox */
                }
                
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #353233;
                font-size: 14px;
                }
                
                &::-ms-input-placeholder { /* Microsoft Edge */
                color: #353233;
                font-size: 14px;
                }
            }
            .newsBtn {
                margin-left: 14px;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 4px;
                max-width: 230px;
                width: 100%;
                height: 50px;
                border-radius: 30px;
                border: none;
                color: #fff;
                background-color: #6568D0;
                @media(max-width: 500px) {
                    margin-left: 0;
                    margin-top: 15px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: rgb(126, 129, 210);
                    color: #fff;
                }
            }
        }
    }
}