@import 'variables';
.main-post {
    .cat-title-block {
        padding: 37px 0 27px;
        a {
            text-decoration: none;
            .cat-title {
                font-family: 'Montserrat', sans-serif;   
                font-size: 23px;
                font-weight: 700;
                color: #6568D0;
                margin-left: 10px;
                &.cat-line {
                    &:before {
                        top: calc(100% - 5px);
                    }
                }
            }
        }
    }
    .main-post-info {
        display: flex;
        @media(max-width: 500px) {
            flex-direction: column;
        }
        .main-post-content-block {
            width: 75%;
            @media(max-width: 500px) {
                width: 100%;
            }
            .main-post-img {
                display: flex;
                align-items: flex-end;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 322px;
                .main-post-title {
                    width: 70%;
                    margin-left: 47px;
                    margin-bottom: 42px;
                    font-family: 'Montserrat', sans-serif;   
                    font-size: 40px;
                    font-weight: bold;
                    color: #fff;
                }
                &.no-img {
                    .main-post-title {
                        color: #353233
                    }
                }
            }
            .main-post-text-content {
                img {
                    float: left;
                    margin-right: 16px;
                    max-width: 100%;
                    height: auto;
                    @media(max-width: 800px) {
                        float: unset;
                        margin: auto;
                    }
                }
                p {
                    font-family: 'Montserrat', sans-serif;
                    line-height: 200%;
                    letter-spacing: 1px;
                    color: #353233;
                    margin: 32px auto;
                }
                .medium-text-img-block {
                    display: flex;
                    align-items: center;
                    p {
                       margin: 0 0 0 13px;
                    }
                }
            }
        }
        .main-post-user-block {
            width: calc(100% - 75%);
            margin-left: 18px;
            @media(max-width: 500px) {
                width: 100%;
                margin: auto;
            }
            .post-user-title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 20px;
                color: #BFBFBF;
                text-align: center;
                margin-bottom: 11px;
            }
            .main-post-user-block-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #F7F7F7;
                padding: 32px 36px 15px;
                .user-img {
                    width: 166px;
                    height: 166px;
                    background-size: contain;
                    border-radius: 100%;
                    margin-bottom: 18px;
                }
                .user-name {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 24px;
                    color: #353233;
                    font-weight: 700;
                }
                .user-text {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #353233;
                    margin-top: 7px;
                }
                .user-block-content {
                    .user-block-content-footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 16px;
                        .see-more-link {
                            text-decoration: none;
                            .see-more-text {
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 300;
                                font-size: 14px;
                                color: #6568D0;
                            }
                        }
                        .social-link {
                            text-decoration: none;
                            color: #6568D0;
                            &:hover {
                                .fab {
                                    background-color: #6568D0;
                                    color: #fff;
                                }
                            }
                            .fab {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 32px;
                                height: 32px;
                                border: 1px solid #6568D0;
                                border-radius: 100%;
                            }
                        }
                    }
                }
            }
            .share-bottom {
                margin-top: 27px;
            }
            .social-list {
                display: flex;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: #6568D0;
                    &:not(:last-of-type) {
                        margin-right: 31px;
                    }
                    &:hover {
                        .fab {
                            background-color: #6568D0;
                            color: #fff;
                        }
                    }
                }
                .fab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #6568D0;
                    border-radius: 100%;
                    width: 43px;
                    height: 43px;
                }
            }
        }
    }
}
.articleBlock {
    margin-top: 64px;
}