@import 'main.scss';
.spotlight {
    margin-bottom: 50px;
    .wrapperContent {
        display: flex;
        @media(max-width: 800px) {
            flex-direction: column;
            box-sizing: border-box;
        }
    }
    .post-highlighted-lg {
        width: 58%;
        margin-top: 90px;
        border-top: 1px solid #353233;
        @media(max-width: 800px) {
            width: 100%;
        }
    }
    .post-highlighted-sm {
        width: calc( 100% - 58%);
        margin-top: 90px;
        margin-left: 43px;
        @media(max-width: 800px) {
            width: 100%;
            margin: 30px auto ;
        }
        .post-sm-bg {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            overflow: hidden;
            height: 346px;
            background-size: cover;
            background-position: center;
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 50%;
                background: rgb(0,0,0);
                background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
                background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            }
            .post-cat-block {
                position: absolute;
                box-sizing: border-box;
                top: 8px;
                width: 100%;
                padding: 0 8px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                a {
                    text-decoration: none;
                }
                .post-cat-item {
                    position: inherit;
                    margin: 8px 8px;
                }
            }
            .post-user {
                width: 62px;
                height: 62px;
                background-size: contain;
                bottom: -10px;
                left: -10px;
            }
            .post-title {
                position: relative;
                width: calc(100% - 140px);
                margin: 0 auto 23px;
                color: #fff;
            }
        }
        .post-sm-content {
            background-color: #F7F7F7;
            .post-content-block {
                padding: 30px;
            }
            .post-content-footer {
                .post-text {
                    color: #BFBFBF;
                }
            }
            .post-text {
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                font-family: 'Montserrat', sans-serif;
                color: #353233;
            }
            a {
                text-decoration: none;
                .post-link {
                    font-family: 'Montserrat', sans-serif;
                    color: #6568D0;
                    font-weight: bold;
                    font-size: 16px;
                    margin-top: 17px;
                    letter-spacing: 1.4px;
                    text-decoration: none;
                }
            }
            .post-content-footer {
                display: flex;
                justify-content: center;
                border-top: 0.5px solid #353233;
                .post-text {
                    margin: 13px 9px;
                }
            }
        }
    }
}
.data-post-block {
    display: flex;
    .data-text {
        margin-top: 9px;
        margin-bottom: 23px;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        color: #BFBFBF;
        &:not(:last-of-type) {
            margin-right: 26px;
        }
    }
}
.post-content {
    .post-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 38px;
        color: #353233;
        padding-bottom: 11px;
        border-bottom: 7px solid #353233;
    }
    .post-text {
        margin-top: 16px;
        color: #353233;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}
.post-img {
    position: relative;
    height: 155px;
    background-size: cover;
    &:before {
        content: '';
        width: 50px;
        height: calc(100% + 30px);
        position: absolute;
        left: -50px;
        background-color: #fff;
        z-index: 25;
    }
}
.post-user {
    position: absolute;
    width: 101px;
    height: 101px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -20px;
    left: -20px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 100%;
        width: calc(100% + 3px);
        height: calc(100% + 3px);
        border: 3px solid #fff;
        box-sizing: border-box;
    }
}
.post-cat-item {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 10px 15px;
    background-color: #6568D0;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 300;
    border-radius: 15px;
    color: #fff;
    border: 1px solid transparent;
    transition: all .3s;
    &:hover {
        color: #6568D0;
        background-color: #fff;
        border: 1px solid #6568D0;
        transition: all .3s;
    }
}
.articleBlock {
    margin-top: 60px;
}
.menu-article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 53px;
    @media(max-width: 800px) {
        padding: 0px 20px 53px;
    }
    a {
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 18px 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 700;
        border-radius: 30px;
        color: #6568D0;
        text-decoration: none;
        &:hover {
            background-color: #6568D0;
            color: #fff;
        }
        &.active {
            background-color: #6568D0;
            color: #fff;
        }
    }
}
.articleBlock {
    .articleBlockButton {
        .articleBtnLink {
            .articleBtn {
                display: flex;
                padding: 10px 0 !important;
                width: auto !important;
                &:before {
                    left: -25px;
                }
                &:after {
                    right: -25px;
                }
                a {
                    text-decoration: none;
                    color: #6568D0;
                    &:not(:last-of-type) {
                        p {
                            margin-right: 14px;
                        }
                    }
                }
            }
        } 
    } 
} 
