@import 'contato.scss';
body {
    font-family: 'Montserrat', sans-serif;
}
.cat-text {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 28px;
}
.post-title {
    max-width: 490px;
    color: #fff;
    margin-bottom: 32px;
}
.wrapperContent {
    @media(max-width: 800px) {
        box-sizing: border-box;
    }
}
.enterprise {
    .enterprise-bg {
        display: flex;
        justify-content: center;
        height: 540px;
        background-size: cover;
        background-position: center;
        .linkVideo {
            &:hover {
                .play-button-svg {
                    stroke: #6568D0;
                }
                .play-icon-svg {
                    fill: #6568D0;
                }
                text {
                    fill: #6568D0;
                }
            }
            .play-button-svg {
                stroke: #fff;
            }
            .play-icon-svg {
                fill: #fff;
            }
            text {
                fill: #fff;
            }
        }
    }
}
.mission {
    .wrapperContent {
        display: flex;
        @media(max-width: 1300px) {
            max-width: 100%;
        }
        @media(max-width: 800px) {
            padding: 0;
        }
        @media(max-width: 500px) {
            flex-direction: column;
        }
    }
    .mission-options-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
        width: 100%;
        background-color: #F0F0F0;
        .option-text-item {
            display: flex;
            align-items: center;
            .option-text {
                font-size: 27px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: #353233;
                &:hover {
                    cursor: pointer;
                }
            }
            &:before {
                content: '';
                display: block;
                width: 130px;
                height: 100px;
                background-image: url(../images/empresa/home_lozinsky_empresa-07.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 80%;
            }
            &.item-active {
                .option-text {
                    margin-left: -50px;
                }
                &:before {
                    content: '';
                    display: block;
                    width: 220px;
                    height: 120px;
                    background-image: url(../images/empresa/home_lozinsky_empresa-06.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 170px;
                    height: 120px;
                    background-image: url(../images/empresa/home_lozinsky_empresa-05.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
    .mission-info-block {
        width: calc(100% - 400px);
        @media(max-width: 500px) {
            width: 100%
        }
        .mission-info-item {
            background-image: url(../images/empresa/home_lozinsky_empresa-02.png);
            background-size: cover;
            display: none;
            height: 100%;
            &.visible {
                display: flex;
            }
            @media(max-width: 800px) {
                flex-direction: column;
            }
            .mission-info-list {
                width: 300px;
                margin-left: 70px;
                border-left: 1px solid #fff;
                padding-left: 14px;
                padding-top: 120px;
                padding-bottom: 100px;
                @media(max-width: 800px) {
                    margin-left: 20px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                &:last-of-type {
                    border-right: 1px solid #fff;
                    padding-right: 20px;
                    @media(max-width: 800px) {
                        padding-top: 0px;
                        border-right: none;
                    }
                }
                .info-list-item {
                    position: relative;
                    color: #fff;
                    margin-bottom: 40px;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 300;
                    @media(max-width: 800px) {
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        left: -18px;
                        top: 4px;
                        width: 8px;
                        height: 8px;
                        background-image: url(../images/empresa/dot.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}