@import 'reset';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'home';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.wrapperContent {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    @media(max-width: 800px) {
        padding: 0 10px;
        box-sizing: border-box;
    }
}

.text-mont {
    font-family: 'Montserrat', sans-serif;
}
.text-roboto {
    font-family: 'Roboto', sans-serif
}
.title-lg {
    font-weight: bold;
    font-size: 35px;
}
.title-md {
    font-size: 27px;
    font-weight: bold;
}
.text-bold {
    font-weight: bold;
}
.text-thin {
    font-weight: 100;
}
.text-light {
    font-weight: 300;
}
.text-xl {
    font-size: 32px
}
.text-lg {
    font-size: 24px;
}
.text-md {
    font-size: 16px;
}
.text-sm {
    font-size: 14px;
}
.cat-text {
    font-size: 19px;
    font-weight: 700;
}
.post-title {
    font-size: 35px;
    font-weight: 700;
}

// animation to-down
@keyframes toDown {
    0%   {width: 70px};
    // 25%  {width: 60px;}
    50%  {width: 20px};
    // 75%  {width: 60px};
    100% {width: 70px};
}

.cat-line {
    position: relative;
    z-index: 1;
    &:before {
        position: absolute;
        top: calc(50% + 1px);
        overflow: hidden;
        width: 50%;
        left: calc(-50% - 10px);
        height: 1px;
        content: '\a0';
        background-color: #6568D0;
        @media(max-width: 500px) {
            display: none;
        }
    }
}
.breadcumbs {
    background-color: #353334;
    .wrapperContent {
        display: flex;
    }
    .breadcumbsText {
        font-family: 'Montserrat', sans-serif;
        padding: 8px 0;
        font-size: 15px;
        color: #fff;
        &:not(:last-of-type) {
            &:after {
                content: '>';
                padding: 0 8px 
            }
        }
    }
}
.social-block {
    .social-list {
        display: flex;
        .social-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            border: 1px solid;
            border-radius: 100%;
            @media(min-width: 801px) {
                &:not(:last-of-type) {
                    margin-right: 28px;
                }
            }
            .fab {
                font-size: 28px;
            }
        }
    }
}

.linkToDown {
    position: absolute;
    left: 0;
    z-index: 25;
    bottom: 0;
    width: 71px;
    height: 178px;
    display: flex;
    background-color: #6568D0;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    text-decoration: none;
    @media(max-width: 800px) {
        display: none;
    }
    &:hover {
        .linkText {
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: #fff;
            transform: rotate(270deg);
            margin-top: -40px;
        }
    }
    .linkText {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #fff;
        transform: rotate(270deg);
        margin-top: -40px;
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 70px;
            height: 1px;
            background-color: #fff;
            bottom: calc(50% - 1px);
            left: -220%;
            animation: toDown 2s ease-in infinite
        }
    }
}
.associate {
    margin-top: 95px;
    .associate-top-block {
        max-width: 560px;
        margin: auto;
        margin-bottom: 37px;
        .text-xl{
            text-align: center;
            color: #BFBFBF;
            margin-bottom: 40px;
        }
        .text-sm {
            color: #353233;
            line-height: 20px;
            text-align: center;
        }
    }
    .associate-list {
        display: flex;
        flex-wrap: wrap;

        .associate-item {
            // max-width: 308px;
            max-width: 32%;
            display: flex;
            flex-direction: column;
            background-color: #F7F7F7;
            border: 2px solid #F0F1F1;
            box-sizing: border-box;
            margin-bottom: 19px;
            @media(min-width:801px) {
                &:not(:nth-of-type(3n)) {
                    margin-right: 2%;
                }
            }
            @media(max-width: 800px) and (min-width: 501px) {
                max-width: 48%;
                &:not(:nth-of-type(2n)) {
                    margin-right: 4%;
                }
            }
            @media(max-width: 500px) {
                max-width: 100%;
                width: 100%;
            }
            .associate-img {
                width: 195px;
                height: 195px;
                margin: 33px auto 18px;
                border-radius: 100%;
                background-color: #353233;
            }
            .associate-info {
                padding: 0 36px;
                .top-info-block {
                    .text-mont {
                        text-align: center;
                    }
                }
                .middle-info-block {
                    margin: 16px auto 8px;
                    .text-sm {
                        line-height: 20px;
                    }
                }
                .footer-info-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 25px;
                    a {
                        text-decoration: none;
                        color: #6568D0;
                    }
                    .footer-social-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                        border: 1px solid;
                    }
                }
            }
        }
    }
}
// btn de video
.linkVideo {
    &:hover {
        svg {
            margin-top: 5px;
            .play-button-svg {
                stroke: #fff;
                // fill: #6568D0;
            }
            .play-icon-svg {
                fill: #fff;
            }
            text {
                fill: #fff;
            }
        }
    }
    svg {
        margin-top: 5px;
        .play-button-svg {
            stroke: #6568D0;
            // fill: #6568D0;
        }
        .play-icon-svg {
            fill: #6568D0;
        }
        text {
            fill: #6568D0;
        }
    }
}
.control-post {
    @media(max-width: 500px) {
        margin-top: 40px;
    }
    .control-post-content {
        display: flex;
        justify-content: space-between;
        width: 75%;
        @media(max-width: 500px) {
            width: 100%;
        }
    }
    .control-link {
        position: relative;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #6568D0;
        &:nth-of-type(2n) {
            margin-right: 30px;
        }
        .prev-post {
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 138px;
                height: 1px;
                background-color: #6568D0;
                top: -14px;
                transition: transform 0.3s;
            }
            &:hover {
                &:before {
                    transform: translateX(14px);
                    transition: transform 0.3s;
                }
            }
        }
        .next-post {
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 138px;
                height: 1px;
                background-color: #6568D0;
                bottom: -14px;
                transform: translateX(14px);
                transition: transform 0.3s;
            }
            &:hover {
                &:after {
                    transform: translateX(0px);
                    transition: transform 0.3s;
                }
            }
        }
    }
}